openapi: 3.0.3
info:
  title: Cube Agents Canvases API
  version: 1.0.0 (1.0)
  description: "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n"
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Canvases
paths:
  /canvases:
    get:
      operationId: canvases_list
      description: 'List of all canvases available to the authenticated user company.


        - Results are ordered by creation date, newest first.

        - Each canvas includes basic metadata and an `is_liked` flag indicating whether the current user has liked it.

        - For performance reasons, related fields such as `tabs` and `shared_with` are **not included** in list responses.'
      summary: List all canvases.
      parameters:
      - in: query
        name: source
        schema:
          type: string
          enum:
          - DECKS
          - MCP
          - PLAN_MODE
          - WORKSPACE
        description: 'Filters the results to canvases with the given source.


          - By default, only `WORKSPACE` canvases are returned.

          - Use `?source=DECKS` to list only Decks-created canvases.'
      - in: query
        name: widget_type
        schema:
          type: string
          enum:
          - RANGE
          - TEMPLATE
          - TEXT
        description: 'Filters the results to canvases that include **at least one widget** of the given type.


          - If omitted, no widget-type filtering is applied.'
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CanvasListSchema'
              examples:
                ListCanvases:
                  value:
                  - id: 4cb1b0a7-d716-4248-998d-01c46ca90457
                    name: One Big Beautiful Canvas
                    description: Best Canvas Ever
                    sharing_scheme: MANAGERS
                    is_liked: true
                    created_by:
                      id: 1
                      first_name: John
                      last_name: Frusciante
                    created_at: 2026-07-19 00:28:02.193278+00:00
                    default_currency_id: null
                  summary: List Canvases
          description: ''
    post:
      operationId: canvases_create
      description: 'Create a new canvas under the authenticated user company.


        - Required fields typically include `name`, and optionally layout or metadata fields.

        - The response includes the full representation of the newly created canvas.'
      summary: Create a new canvas.
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Canvas'
            examples:
              CreateACanvas:
                value:
                  name: One Big Beautiful Canvas
                  description: Best Canvas Ever
                  sharing_scheme: MANAGERS
                summary: Create a Canvas
              CreateACanvasWithTabs:
                value:
                  name: One Big Beautiful Canvas
                  description: Best Canvas Ever
                  tabs:
                  - name: Mystical Tab
                summary: Create a Canvas with Tabs
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Canvas'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Canvas'
        required: true
      security:
      - OAuth2: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
              examples:
                CanvasCreated:
                  value:
                    id: 4cb1b0a7-d716-4248-998d-01c46ca90457
                    name: One Big Beautiful Canvas
                    description: Best Canvas Ever
                    sharing_scheme: MANAGERS
                    is_liked: true
                    created_by:
                      id: 1
                      first_name: John
                      last_name: Frusciante
                    created_at: 2026-07-19 00:28:02.193278+00:00
                    tabs: []
                    shared_with: []
                    default_currency_id: null
                  summary: Canvas Created
          description: ''
  /canvases/{canvas_pk}/tabs:
    post:
      operationId: canvases_tabs_create
      description: Create a new canvas tab.
      summary: Create a new canvas tab.
      parameters:
      - in: path
        name: canvas_pk
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanvasTab'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CanvasTab'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CanvasTab'
        required: true
      security:
      - OAuth2: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanvasTab'
          description: ''
  /canvases/{canvas_pk}/tabs/{id}:
    patch:
      operationId: canvases_tabs_partial_update
      description: Update specific fields of a canvas tab.
      summary: Update specific fields of a canvas tab.
      parameters:
      - in: path
        name: canvas_pk
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCanvasTab'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCanvasTab'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCanvasTab'
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanvasTab'
          description: ''
    delete:
      operationId: canvases_tabs_destroy
      description: Delete a canvas tab.
      summary: Delete a canvas tab.
      parameters:
      - in: path
        name: canvas_pk
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '204':
          description: No response body
  /canvases/{canvas_pk}/tabs/{id}/layout:
    put:
      operationId: canvases_tabs_layout_update
      description: Associate widgets with a canvas tab.
      summary: Associate widgets with a canvas tab.
      parameters:
      - in: path
        name: canvas_pk
        schema:
          type: string
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CanvasTab'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CanvasTab'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CanvasTab'
        required: true
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CanvasTab'
          description: ''
  /canvases/{id}:
    get:
      operationId: canvases_retrieve
      description: 'Retrieve details of a specific canvas by ID.


        - Includes all fields, including `tabs` and `shared_with` data.

        - This endpoint is intended for viewing a single canvas along with its associated tabs and widgets.'
      summary: Retrieve a specific canvas
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
              examples:
                RetrieveACanvas:
                  value:
                    id: 4cb1b0a7-d716-4248-998d-01c46ca90457
                    name: One Big Beautiful Canvas
                    description: Best Canvas Ever
                    sharing_scheme: MANAGERS
                    is_liked: true
                    created_by:
                      id: 1
                      first_name: John
                      last_name: Frusciante
                    created_at: 2026-07-19 00:28:02.193278+00:00
                    tabs:
                    - id: 36d35d99-0fe9-4622-97d0-d8e8ead2c475
                      name: Mystical Tab
                      position: 0
                      layout:
                      - layout_x: 8
                        layout_y: 0
                        height: 8
                        width: 4
                        widget:
                          id: 26474ad1-e1dc-46d6-943d-55ee2f9dfac9
                          name: Fabulous Range
                          settings:
                            name_visible: true
                            board_filter_exclusions: []
                            styles:
                              data_cells:
                                horizontal_alignment: right
                              row_headers:
                                horizontal_alignment: left
                              column_headers:
                                horizontal_alignment: center
                          type: RANGE
                          visual_type: LINE
                          data_sources:
                          - type: RANGE
                            object_id: '3'
                            settings:
                              content:
                                A1: Custom formula
                                A4: Total
                              formulas:
                                B2: =A1+A2
                                B4: =SUM(B2:B3)
                                C4: =SUM(B2:B3)
                                D4: =SUM(B2:B3)
                    shared_with: []
                    default_currency_id: null
                  summary: Retrieve a Canvas
          description: ''
    patch:
      operationId: canvases_partial_update
      description: 'Update one or more editable fields of an existing canvas.


        - Only the provided fields will be modified.

        - Non-editable fields (such as `id`, `company_id`, and timestamps) are ignored if included.

        - Returns the updated canvas representation.'
      summary: Partially update a canvas by ID.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCanvas'
            examples:
              PatchACanvas:
                value:
                  name: One Big Beautiful Canvas
                  description: Best Canvas Ever
                summary: Patch a Canvas
              PatchACanvasWithTabsAndLayout:
                value:
                  tabs:
                  - name: Mystical Tab
                    position: 0
                    layout:
                    - widget:
                        id: 51c46118-f9a9-47d6-803d-adf0b1d266b3
                      layout_x: 0
                      layout_y: 0
                      width: 4
                      height: 8
                summary: Patch a Canvas with tabs and layout
                description: Save the full tabs–widgets tree in one request.
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedCanvas'
            examples:
              PatchACanvas:
                value:
                  name: One Big Beautiful Canvas
                  description: Best Canvas Ever
                summary: Patch a Canvas
              PatchACanvasWithTabsAndLayout:
                value:
                  tabs:
                  - name: Mystical Tab
                    position: 0
                    layout:
                    - widget:
                        id: 51c46118-f9a9-47d6-803d-adf0b1d266b3
                      layout_x: 0
                      layout_y: 0
                      width: 4
                      height: 8
                summary: Patch a Canvas with tabs and layout
                description: Save the full tabs–widgets tree in one request.
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedCanvas'
            examples:
              PatchACanvas:
                value:
                  name: One Big Beautiful Canvas
                  description: Best Canvas Ever
                summary: Patch a Canvas
              PatchACanvasWithTabsAndLayout:
                value:
                  tabs:
                  - name: Mystical Tab
                    position: 0
                    layout:
                    - widget:
                        id: 51c46118-f9a9-47d6-803d-adf0b1d266b3
                      layout_x: 0
                      layout_y: 0
                      width: 4
                      height: 8
                summary: Patch a Canvas with tabs and layout
                description: Save the full tabs–widgets tree in one request.
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
              examples:
                PatchedCanvas:
                  value:
                    id: 4cb1b0a7-d716-4248-998d-01c46ca90457
                    name: One Big Beautiful Canvas
                    description: Best Canvas Ever
                    sharing_scheme: MANAGERS
                    is_liked: true
                    created_by:
                      id: 1
                      first_name: John
                      last_name: Frusciante
                    created_at: 2026-07-19 00:28:02.193278+00:00
                    tabs: []
                    shared_with: []
                    default_currency_id: null
                  summary: Patched Canvas
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_response_serializer'
              examples:
                InvalidTabs:
                  value:
                    data: {}
                    metadata:
                      status: 400
                      error: true
                      message: Expected a list of items but got type "str".
                      code: ''
                  summary: Invalid tabs
                  description: Payload validation failed due to incorrect `tabs` structure in the request. Ensure that the tabs data conforms to the expected 2D array format.
          description: ''
    delete:
      operationId: canvases_destroy
      description: Permanently delete a canvas by ID.
      summary: Delete a canvas.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '204':
          description: No response body
  /canvases/{id}/duplicate:
    post:
      operationId: canvases_duplicate_create
      description: Duplicate a canvas. The new canvas will be created with a new name and a copy of the layout.
      summary: Duplicate a canvas.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Canvas'
            examples:
              DuplicateACanvas(emptyPayload):
                value: {}
                summary: Duplicate a Canvas (empty payload)
              DuplicateACanvasWithTabs(nameSpecified):
                value:
                  name: What-A-Canvas
                summary: Duplicate a Canvas with Tabs (name specified)
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Canvas'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Canvas'
        required: true
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
          description: ''
  /canvases/{id}/like:
    post:
      operationId: canvases_like_create
      description: Like a canvas.
      summary: Like a canvas
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Canvas'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Canvas'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Canvas'
        required: true
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Canvas'
          description: ''
    delete:
      operationId: canvases_like_destroy
      description: Undo a canvas like.
      summary: Undo a canvas like.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '204':
          description: No response body
  /canvases/widgets:
    get:
      operationId: canvases_widgets_list
      description: List all widgets.
      summary: List all widgets.
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Widget'
          description: ''
    post:
      operationId: canvases_widgets_create
      description: Create a new widget.
      summary: Create a new widget.
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Widget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Widget'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Widget'
        required: true
      security:
      - OAuth2: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widget'
          description: ''
  /canvases/widgets/{id}:
    get:
      operationId: canvases_widgets_retrieve
      description: Retrieve details of a specific widget.
      summary: Retrieve details of a specific widget.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widget'
          description: ''
    patch:
      operationId: canvases_widgets_partial_update
      description: Update specific fields of a widget.
      summary: Update specific fields of a widget.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedWidget'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedWidget'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedWidget'
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Widget'
          description: ''
    delete:
      operationId: canvases_widgets_destroy
      description: 'This is a shortcut class that will include all 6 resourceful actions part of the DRF ViewSets:

        - list()

        - retrieve()

        - create()

        - update()

        - partial_update()

        - destroy()


        If you do not want to expose all 6 of these in your ViewSet, then use the CubeAuthenticatedViewSet and add the

        appropriate mixins to it (see rest_framework.mixins). This will allow the api to behave appropriately and block

        requests to unprocessable endpoints. Furthermore, it will make the drf_spectacular documentation be generated more

        easily.'
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      security:
      - OAuth2: []
      responses:
        '204':
          description: No response body
  /canvases/widgets/{id}/render:
    post:
      operationId: canvases_widgets_render_create
      description: 'Generates a PNG screenshot of the widget component by rendering it in a headless browser.


        - The screenshot is uploaded to S3 for record keeping.

        - Returns the PNG image directly.

        - Optional rendering parameters can be provided in the request body.'
      summary: Generate a screenshot of a widget component.
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Canvases
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetRenderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/WidgetRenderRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/WidgetRenderRequest'
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  image:
                    type: string
                    description: Base64-encoded PNG
          description: Base64-encoded PNG image of the rendered widget component
        '400':
          description: Bad request - invalid parameters
        '404':
          description: Widget not found
        '500':
          description: Error generating screenshot
components:
  schemas:
    PatchedCanvasTab:
      type: object
      description: Mixin to delegate create and update operations to a service class.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        canvas_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        position:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
        layout:
          type: array
          items:
            $ref: '#/components/schemas/CanvasTabWidget'
    error_response_serializer:
      type: object
      properties:
        data:
          type: object
          additionalProperties: {}
        metadata:
          $ref: '#/components/schemas/metadata_serializer'
      required:
      - data
      - metadata
    NullEnum:
      enum:
      - null
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      type: string
      description: '* `Africa/Abidjan` - Africa/Abidjan

        * `Africa/Accra` - Africa/Accra

        * `Africa/Addis_Ababa` - Africa/Addis_Ababa

        * `Africa/Algiers` - Africa/Algiers

        * `Africa/Asmara` - Africa/Asmara

        * `Africa/Asmera` - Africa/Asmera

        * `Africa/Bamako` - Africa/Bamako

        * `Africa/Bangui` - Africa/Bangui

        * `Africa/Banjul` - Africa/Banjul

        * `Africa/Bissau` - Africa/Bissau

        * `Africa/Blantyre` - Africa/Blantyre

        * `Africa/Brazzaville` - Africa/Brazzaville

        * `Africa/Bujumbura` - Africa/Bujumbura

        * `Africa/Cairo` - Africa/Cairo

        * `Africa/Casablanca` - Africa/Casablanca

        * `Africa/Ceuta` - Africa/Ceuta

        * `Africa/Conakry` - Africa/Conakry

        * `Africa/Dakar` - Africa/Dakar

        * `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam

        * `Africa/Djibouti` - Africa/Djibouti

        * `Africa/Douala` - Africa/Douala

        * `Africa/El_Aaiun` - Africa/El_Aaiun

        * `Africa/Freetown` - Africa/Freetown

        * `Africa/Gaborone` - Africa/Gaborone

        * `Africa/Harare` - Africa/Harare

        * `Africa/Johannesburg` - Africa/Johannesburg

        * `Africa/Juba` - Africa/Juba

        * `Africa/Kampala` - Africa/Kampala

        * `Africa/Khartoum` - Africa/Khartoum

        * `Africa/Kigali` - Africa/Kigali

        * `Africa/Kinshasa` - Africa/Kinshasa

        * `Africa/Lagos` - Africa/Lagos

        * `Africa/Libreville` - Africa/Libreville

        * `Africa/Lome` - Africa/Lome

        * `Africa/Luanda` - Africa/Luanda

        * `Africa/Lubumbashi` - Africa/Lubumbashi

        * `Africa/Lusaka` - Africa/Lusaka

        * `Africa/Malabo` - Africa/Malabo

        * `Africa/Maputo` - Africa/Maputo

        * `Africa/Maseru` - Africa/Maseru

        * `Africa/Mbabane` - Africa/Mbabane

        * `Africa/Mogadishu` - Africa/Mogadishu

        * `Africa/Monrovia` - Africa/Monrovia

        * `Africa/Nairobi` - Africa/Nairobi

        * `Africa/Ndjamena` - Africa/Ndjamena

        * `Africa/Niamey` - Africa/Niamey

        * `Africa/Nouakchott` - Africa/Nouakchott

        * `Africa/Ouagadougou` - Africa/Ouagadougou

        * `Africa/Porto-Novo` - Africa/Porto-Novo

        * `Africa/Sao_Tome` - Africa/Sao_Tome

        * `Africa/Timbuktu` - Africa/Timbuktu

        * `Africa/Tripoli` - Africa/Tripoli

        * `Africa/Tunis` - Africa/Tunis

        * `Africa/Windhoek` - Africa/Windhoek

        * `America/Adak` - America/Adak

        * `America/Anchorage` - America/Anchorage

        * `America/Anguilla` - America/Anguilla

        * `America/Antigua` - America/Antigua

        * `America/Araguaina` - America/Araguaina

        * `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires

        * `America/Argentina/Catamarca` - America/Argentina/Catamarca

        * `America/Argentina/ComodRivadavia` - America/Argentina/ComodRivadavia

        * `America/Argentina/Cordoba` - America/Argentina/Cordoba

        * `America/Argentina/Jujuy` - America/Argentina/Jujuy

        * `America/Argentina/La_Rioja` - America/Argentina/La_Rioja

        * `America/Argentina/Mendoza` - America/Argentina/Mendoza

        * `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos

        * `America/Argentina/Salta` - America/Argentina/Salta

        * `America/Argentina/San_Juan` - America/Argentina/San_Juan

        * `America/Argentina/San_Luis` - America/Argentina/San_Luis

        * `America/Argentina/Tucuman` - America/Argentina/Tucuman

        * `America/Argentina/Ushuaia` - America/Argentina/Ushuaia

        * `America/Aruba` - America/Aruba

        * `America/Asuncion` - America/Asuncion

        * `America/Atikokan` - America/Atikokan

        * `America/Atka` - America/Atka

        * `America/Bahia` - America/Bahia

        * `America/Bahia_Banderas` - America/Bahia_Banderas

        * `America/Barbados` - America/Barbados

        * `America/Belem` - America/Belem

        * `America/Belize` - America/Belize

        * `America/Blanc-Sablon` - America/Blanc-Sablon

        * `America/Boa_Vista` - America/Boa_Vista

        * `America/Bogota` - America/Bogota

        * `America/Boise` - America/Boise

        * `America/Buenos_Aires` - America/Buenos_Aires

        * `America/Cambridge_Bay` - America/Cambridge_Bay

        * `America/Campo_Grande` - America/Campo_Grande

        * `America/Cancun` - America/Cancun

        * `America/Caracas` - America/Caracas

        * `America/Catamarca` - America/Catamarca

        * `America/Cayenne` - America/Cayenne

        * `America/Cayman` - America/Cayman

        * `America/Chicago` - America/Chicago

        * `America/Chihuahua` - America/Chihuahua

        * `America/Ciudad_Juarez` - America/Ciudad_Juarez

        * `America/Coral_Harbour` - America/Coral_Harbour

        * `America/Cordoba` - America/Cordoba

        * `America/Costa_Rica` - America/Costa_Rica

        * `America/Coyhaique` - America/Coyhaique

        * `America/Creston` - America/Creston

        * `America/Cuiaba` - America/Cuiaba

        * `America/Curacao` - America/Curacao

        * `America/Danmarkshavn` - America/Danmarkshavn

        * `America/Dawson` - America/Dawson

        * `America/Dawson_Creek` - America/Dawson_Creek

        * `America/Denver` - America/Denver

        * `America/Detroit` - America/Detroit

        * `America/Dominica` - America/Dominica

        * `America/Edmonton` - America/Edmonton

        * `America/Eirunepe` - America/Eirunepe

        * `America/El_Salvador` - America/El_Salvador

        * `America/Ensenada` - America/Ensenada

        * `America/Fort_Nelson` - America/Fort_Nelson

        * `America/Fort_Wayne` - America/Fort_Wayne

        * `America/Fortaleza` - America/Fortaleza

        * `America/Glace_Bay` - America/Glace_Bay

        * `America/Godthab` - America/Godthab

        * `America/Goose_Bay` - America/Goose_Bay

        * `America/Grand_Turk` - America/Grand_Turk

        * `America/Grenada` - America/Grenada

        * `America/Guadeloupe` - America/Guadeloupe

        * `America/Guatemala` - America/Guatemala

        * `America/Guayaquil` - America/Guayaquil

        * `America/Guyana` - America/Guyana

        * `America/Halifax` - America/Halifax

        * `America/Havana` - America/Havana

        * `America/Hermosillo` - America/Hermosillo

        * `America/Indiana/Indianapolis` - America/Indiana/Indianapolis

        * `America/Indiana/Knox` - America/Indiana/Knox

        * `America/Indiana/Marengo` - America/Indiana/Marengo

        * `America/Indiana/Petersburg` - America/Indiana/Petersburg

        * `America/Indiana/Tell_City` - America/Indiana/Tell_City

        * `America/Indiana/Vevay` - America/Indiana/Vevay

        * `America/Indiana/Vincennes` - America/Indiana/Vincennes

        * `America/Indiana/Winamac` - America/Indiana/Winamac

        * `America/Indianapolis` - America/Indianapolis

        * `America/Inuvik` - America/Inuvik

        * `America/Iqaluit` - America/Iqaluit

        * `America/Jamaica` - America/Jamaica

        * `America/Jujuy` - America/Jujuy

        * `America/Juneau` - America/Juneau

        * `America/Kentucky/Louisville` - America/Kentucky/Louisville

        * `America/Kentucky/Monticello` - America/Kentucky/Monticello

        * `America/Knox_IN` - America/Knox_IN

        * `America/Kralendijk` - America/Kralendijk

        * `America/La_Paz` - America/La_Paz

        * `America/Lima` - America/Lima

        * `America/Los_Angeles` - America/Los_Angeles

        * `America/Louisville` - America/Louisville

        * `America/Lower_Princes` - America/Lower_Princes

        * `America/Maceio` - America/Maceio

        * `America/Managua` - America/Managua

        * `America/Manaus` - America/Manaus

        * `America/Marigot` - America/Marigot

        * `America/Martinique` - America/Martinique

        * `America/Matamoros` - America/Matamoros

        * `America/Mazatlan` - America/Mazatlan

        * `America/Mendoza` - America/Mendoza

        * `America/Menominee` - America/Menominee

        * `America/Merida` - America/Merida

        * `America/Metlakatla` - America/Metlakatla

        * `America/Mexico_City` - America/Mexico_City

        * `America/Miquelon` - America/Miquelon

        * `America/Moncton` - America/Moncton

        * `America/Monterrey` - America/Monterrey

        * `America/Montevideo` - America/Montevideo

        * `America/Montreal` - America/Montreal

        * `America/Montserrat` - America/Montserrat

        * `America/Nassau` - America/Nassau

        * `America/New_York` - America/New_York

        * `America/Nipigon` - America/Nipigon

        * `America/Nome` - America/Nome

        * `America/Noronha` - America/Noronha

        * `America/North_Dakota/Beulah` - America/North_Dakota/Beulah

        * `America/North_Dakota/Center` - America/North_Dakota/Center

        * `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem

        * `America/Nuuk` - America/Nuuk

        * `America/Ojinaga` - America/Ojinaga

        * `America/Panama` - America/Panama

        * `America/Pangnirtung` - America/Pangnirtung

        * `America/Paramaribo` - America/Paramaribo

        * `America/Phoenix` - America/Phoenix

        * `America/Port-au-Prince` - America/Port-au-Prince

        * `America/Port_of_Spain` - America/Port_of_Spain

        * `America/Porto_Acre` - America/Porto_Acre

        * `America/Porto_Velho` - America/Porto_Velho

        * `America/Puerto_Rico` - America/Puerto_Rico

        * `America/Punta_Arenas` - America/Punta_Arenas

        * `America/Rainy_River` - America/Rainy_River

        * `America/Rankin_Inlet` - America/Rankin_Inlet

        * `America/Recife` - America/Recife

        * `America/Regina` - America/Regina

        * `America/Resolute` - America/Resolute

        * `America/Rio_Branco` - America/Rio_Branco

        * `America/Rosario` - America/Rosario

        * `America/Santa_Isabel` - America/Santa_Isabel

        * `America/Santarem` - America/Santarem

        * `America/Santiago` - America/Santiago

        * `America/Santo_Domingo` - America/Santo_Domingo

        * `America/Sao_Paulo` - America/Sao_Paulo

        * `America/Scoresbysund` - America/Scoresbysund

        * `America/Shiprock` - America/Shiprock

        * `America/Sitka` - America/Sitka

        * `America/St_Barthelemy` - America/St_Barthelemy

        * `America/St_Johns` - America/St_Johns

        * `America/St_Kitts` - America/St_Kitts

        * `America/St_Lucia` - America/St_Lucia

        * `America/St_Thomas` - America/St_Thomas

        * `America/St_Vincent` - America/St_Vincent

        * `America/Swift_Current` - America/Swift_Current

        * `America/Tegucigalpa` - America/Tegucigalpa

        * `America/Thule` - America/Thule

        * `America/Thunder_Bay` - America/Thunder_Bay

        * `America/Tijuana` - America/Tijuana

        * `America/Toronto` - America/Toronto

        * `America/Tortola` - America/Tortola

        * `America/Vancouver` - America/Vancouver

        * `America/Virgin` - America/Virgin

        * `America/Whitehorse` - America/Whitehorse

        * `America/Winnipeg` - America/Winnipeg

        * `America/Yakutat` - America/Yakutat

        * `America/Yellowknife` - America/Yellowknife

        * `Antarctica/Casey` - Antarctica/Casey

        * `Antarctica/Davis` - Antarctica/Davis

        * `Antarctica/DumontDUrville` - Antarctica/DumontDUrville

        * `Antarctica/Macquarie` - Antarctica/Macquarie

        * `Antarctica/Mawson` - Antarctica/Mawson

        * `Antarctica/McMurdo` - Antarctica/McMurdo

        * `Antarctica/Palmer` - Antarctica/Palmer

        * `Antarctica/Rothera` - Antarctica/Rothera

        * `Antarctica/South_Pole` - Antarctica/South_Pole

        * `Antarctica/Syowa` - Antarctica/Syowa

        * `Antarctica/Troll` - Antarctica/Troll

        * `Antarctica/Vostok` - Antarctica/Vostok

        * `Arctic/Longyearbyen` - Arctic/Longyearbyen

        * `Asia/Aden` - Asia/Aden

        * `Asia/Almaty` - Asia/Almaty

        * `Asia/Amman` - Asia/Amman

        * `Asia/Anadyr` - Asia/Anadyr

        * `Asia/Aqtau` - Asia/Aqtau

        * `Asia/Aqtobe` - Asia/Aqtobe

        * `Asia/Ashgabat` - Asia/Ashgabat

        * `Asia/Ashkhabad` - Asia/Ashkhabad

        * `Asia/Atyrau` - Asia/Atyrau

        * `Asia/Baghdad` - Asia/Baghdad

        * `Asia/Bahrain` - Asia/Bahrain

        * `Asia/Baku` - Asia/Baku

        * `Asia/Bangkok` - Asia/Bangkok

        * `Asia/Barnaul` - Asia/Barnaul

        * `Asia/Beirut` - Asia/Beirut

        * `Asia/Bishkek` - Asia/Bishkek

        * `Asia/Brunei` - Asia/Brunei

        * `Asia/Calcutta` - Asia/Calcutta

        * `Asia/Chita` - Asia/Chita

        * `Asia/Choibalsan` - Asia/Choibalsan

        * `Asia/Chongqing` - Asia/Chongqing

        * `Asia/Chungking` - Asia/Chungking

        * `Asia/Colombo` - Asia/Colombo

        * `Asia/Dacca` - Asia/Dacca

        * `Asia/Damascus` - Asia/Damascus

        * `Asia/Dhaka` - Asia/Dhaka

        * `Asia/Dili` - Asia/Dili

        * `Asia/Dubai` - Asia/Dubai

        * `Asia/Dushanbe` - Asia/Dushanbe

        * `Asia/Famagusta` - Asia/Famagusta

        * `Asia/Gaza` - Asia/Gaza

        * `Asia/Harbin` - Asia/Harbin

        * `Asia/Hebron` - Asia/Hebron

        * `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh

        * `Asia/Hong_Kong` - Asia/Hong_Kong

        * `Asia/Hovd` - Asia/Hovd

        * `Asia/Irkutsk` - Asia/Irkutsk

        * `Asia/Istanbul` - Asia/Istanbul

        * `Asia/Jakarta` - Asia/Jakarta

        * `Asia/Jayapura` - Asia/Jayapura

        * `Asia/Jerusalem` - Asia/Jerusalem

        * `Asia/Kabul` - Asia/Kabul

        * `Asia/Kamchatka` - Asia/Kamchatka

        * `Asia/Karachi` - Asia/Karachi

        * `Asia/Kashgar` - Asia/Kashgar

        * `Asia/Kathmandu` - Asia/Kathmandu

        * `Asia/Katmandu` - Asia/Katmandu

        * `Asia/Khandyga` - Asia/Khandyga

        * `Asia/Kolkata` - Asia/Kolkata

        * `Asia/Krasnoyarsk` - Asia/Krasnoyarsk

        * `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur

        * `Asia/Kuching` - Asia/Kuching

        * `Asia/Kuwait` - Asia/Kuwait

        * `Asia/Macao` - Asia/Macao

        * `Asia/Macau` - Asia/Macau

        * `Asia/Magadan` - Asia/Magadan

        * `Asia/Makassar` - Asia/Makassar

        * `Asia/Manila` - Asia/Manila

        * `Asia/Muscat` - Asia/Muscat

        * `Asia/Nicosia` - Asia/Nicosia

        * `Asia/Novokuznetsk` - Asia/Novokuznetsk

        * `Asia/Novosibirsk` - Asia/Novosibirsk

        * `Asia/Omsk` - Asia/Omsk

        * `Asia/Oral` - Asia/Oral

        * `Asia/Phnom_Penh` - Asia/Phnom_Penh

        * `Asia/Pontianak` - Asia/Pontianak

        * `Asia/Pyongyang` - Asia/Pyongyang

        * `Asia/Qatar` - Asia/Qatar

        * `Asia/Qostanay` - Asia/Qostanay

        * `Asia/Qyzylorda` - Asia/Qyzylorda

        * `Asia/Rangoon` - Asia/Rangoon

        * `Asia/Riyadh` - Asia/Riyadh

        * `Asia/Saigon` - Asia/Saigon

        * `Asia/Sakhalin` - Asia/Sakhalin

        * `Asia/Samarkand` - Asia/Samarkand

        * `Asia/Seoul` - Asia/Seoul

        * `Asia/Shanghai` - Asia/Shanghai

        * `Asia/Singapore` - Asia/Singapore

        * `Asia/Srednekolymsk` - Asia/Srednekolymsk

        * `Asia/Taipei` - Asia/Taipei

        * `Asia/Tashkent` - Asia/Tashkent

        * `Asia/Tbilisi` - Asia/Tbilisi

        * `Asia/Tehran` - Asia/Tehran

        * `Asia/Tel_Aviv` - Asia/Tel_Aviv

        * `Asia/Thimbu` - Asia/Thimbu

        * `Asia/Thimphu` - Asia/Thimphu

        * `Asia/Tokyo` - Asia/Tokyo

        * `Asia/Tomsk` - Asia/Tomsk

        * `Asia/Ujung_Pandang` - Asia/Ujung_Pandang

        * `Asia/Ulaanbaatar` - Asia/Ulaanbaatar

        * `Asia/Ulan_Bator` - Asia/Ulan_Bator

        * `Asia/Urumqi` - Asia/Urumqi

        * `Asia/Ust-Nera` - Asia/Ust-Nera

        * `Asia/Vientiane` - Asia/Vientiane

        * `Asia/Vladivostok` - Asia/Vladivostok

        * `Asia/Yakutsk` - Asia/Yakutsk

        * `Asia/Yangon` - Asia/Yangon

        * `Asia/Yekaterinburg` - Asia/Yekaterinburg

        * `Asia/Yerevan` - Asia/Yerevan

        * `Atlantic/Azores` - Atlantic/Azores

        * `Atlantic/Bermuda` - Atlantic/Bermuda

        * `Atlantic/Canary` - Atlantic/Canary

        * `Atlantic/Cape_Verde` - Atlantic/Cape_Verde

        * `Atlantic/Faeroe` - Atlantic/Faeroe

        * `Atlantic/Faroe` - Atlantic/Faroe

        * `Atlantic/Jan_Mayen` - Atlantic/Jan_Mayen

        * `Atlantic/Madeira` - Atlantic/Madeira

        * `Atlantic/Reykjavik` - Atlantic/Reykjavik

        * `Atlantic/South_Georgia` - Atlantic/South_Georgia

        * `Atlantic/St_Helena` - Atlantic/St_Helena

        * `Atlantic/Stanley` - Atlantic/Stanley

        * `Australia/ACT` - Australia/ACT

        * `Australia/Adelaide` - Australia/Adelaide

        * `Australia/Brisbane` - Australia/Brisbane

        * `Australia/Broken_Hill` - Australia/Broken_Hill

        * `Australia/Canberra` - Australia/Canberra

        * `Australia/Currie` - Australia/Currie

        * `Australia/Darwin` - Australia/Darwin

        * `Australia/Eucla` - Australia/Eucla

        * `Australia/Hobart` - Australia/Hobart

        * `Australia/LHI` - Australia/LHI

        * `Australia/Lindeman` - Australia/Lindeman

        * `Australia/Lord_Howe` - Australia/Lord_Howe

        * `Australia/Melbourne` - Australia/Melbourne

        * `Australia/NSW` - Australia/NSW

        * `Australia/North` - Australia/North

        * `Australia/Perth` - Australia/Perth

        * `Australia/Queensland` - Australia/Queensland

        * `Australia/South` - Australia/South

        * `Australia/Sydney` - Australia/Sydney

        * `Australia/Tasmania` - Australia/Tasmania

        * `Australia/Victoria` - Australia/Victoria

        * `Australia/West` - Australia/West

        * `Australia/Yancowinna` - Australia/Yancowinna

        * `Brazil/Acre` - Brazil/Acre

        * `Brazil/DeNoronha` - Brazil/DeNoronha

        * `Brazil/East` - Brazil/East

        * `Brazil/West` - Brazil/West

        * `CET` - CET

        * `CST6CDT` - CST6CDT

        * `Canada/Atlantic` - Canada/Atlantic

        * `Canada/Central` - Canada/Central

        * `Canada/Eastern` - Canada/Eastern

        * `Canada/Mountain` - Canada/Mountain

        * `Canada/Newfoundland` - Canada/Newfoundland

        * `Canada/Pacific` - Canada/Pacific

        * `Canada/Saskatchewan` - Canada/Saskatchewan

        * `Canada/Yukon` - Canada/Yukon

        * `Chile/Continental` - Chile/Continental

        * `Chile/EasterIsland` - Chile/EasterIsland

        * `Cuba` - Cuba

        * `EET` - EET

        * `EST` - EST

        * `EST5EDT` - EST5EDT

        * `Egypt` - Egypt

        * `Eire` - Eire

        * `Etc/GMT` - Etc/GMT

        * `Etc/GMT+0` - Etc/GMT+0

        * `Etc/GMT+1` - Etc/GMT+1

        * `Etc/GMT+10` - Etc/GMT+10

        * `Etc/GMT+11` - Etc/GMT+11

        * `Etc/GMT+12` - Etc/GMT+12

        * `Etc/GMT+2` - Etc/GMT+2

        * `Etc/GMT+3` - Etc/GMT+3

        * `Etc/GMT+4` - Etc/GMT+4

        * `Etc/GMT+5` - Etc/GMT+5

        * `Etc/GMT+6` - Etc/GMT+6

        * `Etc/GMT+7` - Etc/GMT+7

        * `Etc/GMT+8` - Etc/GMT+8

        * `Etc/GMT+9` - Etc/GMT+9

        * `Etc/GMT-0` - Etc/GMT-0

        * `Etc/GMT-1` - Etc/GMT-1

        * `Etc/GMT-10` - Etc/GMT-10

        * `Etc/GMT-11` - Etc/GMT-11

        * `Etc/GMT-12` - Etc/GMT-12

        * `Etc/GMT-13` - Etc/GMT-13

        * `Etc/GMT-14` - Etc/GMT-14

        * `Etc/GMT-2` - Etc/GMT-2

        * `Etc/GMT-3` - Etc/GMT-3

        * `Etc/GMT-4` - Etc/GMT-4

        * `Etc/GMT-5` - Etc/GMT-5

        * `Etc/GMT-6` - Etc/GMT-6

        * `Etc/GMT-7` - Etc/GMT-7

        * `Etc/GMT-8` - Etc/GMT-8

        * `Etc/GMT-9` - Etc/GMT-9

        * `Etc/GMT0` - Etc/GMT0

        * `Etc/Greenwich` - Etc/Greenwich

        * `Etc/UCT` - Etc/UCT

        * `Etc/UTC` - Etc/UTC

        * `Etc/Universal` - Etc/Universal

        * `Etc/Zulu` - Etc/Zulu

        * `Europe/Amsterdam` - Europe/Amsterdam

        * `Europe/Andorra` - Europe/Andorra

        * `Europe/Astrakhan` - Europe/Astrakhan

        * `Europe/Athens` - Europe/Athens

        * `Europe/Belfast` - Europe/Belfast

        * `Europe/Belgrade` - Europe/Belgrade

        * `Europe/Berlin` - Europe/Berlin

        * `Europe/Bratislava` - Europe/Bratislava

        * `Europe/Brussels` - Europe/Brussels

        * `Europe/Bucharest` - Europe/Bucharest

        * `Europe/Budapest` - Europe/Budapest

        * `Europe/Busingen` - Europe/Busingen

        * `Europe/Chisinau` - Europe/Chisinau

        * `Europe/Copenhagen` - Europe/Copenhagen

        * `Europe/Dublin` - Europe/Dublin

        * `Europe/Gibraltar` - Europe/Gibraltar

        * `Europe/Guernsey` - Europe/Guernsey

        * `Europe/Helsinki` - Europe/Helsinki

        * `Europe/Isle_of_Man` - Europe/Isle_of_Man

        * `Europe/Istanbul` - Europe/Istanbul

        * `Europe/Jersey` - Europe/Jersey

        * `Europe/Kaliningrad` - Europe/Kaliningrad

        * `Europe/Kiev` - Europe/Kiev

        * `Europe/Kirov` - Europe/Kirov

        * `Europe/Kyiv` - Europe/Kyiv

        * `Europe/Lisbon` - Europe/Lisbon

        * `Europe/Ljubljana` - Europe/Ljubljana

        * `Europe/London` - Europe/London

        * `Europe/Luxembourg` - Europe/Luxembourg

        * `Europe/Madrid` - Europe/Madrid

        * `Europe/Malta` - Europe/Malta

        * `Europe/Mariehamn` - Europe/Mariehamn

        * `Europe/Minsk` - Europe/Minsk

        * `Europe/Monaco` - Europe/Monaco

        * `Europe/Moscow` - Europe/Moscow

        * `Europe/Nicosia` - Europe/Nicosia

        * `Europe/Oslo` - Europe/Oslo

        * `Europe/Paris` - Europe/Paris

        * `Europe/Podgorica` - Europe/Podgorica

        * `Europe/Prague` - Europe/Prague

        * `Europe/Riga` - Europe/Riga

        * `Europe/Rome` - Europe/Rome

        * `Europe/Samara` - Europe/Samara

        * `Europe/San_Marino` - Europe/San_Marino

        * `Europe/Sarajevo` - Europe/Sarajevo

        * `Europe/Saratov` - Europe/Saratov

        * `Europe/Simferopol` - Europe/Simferopol

        * `Europe/Skopje` - Europe/Skopje

        * `Europe/Sofia` - Europe/Sofia

        * `Europe/Stockholm` - Europe/Stockholm

        * `Europe/Tallinn` - Europe/Tallinn

        * `Europe/Tirane` - Europe/Tirane

        * `Europe/Tiraspol` - Europe/Tiraspol

        * `Europe/Ulyanovsk` - Europe/Ulyanovsk

        * `Europe/Uzhgorod` - Europe/Uzhgorod

        * `Europe/Vaduz` - Europe/Vaduz

        * `Europe/Vatican` - Europe/Vatican

        * `Europe/Vienna` - Europe/Vienna

        * `Europe/Vilnius` - Europe/Vilnius

        * `Europe/Volgograd` - Europe/Volgograd

        * `Europe/Warsaw` - Europe/Warsaw

        * `Europe/Zagreb` - Europe/Zagreb

        * `Europe/Zaporozhye` - Europe/Zaporozhye

        * `Europe/Zurich` - Europe/Zurich

        * `GB` - GB

        * `GB-Eire` - GB-Eire

        * `GMT` - GMT

        * `GMT+0` - GMT+0

        * `GMT-0` - GMT-0

        * `GMT0` - GMT0

        * `Greenwich` - Greenwich

        * `HST` - HST

        * `Hongkong` - Hongkong

        * `Iceland` - Iceland

        * `Indian/Antananarivo` - Indian/Antananarivo

        * `Indian/Chagos` - Indian/Chagos

        * `Indian/Christmas` - Indian/Christmas

        * `Indian/Cocos` - Indian/Cocos

        * `Indian/Comoro` - Indian/Comoro

        * `Indian/Kerguelen` - Indian/Kerguelen

        * `Indian/Mahe` - Indian/Mahe

        * `Indian/Maldives` - Indian/Maldives

        * `Indian/Mauritius` - Indian/Mauritius

        * `Indian/Mayotte` - Indian/Mayotte

        * `Indian/Reunion` - Indian/Reunion

        * `Iran` - Iran

        * `Israel` - Israel

        * `Jamaica` - Jamaica

        * `Japan` - Japan

        * `Kwajalein` - Kwajalein

        * `Libya` - Libya

        * `MET` - MET

        * `MST` - MST

        * `MST7MDT` - MST7MDT

        * `Mexico/BajaNorte` - Mexico/BajaNorte

        * `Mexico/BajaSur` - Mexico/BajaSur

        * `Mexico/General` - Mexico/General

        * `NZ` - NZ

        * `NZ-CHAT` - NZ-CHAT

        * `Navajo` - Navajo

        * `PRC` - PRC

        * `PST8PDT` - PST8PDT

        * `Pacific/Apia` - Pacific/Apia

        * `Pacific/Auckland` - Pacific/Auckland

        * `Pacific/Bougainville` - Pacific/Bougainville

        * `Pacific/Chatham` - Pacific/Chatham

        * `Pacific/Chuuk` - Pacific/Chuuk

        * `Pacific/Easter` - Pacific/Easter

        * `Pacific/Efate` - Pacific/Efate

        * `Pacific/Enderbury` - Pacific/Enderbury

        * `Pacific/Fakaofo` - Pacific/Fakaofo

        * `Pacific/Fiji` - Pacific/Fiji

        * `Pacific/Funafuti` - Pacific/Funafuti

        * `Pacific/Galapagos` - Pacific/Galapagos

        * `Pacific/Gambier` - Pacific/Gambier

        * `Pacific/Guadalcanal` - Pacific/Guadalcanal

        * `Pacific/Guam` - Pacific/Guam

        * `Pacific/Honolulu` - Pacific/Honolulu

        * `Pacific/Johnston` - Pacific/Johnston

        * `Pacific/Kanton` - Pacific/Kanton

        * `Pacific/Kiritimati` - Pacific/Kiritimati

        * `Pacific/Kosrae` - Pacific/Kosrae

        * `Pacific/Kwajalein` - Pacific/Kwajalein

        * `Pacific/Majuro` - Pacific/Majuro

        * `Pacific/Marquesas` - Pacific/Marquesas

        * `Pacific/Midway` - Pacific/Midway

        * `Pacific/Nauru` - Pacific/Nauru

        * `Pacific/Niue` - Pacific/Niue

        * `Pacific/Norfolk` - Pacific/Norfolk

        * `Pacific/Noumea` - Pacific/Noumea

        * `Pacific/Pago_Pago` - Pacific/Pago_Pago

        * `Pacific/Palau` - Pacific/Palau

        * `Pacific/Pitcairn` - Pacific/Pitcairn

        * `Pacific/Pohnpei` - Pacific/Pohnpei

        * `Pacific/Ponape` - Pacific/Ponape

        * `Pacific/Port_Moresby` - Pacific/Port_Moresby

        * `Pacific/Rarotonga` - Pacific/Rarotonga

        * `Pacific/Saipan` - Pacific/Saipan

        * `Pacific/Samoa` - Pacific/Samoa

        * `Pacific/Tahiti` - Pacific/Tahiti

        * `Pacific/Tarawa` - Pacific/Tarawa

        * `Pacific/Tongatapu` - Pacific/Tongatapu

        * `Pacific/Truk` - Pacific/Truk

        * `Pacific/Wake` - Pacific/Wake

        * `Pacific/Wallis` - Pacific/Wallis

        * `Pacific/Yap` - Pacific/Yap

        * `Poland` - Poland

        * `Portugal` - Portugal

        * `ROC` - ROC

        * `ROK` - ROK

        * `Singapore` - Singapore

        * `Turkey` - Turkey

        * `UCT` - UCT

        * `US/Alaska` - US/Alaska

        * `US/Aleutian` - US/Aleutian

        * `US/Arizona` - US/Arizona

        * `US/Central` - US/Central

        * `US/East-Indiana` - US/East-Indiana

        * `US/Eastern` - US/Eastern

        * `US/Hawaii` - US/Hawaii

        * `US/Indiana-Starke` - US/Indiana-Starke

        * `US/Michigan` - US/Michigan

        * `US/Mountain` - US/Mountain

        * `US/Pacific` - US/Pacific

        * `US/Samoa` - US/Samoa

        * `UTC` - UTC

        * `Universal` - Universal

        * `W-SU` - W-SU

        * `WET` - WET

        * `Zulu` - Zulu'
    SharingScheme2f1Enum:
      enum:
      - ALL
      - MANAGERS
      - SPECIFIC
      type: string
      description: '* `ALL` - All Team Members

        * `MANAGERS` - Managers Only

        * `SPECIFIC` - Specific Users'
    WidgetTypeEnum:
      enum:
      - RANGE
      - TEMPLATE
      - TEXT
      type: string
      description: '* `RANGE` - Range

        * `TEMPLATE` - Template

        * `TEXT` - Text'
    PatchedCanvas:
      type: object
      description: Mixin to delegate create and update operations to a service class.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 50
        description:
          type: string
          nullable: true
        sharing_scheme:
          $ref: '#/components/schemas/SharingScheme2f1Enum'
        source:
          $ref: '#/components/schemas/Source251Enum'
        filters: {}
        default_currency_id:
          type: integer
          nullable: true
        shared_with:
          type: array
          items:
            type: string
            nullable: true
        tabs:
          type: array
          items:
            $ref: '#/components/schemas/CanvasTab'
        is_liked:
          type: boolean
          readOnly: true
        created_by:
          allOf:
          - $ref: '#/components/schemas/User'
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
    CanvasListSchema:
      type: object
      properties:
        name:
          type: string
          maxLength: 50
        filters: {}
        default_currency_id:
          type: integer
          nullable: true
        is_liked:
          type: boolean
          readOnly: true
        created_by:
          allOf:
          - $ref: '#/components/schemas/User'
          readOnly: true
        id:
          type: string
          format: uuid
          readOnly: true
        description:
          type: string
          nullable: true
        sharing_scheme:
          $ref: '#/components/schemas/SharingScheme2f1Enum'
        source:
          $ref: '#/components/schemas/Source251Enum'
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - created_by
      - id
      - is_liked
      - name
    PatchedWidget:
      type: object
      description: "A serializer that conditionally includes optional fields based on context.\n\nOptional fields should be listed in `Meta.read_optional_fields`. To include them\nin the output, pass a list via `context['include_fields']` (for top-level serializers)\nor `context[<nested_path>]['include_fields']` (for nested serializers).\n\nExamples:\n    class ChildSerializer(IncludeOptionalFieldsSerializerMixin, serializers.ModelSerializer):\n        extra = serializers.CharField()\n        class Meta:\n            model = Child\n            fields = ['id', 'extra']\n            read_optional_fields = ['extra']\n\n    class ParentSerializer(IncludeOptionalFieldsSerializerMixin, serializers.ModelSerializer):\n        child = ChildSerializer()\n        expensive = serializers.CharField()\n        class Meta:\n            model = Parent\n            fields = ['id', 'child', 'expensive']\n            read_optional_fields = ['expensive']\n\n    # Top-level usage (includes 'expensive' field)\n    ParentSerializer(instance, context={'include_fields': ['expensive']}).data\n\n    # Nested usage (includes 'extra' field inside child)\n    ParentSerializer(\n        instance,\n        context={'child': {'include_fields': ['extra']}}\n    ).data"
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/WidgetTypeEnum'
        visual_type:
          $ref: '#/components/schemas/VisualTypeEnum'
        settings: {}
        data_sources:
          type: array
          items:
            $ref: '#/components/schemas/WidgetDataSource'
    CanvasTab:
      type: object
      description: Mixin to delegate create and update operations to a service class.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        position:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
        layout:
          type: array
          items:
            $ref: '#/components/schemas/CanvasTabWidget'
      required:
      - id
      - name
    WidgetRenderFilter:
      type: object
      properties:
        tld_id:
          type: integer
          description: Top-level dimension ID
        value:
          type: string
          description: Dimension member ID to filter by
      required:
      - tld_id
      - value
    RelationshipTypeEnum:
      enum:
      - EMPLOYEE
      - PARTNER
      type: string
      description: '* `EMPLOYEE` - Employee

        * `PARTNER` - Partner'
    Widget:
      type: object
      description: "A serializer that conditionally includes optional fields based on context.\n\nOptional fields should be listed in `Meta.read_optional_fields`. To include them\nin the output, pass a list via `context['include_fields']` (for top-level serializers)\nor `context[<nested_path>]['include_fields']` (for nested serializers).\n\nExamples:\n    class ChildSerializer(IncludeOptionalFieldsSerializerMixin, serializers.ModelSerializer):\n        extra = serializers.CharField()\n        class Meta:\n            model = Child\n            fields = ['id', 'extra']\n            read_optional_fields = ['extra']\n\n    class ParentSerializer(IncludeOptionalFieldsSerializerMixin, serializers.ModelSerializer):\n        child = ChildSerializer()\n        expensive = serializers.CharField()\n        class Meta:\n            model = Parent\n            fields = ['id', 'child', 'expensive']\n            read_optional_fields = ['expensive']\n\n    # Top-level usage (includes 'expensive' field)\n    ParentSerializer(instance, context={'include_fields': ['expensive']}).data\n\n    # Nested usage (includes 'extra' field inside child)\n    ParentSerializer(\n        instance,\n        context={'child': {'include_fields': ['extra']}}\n    ).data"
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        type:
          $ref: '#/components/schemas/WidgetTypeEnum'
        visual_type:
          $ref: '#/components/schemas/VisualTypeEnum'
        settings: {}
        data_sources:
          type: array
          items:
            $ref: '#/components/schemas/WidgetDataSource'
      required:
      - id
      - name
      - type
      - visual_type
    WidgetDataSource:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        widget_id:
          type: string
          format: uuid
          readOnly: true
        settings: {}
        type:
          type: string
          writeOnly: true
        object_id:
          type: string
          maxLength: 36
      required:
      - id
      - object_id
      - type
      - widget_id
    Canvas:
      type: object
      description: Mixin to delegate create and update operations to a service class.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 50
        description:
          type: string
          nullable: true
        sharing_scheme:
          $ref: '#/components/schemas/SharingScheme2f1Enum'
        source:
          $ref: '#/components/schemas/Source251Enum'
        filters: {}
        default_currency_id:
          type: integer
          nullable: true
        shared_with:
          type: array
          items:
            type: string
            nullable: true
        tabs:
          type: array
          items:
            $ref: '#/components/schemas/CanvasTab'
        is_liked:
          type: boolean
          readOnly: true
        created_by:
          allOf:
          - $ref: '#/components/schemas/User'
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - created_by
      - id
      - is_liked
      - name
    CanvasTabWidget:
      type: object
      properties:
        widget:
          type: string
          format: uuid
        layout_x:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
        layout_y:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
        width:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
        height:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
      required:
      - layout_x
      - layout_y
      - widget
    User:
      type: object
      description: 'A serializer mixin that allows dynamic inclusion or exclusion of serializer fields by

        passing `fields=[...]` or `exclude_fields=[...]` when initializing.'
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        created_at:
          type: string
          format: date-time
          readOnly: true
        email:
          type: string
          format: email
          maxLength: 254
        is_staff:
          type: boolean
          readOnly: true
        is_cube_staff:
          type: boolean
          readOnly: true
        relationship_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RelationshipTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        timezone:
          $ref: '#/components/schemas/TimezoneEnum'
      required:
      - created_at
      - email
      - id
      - is_cube_staff
      - is_staff
    Source251Enum:
      enum:
      - WORKSPACE
      - DECKS
      - MCP
      - PLAN_MODE
      type: string
      description: '* `WORKSPACE` - Workspace

        * `DECKS` - Decks

        * `MCP` - MCP

        * `PLAN_MODE` - Plan Mode'
    metadata_serializer:
      type: object
      properties:
        status:
          type: integer
        error:
          type: boolean
        message:
          type: string
        code:
          type: string
      required:
      - code
      - error
      - message
      - status
    VisualTypeEnum:
      enum:
      - TEXT
      - DATA_TABLE
      - LINE
      - BAR
      - ROW
      - COMBO
      - PIE
      - DONUT
      - METRIC
      - TREND
      - WATERFALL
      type: string
      description: '* `TEXT` - Text

        * `DATA_TABLE` - Data Table

        * `LINE` - Line Chart

        * `BAR` - Bar Chart

        * `ROW` - Row Chart

        * `COMBO` - Combo Chart

        * `PIE` - Pie Chart

        * `DONUT` - Donut Chart

        * `METRIC` - Metric

        * `TREND` - Trend

        * `WATERFALL` - Waterfall Chart'
    BlankEnum:
      enum:
      - ''
    WidgetRenderRequest:
      type: object
      properties:
        width:
          type: integer
          description: Viewport width in pixels
        height:
          type: integer
          description: Viewport height in pixels
        enable_branding:
          type: boolean
          description: Whether to show branding overlay on the widget
        enable_filters:
          type: boolean
          description: Whether to show filters overlay on the widget
        enable_timestamp:
          type: boolean
          description: Whether to show timestamp overlay on the widget
        filters:
          type: array
          items:
            $ref: '#/components/schemas/WidgetRenderFilter'
          description: Dimension filters to apply at render time
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
