openapi: 3.0.3
info:
  title: Cube Agents Cube Data API
  version: 1.0.0 (1.0)
  description: "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n"
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Cube Data
  description: The data stored in a cube for a company, organized by their dimensions.
paths:
  /cube/analyze:
    post:
      operationId: cube_analyze_create
      description: "Analyzes a 2D array of data representing potential data for the cube\n        and determines where the various dimensions are within that data.\n        "
      summary: Analyze Matrix For Dimensions
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubeAnalyze'
            examples:
              MatrixExample:
                value:
                  address: A1:C3
                  matrix:
                  - - null
                    - Q1-22
                    - '2022'
                  - - Operating Expenses
                    - '123.34'
                  - - Income Statement
                    - '0.02'
                summary: Matrix Example
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CubeAnalyze'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CubeAnalyze'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Matrix'
              examples:
                FullExample:
                  value:
                    rows:
                    - dimensions:
                      - id: null
                        parent_id: 1
                        name: Operating Expenses
                        active: true
                        status: ENABLED
                        type: BASIC
                        rollup_type: null
                        formula: null
                        write_protection: NONE
                        position: 1
                        special_case_id: null
                        date: null
                        has_children: false
                        write_block_reason: null
                        metadata: null
                      - id: null
                        parent_id: 1
                        name: Income Statement
                        active: true
                        status: ENABLED
                        type: BASIC
                        rollup_type: null
                        formula: null
                        write_protection: NONE
                        position: 1
                        special_case_id: null
                        date: null
                        has_children: false
                        write_block_reason: null
                        metadata: null
                      tld:
                        id: 1
                        parent_id: null
                        name: Account
                        active: true
                        status: ENABLED
                        type: BASIC
                        rollup_type: null
                        formula: null
                        write_protection: NONE
                        position: 1
                        special_case_id: null
                        date: null
                        has_children: false
                        write_block_reason: null
                        metadata: null
                      address: A2:A3
                    columns:
                    - dimensions:
                      - id: null
                        parent_id: null
                        name: Q1-22
                        active: true
                        status: ENABLED
                        type: BASIC
                        rollup_type: null
                        formula: null
                        write_protection: NONE
                        position: 1
                        special_case_id: null
                        date: '2022-03-31'
                        has_children: false
                        write_block_reason: null
                        metadata: null
                      - id: null
                        parent_id: 10
                        name: '2022'
                        active: true
                        status: ENABLED
                        type: BASIC
                        rollup_type: null
                        formula: null
                        write_protection: NONE
                        position: 1
                        special_case_id: null
                        date: '2022-12-31'
                        has_children: false
                        write_block_reason: null
                        metadata: null
                      tld:
                        id: 10
                        parent_id: null
                        name: Time
                        active: true
                        status: ENABLED
                        type: BASIC
                        rollup_type: null
                        formula: null
                        write_protection: NONE
                        position: 1
                        special_case_id: null
                        date: null
                        has_children: false
                        write_block_reason: null
                        metadata: null
                      address: B1:C1
                  summary: Full Example
          description: ''
  /cube/export:
    get:
      operationId: cube_export_list
      description: List all exports
      summary: List all exports
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BusinessIntelligenceExport'
          description: ''
    post:
      operationId: cube_export_create
      description: Begin an export
      summary: Begin an export
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BusinessIntelligenceExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BusinessIntelligenceExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BusinessIntelligenceExport'
      security:
      - OAuth2: []
      - {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BusinessIntelligenceExport'
          description: ''
  /cube/export/notification/stale-data:
    get:
      operationId: cube_export_notification_stale_data_retrieve
      summary: Get stale data notification details
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaleBiDataNotification'
              examples:
                Paused:
                  value:
                    paused: true
                    paused_at: '2026-07-19T00:28:02+00:00'
                NotPaused:
                  value:
                    paused: false
                    paused_at: null
                  summary: Not paused
          description: ''
    put:
      operationId: cube_export_notification_stale_data_update
      summary: Set stale data notification details
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                paused:
                  type: boolean
              required:
              - paused
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaleBiDataNotification'
              examples:
                Paused:
                  value:
                    paused: true
                    paused_at: '2026-07-19T00:28:02+00:00'
                NotPaused:
                  value:
                    paused: false
                    paused_at: null
                  summary: Not paused
          description: ''
  /cube/export/schedule:
    get:
      operationId: cube_export_schedule_list
      description: Retrieve a BI data export schedule
      summary: Retrieve a BI data export schedule
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ScheduledDataExport'
          description: ''
    post:
      operationId: cube_export_schedule_create
      description: Create a BI data export schedule
      summary: Create a BI data export schedule
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduledDataExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ScheduledDataExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ScheduledDataExport'
      security:
      - OAuth2: []
      - {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledDataExport'
          description: ''
  /cube/export/schedule/{id}:
    patch:
      operationId: cube_export_schedule_partial_update
      description: Update a BI data export schedule
      summary: Update a BI data export schedule
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedScheduledDataExport'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedScheduledDataExport'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedScheduledDataExport'
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledDataExport'
          description: ''
    delete:
      operationId: cube_export_schedule_destroy
      description: Delete a BI data export schedule
      summary: Delete a BI data export schedule
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Cube Data
      security:
      - OAuth2: []
      - {}
      responses:
        '204':
          description: No response body
  /cube/pivot:
    post:
      operationId: cube_pivot_create
      description: 'This endpoint retrieves values stored in the OLAP cube for a given company. Any record with a null ID is a calculated value (i.e. rollups) whereas records with IDs are values explicitly stored in the cube.


        This endpoint is useful when creating reports out of data in the cube. Like a pivot table, you are able to specify which dimensions are in your rows / columns for the report, and the API will figure out the appropriate data to pull. In the example on the right, the "Account" dimension is provided as rows with "Scenario" and "Time" being provided as columns. Therefore, the "Department" dimension must be provided as a filter.


        You are able to pass either the names of the dimensions or their IDs as parameters.'
      summary: Get Cube Values
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: The ID of the company that is making the request if the authenticated user has access to numerous companies
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubePivot'
            examples:
              Row&ColumnExample:
                value:
                  filters:
                    Department: Consolidated Only
                  rows:
                  - - Revenue
                    - COGS
                  columns:
                  - - Budget
                    - Actuals
                    - Budget
                    - Actuals
                  - - Jan-19
                    - Jan-19
                    - Feb-19
                    - Feb-19
                summary: Row & Column Example
              MatrixExample:
                value:
                  filters:
                    Department: Consolidated Only
                    Scenario: Budget
                  matrix:
                  - - null
                    - Jan-19
                    - Feb-19
                    - Mar-19
                    - Q1-19
                  - - Meetings & Conferences
                    - null
                    - null
                    - null
                    - null
                  - - Legal Fees
                    - null
                    - null
                    - null
                    - null
                  - - Operating Expenses
                    - null
                    - null
                    - null
                    - null
                  - - Income Statement
                    - null
                    - null
                    - null
                    - null
                summary: Matrix Example
              RelativeDateExample:
                value:
                  filters:
                    Department: Consolidated Only
                    Scenario: Actuals
                    Time: last month
                  rows:
                  - - Revenue
                    - COGS
                  columns:
                  - - last month
                    - this month
                    - this month T3M
                    - Last 3 Months
                summary: Relative Date Example
                description: 'Time dimensions support relative date phrases like "last month", "this month", "current quarter", "last year", etc. These can be used in rows, columns, or filters. Natural language time aggregations are also supported: "Last 3 Months", "Next 4 Months", "Last 2 Years", "Next 3 Quarters", and their exclusive variants.'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CubePivot'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CubePivot'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CubePivotResponse'
              examples:
                FullExample:
                  value:
                  - id: 07c991586dfd4593add48225d06352b6
                    value: '1.00'
                    dimensions:
                      Account:
                      - id: 5192
                        name: Income Statement
                        active: true
                        status: ENABLED
                      - id: 5693
                        name: Revenue
                        active: true
                        status: ENABLED
                      - id: 5695
                        name: Product Revenue
                        active: true
                        status: ENABLED
                      Scenario:
                      - id: 5196
                        name: Actuals
                        active: true
                        status: ENABLED
                      Time:
                      - id: 5217
                        name: '2019'
                        active: true
                        status: ENABLED
                      - id: 5218
                        name: Q1-20
                        active: true
                        status: ENABLED
                      - id: 5219
                        name: Jan-20
                        active: true
                        status: ENABLED
                      Department:
                      - id: 5194
                        name: Consolidated Only
                        active: true
                        status: ENABLED
                  - id: null
                    value: '3.00'
                    dimensions:
                      Account:
                      - id: 5192
                        name: Income Statement
                        active: true
                        status: ENABLED
                      - id: 5700
                        name: Gross Revenue
                        active: true
                        status: ENABLED
                      Scenario:
                      - id: 5196
                        name: Actuals
                        active: true
                        status: ENABLED
                      Time:
                      - id: 5217
                        name: '2019'
                        active: true
                        status: ENABLED
                      - id: 5218
                        name: Q1
                        active: true
                        status: ENABLED
                      - id: 5221
                        name: March
                        active: true
                        status: ENABLED
                      Department:
                      - id: 5194
                        name: Consolidated Only
                        active: true
                        status: ENABLED
                  summary: Full Example
          description: ''
  /cube/pivot/sources:
    post:
      operationId: cube_pivot_sources_create
      description: This endpoint retrieves the data sources powering the cube values for requested cross-sections.The full Source DataTable and ERP Connection details are provided, including the status of most recent import.
      summary: Get Cube Value Sources
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: The ID of the company that is making the request if the authenticated user has access to numerous companies
        required: true
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubePivotSources'
            examples:
              MatrixExample:
                value:
                  filters:
                    Department: All Departments
                    Scenario: Budget
                    Entity: All Entities
                  matrix:
                  - - null
                    - Jan-25
                    - Feb-25
                    - Mar-25
                    - Q2-25
                  - - Meetings & Conferences
                    - null
                    - null
                    - null
                    - null
                    - null
                  - - Legal Fees
                    - null
                    - null
                    - null
                    - null
                    - null
                  - - Operating Expenses
                    - null
                    - null
                    - null
                    - null
                    - null
                  - - Income Statement
                    - null
                    - null
                    - null
                    - null
                    - null
                summary: Matrix Example
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CubePivotSources'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CubePivotSources'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CubePivotSourceResponse'
          description: The data table object
  /cube/update:
    post:
      operationId: cube_update_create
      description: This endpoint can be used to update data in the OLAP cube. The message will be used in the changelog for any changes to data. The raw data of the matrix as well as the filters should be passed. The data for `matrix.data` should be a 2D array of data similar to a spreadsheet. At least one row and one column of dimension names should be provided. The data in `matrix.filters` would contain values for any top level dimension that isn't a part of the passed 2D data matrix.
      summary: Update Cube Values
      parameters:
      - in: query
        name: background
        schema:
          type: boolean
        description: Pass `true` to force the `DATA_UPDATE_BACKGROUNDED` behavior.
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubeUpdateRequest'
            examples:
              ValuesAsStringsExample:
                value:
                  message: A message for this change
                  matrix:
                    filters:
                      Department: 5345
                      Scenario: 345
                    data:
                    - - null
                      - Jan-19
                      - Feb-19
                      - Mar-19
                      - Q1-19
                    - - Meetings & Conferences
                      - 1
                      - 2
                      - 3
                      - 6
                    - - Legal Fees
                      - 11
                      - 22
                      - 33
                      - 66
                    - - Operating Expenses
                      - 12
                      - 24
                      - 36
                      - 72
                    - - Income Statement
                      - null
                      - null
                      - null
                      - null
                summary: Values as Strings Example
              ValuesAsDictionariesExample:
                value:
                  message: A message for this change
                  matrix:
                    filters:
                      Department: 5345
                      Scenario: 345
                    data:
                    - - {}
                      - value: Jan-19
                        date: '2019-01-31 00:00:00'
                      - value: Feb-19
                        date: '2019-02-28 00:00:00'
                      - value: Mar-19
                        date: '2019-03-31 00:00:00'
                    - - value: Meetings & Conferences
                      - value: 1
                      - value: 2
                      - value: 3
                summary: Values as Dictionaries Example
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CubeUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CubeUpdateRequest'
        required: true
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CubeUpdateResponse'
          description: '`DATA_UPDATED` - Data was successfully updated as part of this request


            `NO_DATA_UPDATED` - The request was successful, but no data was modified by it


            `DATA_UPDATE_BACKGROUNDED` - Due to the amount of data sent, it will be processed in the background'
  /cube/update_batch:
    post:
      operationId: cube_update_batch_create
      description: Submit multiple matrix publishes in one request. Batch-level `message`, `currency`, and `metadata` apply to the whole run; each element of `publishes` contains a `matrix` (and optional per-publish `metadata`). Publishes are processed in order in the background. A batch may contain at most 50 publishes. Overlapping subcubes between any two publishes are rejected with 400. Optional per-publish `metadata.Range` sets the range label in the completion email (same key family as Document, Sheet, Software, URL, Publish Currency, Range); otherwise the server uses `Range {index}`.
      summary: Update Cube Values (batch)
      tags:
      - Cube Data
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CubeBatchUpdateRequest'
            examples:
              BatchPublishExample:
                value:
                  message: Changelog for the whole batch
                  currency:
                    code: USD
                  publishes:
                  - matrix:
                      filters:
                        Department: 5345
                        Scenario: 345
                      data:
                      - - null
                        - Jan-19
                        - Feb-19
                      - - Meetings & Conferences
                        - 1
                        - 2
                    metadata:
                      Range: Revenue by department
                  - matrix:
                      filters:
                        Department: 5346
                        Scenario: 345
                      data:
                      - - null
                        - Jan-19
                        - Feb-19
                      - - Travel
                        - 10
                        - 20
                    metadata:
                      Range: Travel detail
                summary: Batch publish example
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CubeBatchUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CubeBatchUpdateRequest'
        required: true
      security:
      - OAuth2: []
      responses:
        '202':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CubeBatchDataResponse'
          description: Batch accepted for asynchronous processing. `backgrounding_info` includes `batch_id` and `publish_count`.
        '400':
          description: 'Validation failed. Possible error codes:


            `BATCH_SUBCUBE_INTERSECTION` - Two or more publishes overlap in the cube. `meta.conflicting_ranges` lists the offending publishes.


            `BATCH_PUBLISH_COUNT_EXCEEDED` - Batch contains more than 50 publishes. `meta.limit` and `meta.count` carry the configured maximum and the submitted count.'
components:
  schemas:
    CubeBatchUpdatePublishItem:
      type: object
      properties:
        matrix:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
        sheet_name:
          type: string
        range_name:
          type: string
      required:
      - matrix
    CubePivotResponse:
      type: object
      properties:
        id:
          type: string
        value:
          type: string
        dimensions:
          type: object
          additionalProperties: {}
      required:
      - dimensions
      - id
      - value
    StaleBiDataNotification:
      type: object
      properties:
        paused:
          type: boolean
          readOnly: true
        paused_at:
          type: string
          nullable: true
          readOnly: true
      required:
      - paused
      - paused_at
    IntegrationSourceEnum:
      enum:
      - METABASE
      - QUICKBOOKS
      - XERO
      - NETSUITE
      - SALESFORCE
      - SAGE_INTACCT
      - RILLET
      - CAMPFIRE
      - CHARTHOP
      - GOOGLE
      - OKTA
      - BOOMI
      - SAML
      - OPEN_EXCHANGE_RATES
      - NETSUITE_RATES
      - MERGE
      type: string
      description: '* `METABASE` - Metabase

        * `QUICKBOOKS` - QuickBooks

        * `XERO` - Xero

        * `NETSUITE` - NetSuite

        * `SALESFORCE` - Salesforce

        * `SAGE_INTACCT` - Sage Intacct

        * `RILLET` - Rillet

        * `CAMPFIRE` - Campfire

        * `CHARTHOP` - ChartHop

        * `GOOGLE` - Google SSO

        * `OKTA` - Okta (OIDC)

        * `BOOMI` - Boomi

        * `SAML` - SAML

        * `OPEN_EXCHANGE_RATES` - Open Exchange Rates

        * `NETSUITE_RATES` - NetSuite Saved Search

        * `MERGE` - Cube Universal Connect'
    NullEnum:
      enum:
      - null
    ScheduledDataExport:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        hour_of_day:
          type: integer
          maximum: 23
          minimum: 0
        created_at:
          type: string
          format: date-time
          readOnly: true
        modified_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - id
      - modified_at
    CubeUpdateResponseNonwriteableDimensions:
      type: object
      properties:
        num_parents:
          type: integer
        num_formulas:
          type: integer
        num_write_protected:
          type: integer
      required:
      - num_formulas
      - num_parents
      - num_write_protected
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      type: string
      description: '* `Africa/Abidjan` - Africa/Abidjan

        * `Africa/Accra` - Africa/Accra

        * `Africa/Addis_Ababa` - Africa/Addis_Ababa

        * `Africa/Algiers` - Africa/Algiers

        * `Africa/Asmara` - Africa/Asmara

        * `Africa/Asmera` - Africa/Asmera

        * `Africa/Bamako` - Africa/Bamako

        * `Africa/Bangui` - Africa/Bangui

        * `Africa/Banjul` - Africa/Banjul

        * `Africa/Bissau` - Africa/Bissau

        * `Africa/Blantyre` - Africa/Blantyre

        * `Africa/Brazzaville` - Africa/Brazzaville

        * `Africa/Bujumbura` - Africa/Bujumbura

        * `Africa/Cairo` - Africa/Cairo

        * `Africa/Casablanca` - Africa/Casablanca

        * `Africa/Ceuta` - Africa/Ceuta

        * `Africa/Conakry` - Africa/Conakry

        * `Africa/Dakar` - Africa/Dakar

        * `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam

        * `Africa/Djibouti` - Africa/Djibouti

        * `Africa/Douala` - Africa/Douala

        * `Africa/El_Aaiun` - Africa/El_Aaiun

        * `Africa/Freetown` - Africa/Freetown

        * `Africa/Gaborone` - Africa/Gaborone

        * `Africa/Harare` - Africa/Harare

        * `Africa/Johannesburg` - Africa/Johannesburg

        * `Africa/Juba` - Africa/Juba

        * `Africa/Kampala` - Africa/Kampala

        * `Africa/Khartoum` - Africa/Khartoum

        * `Africa/Kigali` - Africa/Kigali

        * `Africa/Kinshasa` - Africa/Kinshasa

        * `Africa/Lagos` - Africa/Lagos

        * `Africa/Libreville` - Africa/Libreville

        * `Africa/Lome` - Africa/Lome

        * `Africa/Luanda` - Africa/Luanda

        * `Africa/Lubumbashi` - Africa/Lubumbashi

        * `Africa/Lusaka` - Africa/Lusaka

        * `Africa/Malabo` - Africa/Malabo

        * `Africa/Maputo` - Africa/Maputo

        * `Africa/Maseru` - Africa/Maseru

        * `Africa/Mbabane` - Africa/Mbabane

        * `Africa/Mogadishu` - Africa/Mogadishu

        * `Africa/Monrovia` - Africa/Monrovia

        * `Africa/Nairobi` - Africa/Nairobi

        * `Africa/Ndjamena` - Africa/Ndjamena

        * `Africa/Niamey` - Africa/Niamey

        * `Africa/Nouakchott` - Africa/Nouakchott

        * `Africa/Ouagadougou` - Africa/Ouagadougou

        * `Africa/Porto-Novo` - Africa/Porto-Novo

        * `Africa/Sao_Tome` - Africa/Sao_Tome

        * `Africa/Timbuktu` - Africa/Timbuktu

        * `Africa/Tripoli` - Africa/Tripoli

        * `Africa/Tunis` - Africa/Tunis

        * `Africa/Windhoek` - Africa/Windhoek

        * `America/Adak` - America/Adak

        * `America/Anchorage` - America/Anchorage

        * `America/Anguilla` - America/Anguilla

        * `America/Antigua` - America/Antigua

        * `America/Araguaina` - America/Araguaina

        * `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires

        * `America/Argentina/Catamarca` - America/Argentina/Catamarca

        * `America/Argentina/ComodRivadavia` - America/Argentina/ComodRivadavia

        * `America/Argentina/Cordoba` - America/Argentina/Cordoba

        * `America/Argentina/Jujuy` - America/Argentina/Jujuy

        * `America/Argentina/La_Rioja` - America/Argentina/La_Rioja

        * `America/Argentina/Mendoza` - America/Argentina/Mendoza

        * `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos

        * `America/Argentina/Salta` - America/Argentina/Salta

        * `America/Argentina/San_Juan` - America/Argentina/San_Juan

        * `America/Argentina/San_Luis` - America/Argentina/San_Luis

        * `America/Argentina/Tucuman` - America/Argentina/Tucuman

        * `America/Argentina/Ushuaia` - America/Argentina/Ushuaia

        * `America/Aruba` - America/Aruba

        * `America/Asuncion` - America/Asuncion

        * `America/Atikokan` - America/Atikokan

        * `America/Atka` - America/Atka

        * `America/Bahia` - America/Bahia

        * `America/Bahia_Banderas` - America/Bahia_Banderas

        * `America/Barbados` - America/Barbados

        * `America/Belem` - America/Belem

        * `America/Belize` - America/Belize

        * `America/Blanc-Sablon` - America/Blanc-Sablon

        * `America/Boa_Vista` - America/Boa_Vista

        * `America/Bogota` - America/Bogota

        * `America/Boise` - America/Boise

        * `America/Buenos_Aires` - America/Buenos_Aires

        * `America/Cambridge_Bay` - America/Cambridge_Bay

        * `America/Campo_Grande` - America/Campo_Grande

        * `America/Cancun` - America/Cancun

        * `America/Caracas` - America/Caracas

        * `America/Catamarca` - America/Catamarca

        * `America/Cayenne` - America/Cayenne

        * `America/Cayman` - America/Cayman

        * `America/Chicago` - America/Chicago

        * `America/Chihuahua` - America/Chihuahua

        * `America/Ciudad_Juarez` - America/Ciudad_Juarez

        * `America/Coral_Harbour` - America/Coral_Harbour

        * `America/Cordoba` - America/Cordoba

        * `America/Costa_Rica` - America/Costa_Rica

        * `America/Coyhaique` - America/Coyhaique

        * `America/Creston` - America/Creston

        * `America/Cuiaba` - America/Cuiaba

        * `America/Curacao` - America/Curacao

        * `America/Danmarkshavn` - America/Danmarkshavn

        * `America/Dawson` - America/Dawson

        * `America/Dawson_Creek` - America/Dawson_Creek

        * `America/Denver` - America/Denver

        * `America/Detroit` - America/Detroit

        * `America/Dominica` - America/Dominica

        * `America/Edmonton` - America/Edmonton

        * `America/Eirunepe` - America/Eirunepe

        * `America/El_Salvador` - America/El_Salvador

        * `America/Ensenada` - America/Ensenada

        * `America/Fort_Nelson` - America/Fort_Nelson

        * `America/Fort_Wayne` - America/Fort_Wayne

        * `America/Fortaleza` - America/Fortaleza

        * `America/Glace_Bay` - America/Glace_Bay

        * `America/Godthab` - America/Godthab

        * `America/Goose_Bay` - America/Goose_Bay

        * `America/Grand_Turk` - America/Grand_Turk

        * `America/Grenada` - America/Grenada

        * `America/Guadeloupe` - America/Guadeloupe

        * `America/Guatemala` - America/Guatemala

        * `America/Guayaquil` - America/Guayaquil

        * `America/Guyana` - America/Guyana

        * `America/Halifax` - America/Halifax

        * `America/Havana` - America/Havana

        * `America/Hermosillo` - America/Hermosillo

        * `America/Indiana/Indianapolis` - America/Indiana/Indianapolis

        * `America/Indiana/Knox` - America/Indiana/Knox

        * `America/Indiana/Marengo` - America/Indiana/Marengo

        * `America/Indiana/Petersburg` - America/Indiana/Petersburg

        * `America/Indiana/Tell_City` - America/Indiana/Tell_City

        * `America/Indiana/Vevay` - America/Indiana/Vevay

        * `America/Indiana/Vincennes` - America/Indiana/Vincennes

        * `America/Indiana/Winamac` - America/Indiana/Winamac

        * `America/Indianapolis` - America/Indianapolis

        * `America/Inuvik` - America/Inuvik

        * `America/Iqaluit` - America/Iqaluit

        * `America/Jamaica` - America/Jamaica

        * `America/Jujuy` - America/Jujuy

        * `America/Juneau` - America/Juneau

        * `America/Kentucky/Louisville` - America/Kentucky/Louisville

        * `America/Kentucky/Monticello` - America/Kentucky/Monticello

        * `America/Knox_IN` - America/Knox_IN

        * `America/Kralendijk` - America/Kralendijk

        * `America/La_Paz` - America/La_Paz

        * `America/Lima` - America/Lima

        * `America/Los_Angeles` - America/Los_Angeles

        * `America/Louisville` - America/Louisville

        * `America/Lower_Princes` - America/Lower_Princes

        * `America/Maceio` - America/Maceio

        * `America/Managua` - America/Managua

        * `America/Manaus` - America/Manaus

        * `America/Marigot` - America/Marigot

        * `America/Martinique` - America/Martinique

        * `America/Matamoros` - America/Matamoros

        * `America/Mazatlan` - America/Mazatlan

        * `America/Mendoza` - America/Mendoza

        * `America/Menominee` - America/Menominee

        * `America/Merida` - America/Merida

        * `America/Metlakatla` - America/Metlakatla

        * `America/Mexico_City` - America/Mexico_City

        * `America/Miquelon` - America/Miquelon

        * `America/Moncton` - America/Moncton

        * `America/Monterrey` - America/Monterrey

        * `America/Montevideo` - America/Montevideo

        * `America/Montreal` - America/Montreal

        * `America/Montserrat` - America/Montserrat

        * `America/Nassau` - America/Nassau

        * `America/New_York` - America/New_York

        * `America/Nipigon` - America/Nipigon

        * `America/Nome` - America/Nome

        * `America/Noronha` - America/Noronha

        * `America/North_Dakota/Beulah` - America/North_Dakota/Beulah

        * `America/North_Dakota/Center` - America/North_Dakota/Center

        * `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem

        * `America/Nuuk` - America/Nuuk

        * `America/Ojinaga` - America/Ojinaga

        * `America/Panama` - America/Panama

        * `America/Pangnirtung` - America/Pangnirtung

        * `America/Paramaribo` - America/Paramaribo

        * `America/Phoenix` - America/Phoenix

        * `America/Port-au-Prince` - America/Port-au-Prince

        * `America/Port_of_Spain` - America/Port_of_Spain

        * `America/Porto_Acre` - America/Porto_Acre

        * `America/Porto_Velho` - America/Porto_Velho

        * `America/Puerto_Rico` - America/Puerto_Rico

        * `America/Punta_Arenas` - America/Punta_Arenas

        * `America/Rainy_River` - America/Rainy_River

        * `America/Rankin_Inlet` - America/Rankin_Inlet

        * `America/Recife` - America/Recife

        * `America/Regina` - America/Regina

        * `America/Resolute` - America/Resolute

        * `America/Rio_Branco` - America/Rio_Branco

        * `America/Rosario` - America/Rosario

        * `America/Santa_Isabel` - America/Santa_Isabel

        * `America/Santarem` - America/Santarem

        * `America/Santiago` - America/Santiago

        * `America/Santo_Domingo` - America/Santo_Domingo

        * `America/Sao_Paulo` - America/Sao_Paulo

        * `America/Scoresbysund` - America/Scoresbysund

        * `America/Shiprock` - America/Shiprock

        * `America/Sitka` - America/Sitka

        * `America/St_Barthelemy` - America/St_Barthelemy

        * `America/St_Johns` - America/St_Johns

        * `America/St_Kitts` - America/St_Kitts

        * `America/St_Lucia` - America/St_Lucia

        * `America/St_Thomas` - America/St_Thomas

        * `America/St_Vincent` - America/St_Vincent

        * `America/Swift_Current` - America/Swift_Current

        * `America/Tegucigalpa` - America/Tegucigalpa

        * `America/Thule` - America/Thule

        * `America/Thunder_Bay` - America/Thunder_Bay

        * `America/Tijuana` - America/Tijuana

        * `America/Toronto` - America/Toronto

        * `America/Tortola` - America/Tortola

        * `America/Vancouver` - America/Vancouver

        * `America/Virgin` - America/Virgin

        * `America/Whitehorse` - America/Whitehorse

        * `America/Winnipeg` - America/Winnipeg

        * `America/Yakutat` - America/Yakutat

        * `America/Yellowknife` - America/Yellowknife

        * `Antarctica/Casey` - Antarctica/Casey

        * `Antarctica/Davis` - Antarctica/Davis

        * `Antarctica/DumontDUrville` - Antarctica/DumontDUrville

        * `Antarctica/Macquarie` - Antarctica/Macquarie

        * `Antarctica/Mawson` - Antarctica/Mawson

        * `Antarctica/McMurdo` - Antarctica/McMurdo

        * `Antarctica/Palmer` - Antarctica/Palmer

        * `Antarctica/Rothera` - Antarctica/Rothera

        * `Antarctica/South_Pole` - Antarctica/South_Pole

        * `Antarctica/Syowa` - Antarctica/Syowa

        * `Antarctica/Troll` - Antarctica/Troll

        * `Antarctica/Vostok` - Antarctica/Vostok

        * `Arctic/Longyearbyen` - Arctic/Longyearbyen

        * `Asia/Aden` - Asia/Aden

        * `Asia/Almaty` - Asia/Almaty

        * `Asia/Amman` - Asia/Amman

        * `Asia/Anadyr` - Asia/Anadyr

        * `Asia/Aqtau` - Asia/Aqtau

        * `Asia/Aqtobe` - Asia/Aqtobe

        * `Asia/Ashgabat` - Asia/Ashgabat

        * `Asia/Ashkhabad` - Asia/Ashkhabad

        * `Asia/Atyrau` - Asia/Atyrau

        * `Asia/Baghdad` - Asia/Baghdad

        * `Asia/Bahrain` - Asia/Bahrain

        * `Asia/Baku` - Asia/Baku

        * `Asia/Bangkok` - Asia/Bangkok

        * `Asia/Barnaul` - Asia/Barnaul

        * `Asia/Beirut` - Asia/Beirut

        * `Asia/Bishkek` - Asia/Bishkek

        * `Asia/Brunei` - Asia/Brunei

        * `Asia/Calcutta` - Asia/Calcutta

        * `Asia/Chita` - Asia/Chita

        * `Asia/Choibalsan` - Asia/Choibalsan

        * `Asia/Chongqing` - Asia/Chongqing

        * `Asia/Chungking` - Asia/Chungking

        * `Asia/Colombo` - Asia/Colombo

        * `Asia/Dacca` - Asia/Dacca

        * `Asia/Damascus` - Asia/Damascus

        * `Asia/Dhaka` - Asia/Dhaka

        * `Asia/Dili` - Asia/Dili

        * `Asia/Dubai` - Asia/Dubai

        * `Asia/Dushanbe` - Asia/Dushanbe

        * `Asia/Famagusta` - Asia/Famagusta

        * `Asia/Gaza` - Asia/Gaza

        * `Asia/Harbin` - Asia/Harbin

        * `Asia/Hebron` - Asia/Hebron

        * `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh

        * `Asia/Hong_Kong` - Asia/Hong_Kong

        * `Asia/Hovd` - Asia/Hovd

        * `Asia/Irkutsk` - Asia/Irkutsk

        * `Asia/Istanbul` - Asia/Istanbul

        * `Asia/Jakarta` - Asia/Jakarta

        * `Asia/Jayapura` - Asia/Jayapura

        * `Asia/Jerusalem` - Asia/Jerusalem

        * `Asia/Kabul` - Asia/Kabul

        * `Asia/Kamchatka` - Asia/Kamchatka

        * `Asia/Karachi` - Asia/Karachi

        * `Asia/Kashgar` - Asia/Kashgar

        * `Asia/Kathmandu` - Asia/Kathmandu

        * `Asia/Katmandu` - Asia/Katmandu

        * `Asia/Khandyga` - Asia/Khandyga

        * `Asia/Kolkata` - Asia/Kolkata

        * `Asia/Krasnoyarsk` - Asia/Krasnoyarsk

        * `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur

        * `Asia/Kuching` - Asia/Kuching

        * `Asia/Kuwait` - Asia/Kuwait

        * `Asia/Macao` - Asia/Macao

        * `Asia/Macau` - Asia/Macau

        * `Asia/Magadan` - Asia/Magadan

        * `Asia/Makassar` - Asia/Makassar

        * `Asia/Manila` - Asia/Manila

        * `Asia/Muscat` - Asia/Muscat

        * `Asia/Nicosia` - Asia/Nicosia

        * `Asia/Novokuznetsk` - Asia/Novokuznetsk

        * `Asia/Novosibirsk` - Asia/Novosibirsk

        * `Asia/Omsk` - Asia/Omsk

        * `Asia/Oral` - Asia/Oral

        * `Asia/Phnom_Penh` - Asia/Phnom_Penh

        * `Asia/Pontianak` - Asia/Pontianak

        * `Asia/Pyongyang` - Asia/Pyongyang

        * `Asia/Qatar` - Asia/Qatar

        * `Asia/Qostanay` - Asia/Qostanay

        * `Asia/Qyzylorda` - Asia/Qyzylorda

        * `Asia/Rangoon` - Asia/Rangoon

        * `Asia/Riyadh` - Asia/Riyadh

        * `Asia/Saigon` - Asia/Saigon

        * `Asia/Sakhalin` - Asia/Sakhalin

        * `Asia/Samarkand` - Asia/Samarkand

        * `Asia/Seoul` - Asia/Seoul

        * `Asia/Shanghai` - Asia/Shanghai

        * `Asia/Singapore` - Asia/Singapore

        * `Asia/Srednekolymsk` - Asia/Srednekolymsk

        * `Asia/Taipei` - Asia/Taipei

        * `Asia/Tashkent` - Asia/Tashkent

        * `Asia/Tbilisi` - Asia/Tbilisi

        * `Asia/Tehran` - Asia/Tehran

        * `Asia/Tel_Aviv` - Asia/Tel_Aviv

        * `Asia/Thimbu` - Asia/Thimbu

        * `Asia/Thimphu` - Asia/Thimphu

        * `Asia/Tokyo` - Asia/Tokyo

        * `Asia/Tomsk` - Asia/Tomsk

        * `Asia/Ujung_Pandang` - Asia/Ujung_Pandang

        * `Asia/Ulaanbaatar` - Asia/Ulaanbaatar

        * `Asia/Ulan_Bator` - Asia/Ulan_Bator

        * `Asia/Urumqi` - Asia/Urumqi

        * `Asia/Ust-Nera` - Asia/Ust-Nera

        * `Asia/Vientiane` - Asia/Vientiane

        * `Asia/Vladivostok` - Asia/Vladivostok

        * `Asia/Yakutsk` - Asia/Yakutsk

        * `Asia/Yangon` - Asia/Yangon

        * `Asia/Yekaterinburg` - Asia/Yekaterinburg

        * `Asia/Yerevan` - Asia/Yerevan

        * `Atlantic/Azores` - Atlantic/Azores

        * `Atlantic/Bermuda` - Atlantic/Bermuda

        * `Atlantic/Canary` - Atlantic/Canary

        * `Atlantic/Cape_Verde` - Atlantic/Cape_Verde

        * `Atlantic/Faeroe` - Atlantic/Faeroe

        * `Atlantic/Faroe` - Atlantic/Faroe

        * `Atlantic/Jan_Mayen` - Atlantic/Jan_Mayen

        * `Atlantic/Madeira` - Atlantic/Madeira

        * `Atlantic/Reykjavik` - Atlantic/Reykjavik

        * `Atlantic/South_Georgia` - Atlantic/South_Georgia

        * `Atlantic/St_Helena` - Atlantic/St_Helena

        * `Atlantic/Stanley` - Atlantic/Stanley

        * `Australia/ACT` - Australia/ACT

        * `Australia/Adelaide` - Australia/Adelaide

        * `Australia/Brisbane` - Australia/Brisbane

        * `Australia/Broken_Hill` - Australia/Broken_Hill

        * `Australia/Canberra` - Australia/Canberra

        * `Australia/Currie` - Australia/Currie

        * `Australia/Darwin` - Australia/Darwin

        * `Australia/Eucla` - Australia/Eucla

        * `Australia/Hobart` - Australia/Hobart

        * `Australia/LHI` - Australia/LHI

        * `Australia/Lindeman` - Australia/Lindeman

        * `Australia/Lord_Howe` - Australia/Lord_Howe

        * `Australia/Melbourne` - Australia/Melbourne

        * `Australia/NSW` - Australia/NSW

        * `Australia/North` - Australia/North

        * `Australia/Perth` - Australia/Perth

        * `Australia/Queensland` - Australia/Queensland

        * `Australia/South` - Australia/South

        * `Australia/Sydney` - Australia/Sydney

        * `Australia/Tasmania` - Australia/Tasmania

        * `Australia/Victoria` - Australia/Victoria

        * `Australia/West` - Australia/West

        * `Australia/Yancowinna` - Australia/Yancowinna

        * `Brazil/Acre` - Brazil/Acre

        * `Brazil/DeNoronha` - Brazil/DeNoronha

        * `Brazil/East` - Brazil/East

        * `Brazil/West` - Brazil/West

        * `CET` - CET

        * `CST6CDT` - CST6CDT

        * `Canada/Atlantic` - Canada/Atlantic

        * `Canada/Central` - Canada/Central

        * `Canada/Eastern` - Canada/Eastern

        * `Canada/Mountain` - Canada/Mountain

        * `Canada/Newfoundland` - Canada/Newfoundland

        * `Canada/Pacific` - Canada/Pacific

        * `Canada/Saskatchewan` - Canada/Saskatchewan

        * `Canada/Yukon` - Canada/Yukon

        * `Chile/Continental` - Chile/Continental

        * `Chile/EasterIsland` - Chile/EasterIsland

        * `Cuba` - Cuba

        * `EET` - EET

        * `EST` - EST

        * `EST5EDT` - EST5EDT

        * `Egypt` - Egypt

        * `Eire` - Eire

        * `Etc/GMT` - Etc/GMT

        * `Etc/GMT+0` - Etc/GMT+0

        * `Etc/GMT+1` - Etc/GMT+1

        * `Etc/GMT+10` - Etc/GMT+10

        * `Etc/GMT+11` - Etc/GMT+11

        * `Etc/GMT+12` - Etc/GMT+12

        * `Etc/GMT+2` - Etc/GMT+2

        * `Etc/GMT+3` - Etc/GMT+3

        * `Etc/GMT+4` - Etc/GMT+4

        * `Etc/GMT+5` - Etc/GMT+5

        * `Etc/GMT+6` - Etc/GMT+6

        * `Etc/GMT+7` - Etc/GMT+7

        * `Etc/GMT+8` - Etc/GMT+8

        * `Etc/GMT+9` - Etc/GMT+9

        * `Etc/GMT-0` - Etc/GMT-0

        * `Etc/GMT-1` - Etc/GMT-1

        * `Etc/GMT-10` - Etc/GMT-10

        * `Etc/GMT-11` - Etc/GMT-11

        * `Etc/GMT-12` - Etc/GMT-12

        * `Etc/GMT-13` - Etc/GMT-13

        * `Etc/GMT-14` - Etc/GMT-14

        * `Etc/GMT-2` - Etc/GMT-2

        * `Etc/GMT-3` - Etc/GMT-3

        * `Etc/GMT-4` - Etc/GMT-4

        * `Etc/GMT-5` - Etc/GMT-5

        * `Etc/GMT-6` - Etc/GMT-6

        * `Etc/GMT-7` - Etc/GMT-7

        * `Etc/GMT-8` - Etc/GMT-8

        * `Etc/GMT-9` - Etc/GMT-9

        * `Etc/GMT0` - Etc/GMT0

        * `Etc/Greenwich` - Etc/Greenwich

        * `Etc/UCT` - Etc/UCT

        * `Etc/UTC` - Etc/UTC

        * `Etc/Universal` - Etc/Universal

        * `Etc/Zulu` - Etc/Zulu

        * `Europe/Amsterdam` - Europe/Amsterdam

        * `Europe/Andorra` - Europe/Andorra

        * `Europe/Astrakhan` - Europe/Astrakhan

        * `Europe/Athens` - Europe/Athens

        * `Europe/Belfast` - Europe/Belfast

        * `Europe/Belgrade` - Europe/Belgrade

        * `Europe/Berlin` - Europe/Berlin

        * `Europe/Bratislava` - Europe/Bratislava

        * `Europe/Brussels` - Europe/Brussels

        * `Europe/Bucharest` - Europe/Bucharest

        * `Europe/Budapest` - Europe/Budapest

        * `Europe/Busingen` - Europe/Busingen

        * `Europe/Chisinau` - Europe/Chisinau

        * `Europe/Copenhagen` - Europe/Copenhagen

        * `Europe/Dublin` - Europe/Dublin

        * `Europe/Gibraltar` - Europe/Gibraltar

        * `Europe/Guernsey` - Europe/Guernsey

        * `Europe/Helsinki` - Europe/Helsinki

        * `Europe/Isle_of_Man` - Europe/Isle_of_Man

        * `Europe/Istanbul` - Europe/Istanbul

        * `Europe/Jersey` - Europe/Jersey

        * `Europe/Kaliningrad` - Europe/Kaliningrad

        * `Europe/Kiev` - Europe/Kiev

        * `Europe/Kirov` - Europe/Kirov

        * `Europe/Kyiv` - Europe/Kyiv

        * `Europe/Lisbon` - Europe/Lisbon

        * `Europe/Ljubljana` - Europe/Ljubljana

        * `Europe/London` - Europe/London

        * `Europe/Luxembourg` - Europe/Luxembourg

        * `Europe/Madrid` - Europe/Madrid

        * `Europe/Malta` - Europe/Malta

        * `Europe/Mariehamn` - Europe/Mariehamn

        * `Europe/Minsk` - Europe/Minsk

        * `Europe/Monaco` - Europe/Monaco

        * `Europe/Moscow` - Europe/Moscow

        * `Europe/Nicosia` - Europe/Nicosia

        * `Europe/Oslo` - Europe/Oslo

        * `Europe/Paris` - Europe/Paris

        * `Europe/Podgorica` - Europe/Podgorica

        * `Europe/Prague` - Europe/Prague

        * `Europe/Riga` - Europe/Riga

        * `Europe/Rome` - Europe/Rome

        * `Europe/Samara` - Europe/Samara

        * `Europe/San_Marino` - Europe/San_Marino

        * `Europe/Sarajevo` - Europe/Sarajevo

        * `Europe/Saratov` - Europe/Saratov

        * `Europe/Simferopol` - Europe/Simferopol

        * `Europe/Skopje` - Europe/Skopje

        * `Europe/Sofia` - Europe/Sofia

        * `Europe/Stockholm` - Europe/Stockholm

        * `Europe/Tallinn` - Europe/Tallinn

        * `Europe/Tirane` - Europe/Tirane

        * `Europe/Tiraspol` - Europe/Tiraspol

        * `Europe/Ulyanovsk` - Europe/Ulyanovsk

        * `Europe/Uzhgorod` - Europe/Uzhgorod

        * `Europe/Vaduz` - Europe/Vaduz

        * `Europe/Vatican` - Europe/Vatican

        * `Europe/Vienna` - Europe/Vienna

        * `Europe/Vilnius` - Europe/Vilnius

        * `Europe/Volgograd` - Europe/Volgograd

        * `Europe/Warsaw` - Europe/Warsaw

        * `Europe/Zagreb` - Europe/Zagreb

        * `Europe/Zaporozhye` - Europe/Zaporozhye

        * `Europe/Zurich` - Europe/Zurich

        * `GB` - GB

        * `GB-Eire` - GB-Eire

        * `GMT` - GMT

        * `GMT+0` - GMT+0

        * `GMT-0` - GMT-0

        * `GMT0` - GMT0

        * `Greenwich` - Greenwich

        * `HST` - HST

        * `Hongkong` - Hongkong

        * `Iceland` - Iceland

        * `Indian/Antananarivo` - Indian/Antananarivo

        * `Indian/Chagos` - Indian/Chagos

        * `Indian/Christmas` - Indian/Christmas

        * `Indian/Cocos` - Indian/Cocos

        * `Indian/Comoro` - Indian/Comoro

        * `Indian/Kerguelen` - Indian/Kerguelen

        * `Indian/Mahe` - Indian/Mahe

        * `Indian/Maldives` - Indian/Maldives

        * `Indian/Mauritius` - Indian/Mauritius

        * `Indian/Mayotte` - Indian/Mayotte

        * `Indian/Reunion` - Indian/Reunion

        * `Iran` - Iran

        * `Israel` - Israel

        * `Jamaica` - Jamaica

        * `Japan` - Japan

        * `Kwajalein` - Kwajalein

        * `Libya` - Libya

        * `MET` - MET

        * `MST` - MST

        * `MST7MDT` - MST7MDT

        * `Mexico/BajaNorte` - Mexico/BajaNorte

        * `Mexico/BajaSur` - Mexico/BajaSur

        * `Mexico/General` - Mexico/General

        * `NZ` - NZ

        * `NZ-CHAT` - NZ-CHAT

        * `Navajo` - Navajo

        * `PRC` - PRC

        * `PST8PDT` - PST8PDT

        * `Pacific/Apia` - Pacific/Apia

        * `Pacific/Auckland` - Pacific/Auckland

        * `Pacific/Bougainville` - Pacific/Bougainville

        * `Pacific/Chatham` - Pacific/Chatham

        * `Pacific/Chuuk` - Pacific/Chuuk

        * `Pacific/Easter` - Pacific/Easter

        * `Pacific/Efate` - Pacific/Efate

        * `Pacific/Enderbury` - Pacific/Enderbury

        * `Pacific/Fakaofo` - Pacific/Fakaofo

        * `Pacific/Fiji` - Pacific/Fiji

        * `Pacific/Funafuti` - Pacific/Funafuti

        * `Pacific/Galapagos` - Pacific/Galapagos

        * `Pacific/Gambier` - Pacific/Gambier

        * `Pacific/Guadalcanal` - Pacific/Guadalcanal

        * `Pacific/Guam` - Pacific/Guam

        * `Pacific/Honolulu` - Pacific/Honolulu

        * `Pacific/Johnston` - Pacific/Johnston

        * `Pacific/Kanton` - Pacific/Kanton

        * `Pacific/Kiritimati` - Pacific/Kiritimati

        * `Pacific/Kosrae` - Pacific/Kosrae

        * `Pacific/Kwajalein` - Pacific/Kwajalein

        * `Pacific/Majuro` - Pacific/Majuro

        * `Pacific/Marquesas` - Pacific/Marquesas

        * `Pacific/Midway` - Pacific/Midway

        * `Pacific/Nauru` - Pacific/Nauru

        * `Pacific/Niue` - Pacific/Niue

        * `Pacific/Norfolk` - Pacific/Norfolk

        * `Pacific/Noumea` - Pacific/Noumea

        * `Pacific/Pago_Pago` - Pacific/Pago_Pago

        * `Pacific/Palau` - Pacific/Palau

        * `Pacific/Pitcairn` - Pacific/Pitcairn

        * `Pacific/Pohnpei` - Pacific/Pohnpei

        * `Pacific/Ponape` - Pacific/Ponape

        * `Pacific/Port_Moresby` - Pacific/Port_Moresby

        * `Pacific/Rarotonga` - Pacific/Rarotonga

        * `Pacific/Saipan` - Pacific/Saipan

        * `Pacific/Samoa` - Pacific/Samoa

        * `Pacific/Tahiti` - Pacific/Tahiti

        * `Pacific/Tarawa` - Pacific/Tarawa

        * `Pacific/Tongatapu` - Pacific/Tongatapu

        * `Pacific/Truk` - Pacific/Truk

        * `Pacific/Wake` - Pacific/Wake

        * `Pacific/Wallis` - Pacific/Wallis

        * `Pacific/Yap` - Pacific/Yap

        * `Poland` - Poland

        * `Portugal` - Portugal

        * `ROC` - ROC

        * `ROK` - ROK

        * `Singapore` - Singapore

        * `Turkey` - Turkey

        * `UCT` - UCT

        * `US/Alaska` - US/Alaska

        * `US/Aleutian` - US/Aleutian

        * `US/Arizona` - US/Arizona

        * `US/Central` - US/Central

        * `US/East-Indiana` - US/East-Indiana

        * `US/Eastern` - US/Eastern

        * `US/Hawaii` - US/Hawaii

        * `US/Indiana-Starke` - US/Indiana-Starke

        * `US/Michigan` - US/Michigan

        * `US/Mountain` - US/Mountain

        * `US/Pacific` - US/Pacific

        * `US/Samoa` - US/Samoa

        * `UTC` - UTC

        * `Universal` - Universal

        * `W-SU` - W-SU

        * `WET` - WET

        * `Zulu` - Zulu'
    CubePivotSourceResponse:
      type: object
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/SourceDataTable'
        cube_change:
          $ref: '#/components/schemas/OlapCubeChange'
      required:
      - cube_change
      - sources
    CubeUpdateRequest:
      type: object
      properties:
        message:
          type: string
        matrix:
          type: object
          additionalProperties: {}
      required:
      - matrix
      - message
    OlapCubeChangeStatusEnum:
      enum:
      - PENDING
      - COMPLETED
      - FAILED
      type: string
      description: '* `PENDING` - Pending

        * `COMPLETED` - Completed

        * `FAILED` - Failed'
    CubeBatchDataResponse:
      type: object
      properties:
        backgrounding_info:
          type: object
          additionalProperties: {}
      required:
      - backgrounding_info
    Integration:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        source:
          $ref: '#/components/schemas/IntegrationSourceEnum'
        category:
          $ref: '#/components/schemas/CategoryEnum'
        name:
          type: string
          maxLength: 100
        logo_url:
          type: string
          nullable: true
          readOnly: true
      required:
      - category
      - id
      - logo_url
      - name
      - source
    PatchedScheduledDataExport:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        hour_of_day:
          type: integer
          maximum: 23
          minimum: 0
        created_at:
          type: string
          format: date-time
          readOnly: true
        modified_at:
          type: string
          format: date-time
          readOnly: true
    OlapCubeChangeTypeEnum:
      enum:
      - USER
      - AI
      - USER_REVERT
      - TBI
      - EXTERNAL_SOURCE
      - EMPLOYEE_ROSTER
      - DATA_IMPORT
      - FORMULA
      - DISABLED
      - MERGE
      - DUPLICATION
      type: string
      description: '* `USER` - User

        * `AI` - AI

        * `USER_REVERT` - Revert

        * `TBI` - Trial Balance

        * `EXTERNAL_SOURCE` - External Source

        * `EMPLOYEE_ROSTER` - Employee Roster

        * `DATA_IMPORT` - Data

        * `FORMULA` - Formula

        * `DISABLED` - Disabled

        * `MERGE` - Merge

        * `DUPLICATION` - Duplication'
    RelationshipTypeEnum:
      enum:
      - EMPLOYEE
      - PARTNER
      type: string
      description: '* `EMPLOYEE` - Employee

        * `PARTNER` - Partner'
    OlapCubeChange:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        message:
          type: string
          nullable: true
          maxLength: 1024
        created_at:
          type: string
          format: date-time
          readOnly: true
        metadata:
          nullable: true
        type:
          $ref: '#/components/schemas/OlapCubeChangeTypeEnum'
        friendly_type:
          type: string
          readOnly: true
        created_by:
          $ref: '#/components/schemas/User'
        user:
          allOf:
          - $ref: '#/components/schemas/User'
          readOnly: true
        num_changes:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
          nullable: true
        url:
          type: string
          readOnly: true
        status:
          $ref: '#/components/schemas/OlapCubeChangeStatusEnum'
        batch_id:
          type: string
          readOnly: true
          nullable: true
      required:
      - batch_id
      - created_at
      - created_by
      - friendly_type
      - id
      - url
      - user
    CubeUpdateResponse:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        change:
          $ref: '#/components/schemas/CubeUpdateResponseChange'
        nonwriteable_dimensions:
          $ref: '#/components/schemas/CubeUpdateResponseNonwriteableDimensions'
      required:
      - change
      - code
      - message
      - nonwriteable_dimensions
    BusinessIntelligenceExportStatusEnum:
      enum:
      - PROCESSING
      - SUCCESS
      - ERROR
      type: string
      description: '* `PROCESSING` - Processing

        * `SUCCESS` - Success

        * `ERROR` - Error'
    SourceDataTable:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          format: date-time
          readOnly: true
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/SourceDataTableTypeEnum'
          readOnly: true
        type_friendly:
          type: string
          readOnly: true
        last_import:
          type: object
          additionalProperties: {}
          readOnly: true
        last_successful_import:
          type: object
          additionalProperties: {}
          readOnly: true
        source_type:
          type: string
          description: "Returns the human-friendly category of the connection's Integration, if the table has\na connection. Otherwise, returns 'Data Table'.\n\nReturns:\n    The human-friendly source category"
          readOnly: true
        mapping_data:
          type: object
          additionalProperties: {}
          readOnly: true
        description:
          type: string
      required:
      - active
      - connection
      - created_at
      - id
      - last_import
      - last_successful_import
      - mapping_data
      - name
      - settings
      - source_type
      - type
      - type_friendly
    CubePivot:
      type: object
      properties:
        filters:
          type: object
          additionalProperties: {}
        rows:
          type: array
          items: {}
        columns:
          type: array
          items: {}
        matrix:
          type: array
          items: {}
      required:
      - columns
      - filters
      - matrix
      - rows
    CubeUpdateResponseChange:
      type: object
      properties:
        id:
          type: integer
        url:
          type: string
          format: uri
        num_changes:
          type: integer
      required:
      - id
      - num_changes
      - url
    CubeAnalyze:
      type: object
      properties:
        address:
          type: string
        maxtrix:
          type: array
          items: {}
      required:
      - address
      - maxtrix
    CategoryEnum:
      enum:
      - BI
      - GL
      - HRIS
      - SSO
      - CRM
      - OTHER
      - UAP
      type: string
      description: '* `BI` - Business Intelligence

        * `GL` - General Ledger

        * `HRIS` - Human Resource Information Service

        * `SSO` - Single Sign On

        * `CRM` - Customer Relationship Management

        * `OTHER` - Other

        * `UAP` - Unified API Platform'
    Matrix:
      type: object
      properties:
        attribute_columns:
          type: array
          items:
            type: integer
            minimum: 0
        attribute_row:
          type: integer
          minimum: 0
        filters:
          type: object
          additionalProperties:
            type: string
        data:
          type: array
          items:
            type: array
            items:
              nullable: true
      required:
      - data
      - filters
    Connection:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        active:
          type: boolean
          readOnly: true
        type:
          type: string
          nullable: true
          description: "Return the category of the associated Integration model for backwards compatibility\n\nReturns:\n    The integration category (See Integration.CATEGORIES)"
          readOnly: true
        friendly_source:
          type: string
          readOnly: true
        integration:
          allOf:
          - $ref: '#/components/schemas/Integration'
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
          readOnly: true
      required:
      - active
      - friendly_source
      - id
      - integration
      - metadata
      - settings
      - type
    User:
      type: object
      description: 'A serializer mixin that allows dynamic inclusion or exclusion of serializer fields by

        passing `fields=[...]` or `exclude_fields=[...]` when initializing.'
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        created_at:
          type: string
          format: date-time
          readOnly: true
        email:
          type: string
          format: email
          maxLength: 254
        is_staff:
          type: boolean
          readOnly: true
        is_cube_staff:
          type: boolean
          readOnly: true
        relationship_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RelationshipTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        timezone:
          $ref: '#/components/schemas/TimezoneEnum'
      required:
      - created_at
      - email
      - id
      - is_cube_staff
      - is_staff
    CubeBatchUpdateRequest:
      type: object
      properties:
        message:
          type: string
        metadata:
          type: object
          additionalProperties: {}
        currency:
          type: object
          additionalProperties: {}
        publishes:
          type: array
          items:
            $ref: '#/components/schemas/CubeBatchUpdatePublishItem'
      required:
      - publishes
    SourceDataTableTypeEnum:
      enum:
      - AD_HOC
      - ERP_CONNECTION
      - GENERIC
      - EMPLOYEE_ROSTER
      - HRIS
      type: string
      description: '* `AD_HOC` - Ad Hoc

        * `ERP_CONNECTION` - ERP Connection

        * `GENERIC` - Generic

        * `EMPLOYEE_ROSTER` - Employee Roster

        * `HRIS` - HRIS Connection'
    CubePivotSources:
      type: object
      properties:
        filters:
          type: object
          additionalProperties: {}
        matrix:
          type: array
          items: {}
      required:
      - filters
      - matrix
    BusinessIntelligenceExport:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        status:
          allOf:
          - $ref: '#/components/schemas/BusinessIntelligenceExportStatusEnum'
          readOnly: true
        completed_at:
          type: string
          format: date-time
          readOnly: true
          nullable: true
        created_by:
          type: integer
          readOnly: true
          nullable: true
        scheduled:
          type: boolean
          readOnly: true
      required:
      - completed_at
      - created_at
      - created_by
      - id
      - scheduled
      - status
    BlankEnum:
      enum:
      - ''
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
