openapi: 3.2.0
info:
  title: Cube Permissionsets API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Permission Sets
paths:
  /permissionsets:
    get:
      operationId: permissionsets_list
      description: Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).
      tags:
      - Permission Sets
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PermissionSet'
          description: ''
      summary: Permissionsets list
      x-summary-source: derived
  /permissionsets/{id}:
    get:
      operationId: permissionsets_retrieve
      description: Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Permission Sets
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PermissionSet'
          description: ''
      summary: Permissionsets retrieve
      x-summary-source: derived
components:
  schemas:
    OperationTypesEnum:
      enum:
      - view
      - create
      - edit
      - delete
      - export
      - import
      - publish
      - unpublish
      - manage
      type: string
      description: '* `view` - View

        * `create` - Create

        * `edit` - Edit

        * `delete` - Delete

        * `export` - Export

        * `import` - Import

        * `publish` - Publish

        * `unpublish` - Unpublish

        * `manage` - Manage'
    PermissionSet:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        selectable:
          type: boolean
          readOnly: true
        parent:
          type:
          - integer
          - 'null'
          readOnly: true
        permissions:
          type: string
          readOnly: true
        operation_types:
          allOf:
          - $ref: '#/components/schemas/OperationTypesEnum'
          readOnly: true
        dependencies:
          type: string
          readOnly: true
        resolved_permissions:
          type: array
          items:
            type: integer
          description: "Recursively resolve all permissions for this permission set and its children.\n\nGiven the recursive nature of this method, using the permission mapping with the cache prevents\na significant number of additional database queries vs doing self.permissions.all() here\n\nReturns:\n    A set of permission ids representing all permissions available if an actor is associated with this\n    permissionset."
          readOnly: true
        children:
          type: string
          readOnly: true
        visible:
          type: boolean
          readOnly: true
        position:
          type: integer
          readOnly: true
      required:
      - children
      - dependencies
      - id
      - name
      - operation_types
      - parent
      - permissions
      - position
      - resolved_permissions
      - selectable
      - visible
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
