openapi: 3.2.0
info:
  title: Cube Compliance API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Compliance
paths:
  /compliance/customer-event:
    post:
      operationId: compliance_customer_event_create
      tags:
      - Compliance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CustomerEvent'
        required: true
      security:
      - {}
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerEvent'
          description: ''
      summary: Compliance customer event create
      x-summary-source: derived
components:
  schemas:
    InternalTypeEnum:
      enum:
      - CHURNED
      - ONBOARD
      - CLEANUP
      type: string
      description: '* `CHURNED` - churned

        * `ONBOARD` - onboard

        * `CLEANUP` - cleanup'
    CustomerEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        customer:
          type: integer
        internal_type:
          $ref: '#/components/schemas/InternalTypeEnum'
        external_type:
          type: string
          maxLength: 255
        event_data: {}
        timestamp:
          type:
          - string
          - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - customer
      - event_data
      - external_type
      - id
      - internal_type
      - timestamp
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
