openapi: 3.2.0
info:
  title: Cube Chat Settings API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: ChatSettings
paths:
  /agents/settings:
    get:
      operationId: agents_settings_retrieve
      description: Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).
      tags:
      - ChatSettings
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSettings'
          description: ''
      summary: Agents settings retrieve
      x-summary-source: derived
    put:
      operationId: agents_settings_update
      description: Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).
      tags:
      - ChatSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSettings'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChatSettings'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ChatSettings'
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSettings'
          description: ''
      summary: Agents settings update
      x-summary-source: derived
    patch:
      operationId: agents_settings_partial_update
      description: Default authenticated ViewSet with standard rate limit (DEFAULT_API_RATE_LIMIT).
      tags:
      - ChatSettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedChatSettings'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedChatSettings'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedChatSettings'
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSettings'
          description: ''
      summary: Agents settings partial update
      x-summary-source: derived
components:
  schemas:
    PatchedChatSettings:
      type: object
      properties:
        custom_context:
          type:
          - string
          - 'null'
          maxLength: 5000
        created_at:
          type: string
          format: date-time
          readOnly: true
        modified_at:
          type: string
          format: date-time
          readOnly: true
    ChatSettings:
      type: object
      properties:
        custom_context:
          type:
          - string
          - 'null'
          maxLength: 5000
        created_at:
          type: string
          format: date-time
          readOnly: true
        modified_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - modified_at
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
