openapi: 3.2.0
info:
  title: Cube Dashboard API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Dashboard
  description: Access the underlying Dashboards of Cube
paths:
  /dashboard:
    get:
      operationId: dashboard_list
      summary: List all dashboards
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Dashboard
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Dashboard'
          description: ''
    post:
      operationId: dashboard_create
      summary: Create a dashboard
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDashboard'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CreateDashboard'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/CreateDashboard'
        required: true
      security:
      - OAuth2: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDashboard'
          description: ''
  /dashboard/{dashboard_id}/embed:
    get:
      operationId: dashboard_embed_retrieve
      description: Retrieve the embed URL for Cube Dashboards by Dashboard ID
      summary: Retrieve Embedded URL for the requested Cube Dashboard
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: dashboard_id
        schema:
          type: string
          format: uuid
        description: The dashboard UUID
        required: true
      tags:
      - Dashboard
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/data'
          description: The embed URL with the required token is generated.
  /dashboard/{id}:
    get:
      operationId: dashboard_retrieve
      summary: Retrieve a dashboard by ID
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Dashboard
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ''
    patch:
      operationId: dashboard_partial_update
      description: Update writable dashboard fields
      summary: Update a dashboard by ID
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Dashboard
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDashboard'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedDashboard'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedDashboard'
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ''
    delete:
      operationId: dashboard_destroy
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Dashboard
      security:
      - OAuth2: []
      responses:
        '204':
          description: No response body
      summary: Dashboard destroy
      x-summary-source: derived
  /dashboard/{id}/default:
    patch:
      operationId: dashboard_default_partial_update
      description: DEPRECATED. Use the more general PATCH method instead.
      summary: Set the default dashboard
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Dashboard
      security:
      - OAuth2: []
      deprecated: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: ''
components:
  schemas:
    SharingSchemeF41Enum:
      enum:
      - ALL
      - ADMINS
      - SPECIFIC
      type: string
      description: '* `ALL` - All Team Members

        * `ADMINS` - Only Admins

        * `SPECIFIC` - Specific Team Members'
    Dashboard:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        external_id:
          type:
          - string
          - 'null'
          readOnly: true
        source:
          allOf:
          - $ref: '#/components/schemas/Source402Enum'
          readOnly: true
        edit_url:
          type:
          - string
          - 'null'
          description: "Returns a url in the third party system for editing the dashboard.\n\nReturns:\n    str url in the external system where one can edit the dashboard."
          readOnly: true
        external:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: "Returns an up to date representation of the dashboard provided by the external system.\n\nReturns:\n    A dictionary representation of the dashboard in the external system or None if this dashboard is\n        not a metabase dashboard.\n\nRaises:\n    MBNotFoundError: raised if the dashboard is not found in the external system."
          readOnly: true
        default:
          type: boolean
        publish_status:
          $ref: '#/components/schemas/PublishStatusEnum'
        sharing_scheme:
          $ref: '#/components/schemas/SharingSchemeF41Enum'
        sharing_users: {}
      required:
      - created_at
      - edit_url
      - external
      - external_id
      - id
      - name
      - sharing_users
      - source
    CreateDashboard:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        description:
          type:
          - string
          - 'null'
          writeOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        external_id:
          type:
          - string
          - 'null'
          readOnly: true
        source:
          allOf:
          - $ref: '#/components/schemas/Source402Enum'
          readOnly: true
        edit_url:
          type:
          - string
          - 'null'
          description: "Returns a url in the third party system for editing the dashboard.\n\nReturns:\n    str url in the external system where one can edit the dashboard."
          readOnly: true
        external:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: "Returns an up to date representation of the dashboard provided by the external system.\n\nReturns:\n    A dictionary representation of the dashboard in the external system or None if this dashboard is\n        not a metabase dashboard.\n\nRaises:\n    MBNotFoundError: raised if the dashboard is not found in the external system."
          readOnly: true
        default:
          type: boolean
          readOnly: true
        publish_status:
          allOf:
          - $ref: '#/components/schemas/PublishStatusEnum'
          readOnly: true
        sharing_scheme:
          allOf:
          - $ref: '#/components/schemas/SharingSchemeF41Enum'
          readOnly: true
        sharing_users:
          readOnly: true
      required:
      - created_at
      - default
      - edit_url
      - external
      - external_id
      - id
      - name
      - publish_status
      - sharing_scheme
      - sharing_users
      - source
    PublishStatusEnum:
      enum:
      - DRAFT
      - PUBLISHED
      type: string
      description: '* `DRAFT` - Draft

        * `PUBLISHED` - Published'
    PatchedDashboard:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        external_id:
          type:
          - string
          - 'null'
          readOnly: true
        source:
          allOf:
          - $ref: '#/components/schemas/Source402Enum'
          readOnly: true
        edit_url:
          type:
          - string
          - 'null'
          description: "Returns a url in the third party system for editing the dashboard.\n\nReturns:\n    str url in the external system where one can edit the dashboard."
          readOnly: true
        external:
          type:
          - object
          - 'null'
          additionalProperties: {}
          description: "Returns an up to date representation of the dashboard provided by the external system.\n\nReturns:\n    A dictionary representation of the dashboard in the external system or None if this dashboard is\n        not a metabase dashboard.\n\nRaises:\n    MBNotFoundError: raised if the dashboard is not found in the external system."
          readOnly: true
        default:
          type: boolean
        publish_status:
          $ref: '#/components/schemas/PublishStatusEnum'
        sharing_scheme:
          $ref: '#/components/schemas/SharingSchemeF41Enum'
        sharing_users: {}
    data:
      type: object
      properties:
        data:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
      required:
      - data
      - metadata
    Source402Enum:
      enum:
      - METABASE
      type: string
      description: '* `METABASE` - Metabase'
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
