openapi: 3.2.0
info:
  title: Cube Plan Mode Sessions API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: PlanModeSessions
paths:
  /agents/planner/plan-mode-sessions:
    get:
      operationId: agents_planner_plan_mode_sessions_list
      description: Returns plan mode sessions for the current user company. Each row includes the linked chat session id and the parent scenario dimension (DimensionSerializer shape; plan-mode scenario dimensions do not include list-only formula rollup fields).
      summary: List Plan Mode Sessions
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - PlanModeSessions
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlanModeSessionList'
          description: Plan mode sessions for the current user company
components:
  schemas:
    RecommendationTypeEnum:
      enum:
      - RISK
      - OPPORTUNITY
      - DATA_GAP
      - INFO
      type: string
      description: '* `RISK` - Risk

        * `OPPORTUNITY` - Opportunity

        * `DATA_GAP` - Data gap

        * `INFO` - Info'
    PlanModeRecommendation:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        recommendation_type:
          allOf:
          - $ref: '#/components/schemas/RecommendationTypeEnum'
          readOnly: true
        description:
          type: string
          readOnly: true
        action_label:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - action_label
      - created_at
      - description
      - id
      - recommendation_type
    PlanModeKeyAssumption:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          readOnly: true
        value:
          type: string
          readOnly: true
        source:
          allOf:
          - $ref: '#/components/schemas/PlanModeKeyAssumptionSourceEnum'
          readOnly: true
        display_order:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - display_order
      - id
      - name
      - source
      - value
    PlanModeKeyAssumptionSourceEnum:
      enum:
      - USER
      - AI
      type: string
      description: '* `USER` - User

        * `AI` - AI'
    PlanModeSessionList:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        chat_session:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        parent_scenario:
          type: object
          additionalProperties: {}
          readOnly: true
        headline_metrics_canvas:
          type:
          - string
          - 'null'
          format: uuid
          readOnly: true
        updates_canvas:
          type:
          - string
          - 'null'
          format: uuid
          readOnly: true
        recommendations:
          type: array
          items:
            $ref: '#/components/schemas/PlanModeRecommendation'
          readOnly: true
        key_assumptions:
          type: array
          items:
            $ref: '#/components/schemas/PlanModeKeyAssumption'
          readOnly: true
      required:
      - chat_session
      - created_at
      - headline_metrics_canvas
      - id
      - key_assumptions
      - parent_scenario
      - recommendations
      - updates_canvas
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
