openapi: 3.0.3
info:
  title: Cube Agents User API
  version: 1.0.0 (1.0)
  description: "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n"
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: User
  description: User endpoints allow for various functionality tied to users.
paths:
  /user:
    get:
      operationId: user_retrieve
      description: Will return user information.
      summary: Will return user information.
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: ''
  /user/companies:
    get:
      operationId: user_companies_retrieve
      description: "If a company has multiple currencies enabled, those will be listed as well. Otherwise, USD is the default for all companies.\n        "
      summary: Get User's Companies
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Company'
          description: ''
  /user/company/settings:
    get:
      operationId: user_company_settings_retrieve
      description: "This endpoint can be used to retrieve the user's company-specific settings. All available settings will be returned.\n        "
      summary: Get User Company Settings
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCompanySettingsResponse'
          description: ''
    post:
      operationId: user_company_settings_create
      description: "This endpoint can be used to update the user's company-specific settings. Only the settings\n        included in the request data will be updated.\n        "
      summary: Update User Company Settings
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCompanySettingsRequest'
            examples:
              AddOnDataStatus:
                value:
                  add_on_data_status_last_viewed_at: '2019-05-18T15:17:00+00:00'
                summary: Add On Data Status
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserCompanySettingsRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserCompanySettingsRequest'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCompanySettingsResponse'
          description: ''
  /user/password/forgot:
    post:
      operationId: user_password_forgot_create
      description: Initiates the forgot password process.
      summary: Initiates the forgot password process.
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ForgotPasswordOpenApiDocAttributes_1'
            examples:
              ForgotPasswordRequestExample:
                value:
                  email: user@testcompany.com
                summary: Forgot password request example
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ForgotPasswordOpenApiDocAttributes_1'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ForgotPasswordOpenApiDocAttributes_1'
        required: true
      security:
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forgot_password_message_serializer_message_serializer'
          description: Message
  /user/settings/spreadsheets:
    get:
      operationId: user_settings_spreadsheets_retrieve
      description: "This endpoint returns dimension and user settings for the open spreadsheet. It gives\n        reasonable dimension defaults when the user hasn't specified dimensions to use for rows, columns,\n        filters inside of a Cube add-on. These defaults are based on commonly used dimensions for a given top\n        level dimension (i.e. \"Actuals\" for \"Scenario\"). It also gives user data such as whether or not to show\n        the 'undo' warning in Excel files.\n        "
      summary: Get Spreadsheet Settings
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSpreadsheetSettingsResponse'
          description: ''
  /user/settings/spreadsheets/update:
    post:
      operationId: user_settings_spreadsheets_update_create
      description: "This endpoint can be used to update whether or not to show the Excel 'Undo' warning,\n        when the user toggles that they would not like to be warned again.\n        "
      summary: Update Spreadsheet Settings
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSpreadsheetUpdateRequest'
            examples:
              UpdateExcelWarnings:
                value:
                  show_excel_warning: true
                summary: Update Excel Warnings
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserSpreadsheetUpdateRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserSpreadsheetUpdateRequest'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message_Response'
          description: ''
  /user/user_companies:
    get:
      operationId: user_user_companies_retrieve
      description: Will return companies and permissions the user has access to.
      summary: Get User's Companies with Permissions
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - User
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCompanyViewResponse'
          description: ''
components:
  schemas:
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      type: string
      description: '* `Africa/Abidjan` - Africa/Abidjan

        * `Africa/Accra` - Africa/Accra

        * `Africa/Addis_Ababa` - Africa/Addis_Ababa

        * `Africa/Algiers` - Africa/Algiers

        * `Africa/Asmara` - Africa/Asmara

        * `Africa/Asmera` - Africa/Asmera

        * `Africa/Bamako` - Africa/Bamako

        * `Africa/Bangui` - Africa/Bangui

        * `Africa/Banjul` - Africa/Banjul

        * `Africa/Bissau` - Africa/Bissau

        * `Africa/Blantyre` - Africa/Blantyre

        * `Africa/Brazzaville` - Africa/Brazzaville

        * `Africa/Bujumbura` - Africa/Bujumbura

        * `Africa/Cairo` - Africa/Cairo

        * `Africa/Casablanca` - Africa/Casablanca

        * `Africa/Ceuta` - Africa/Ceuta

        * `Africa/Conakry` - Africa/Conakry

        * `Africa/Dakar` - Africa/Dakar

        * `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam

        * `Africa/Djibouti` - Africa/Djibouti

        * `Africa/Douala` - Africa/Douala

        * `Africa/El_Aaiun` - Africa/El_Aaiun

        * `Africa/Freetown` - Africa/Freetown

        * `Africa/Gaborone` - Africa/Gaborone

        * `Africa/Harare` - Africa/Harare

        * `Africa/Johannesburg` - Africa/Johannesburg

        * `Africa/Juba` - Africa/Juba

        * `Africa/Kampala` - Africa/Kampala

        * `Africa/Khartoum` - Africa/Khartoum

        * `Africa/Kigali` - Africa/Kigali

        * `Africa/Kinshasa` - Africa/Kinshasa

        * `Africa/Lagos` - Africa/Lagos

        * `Africa/Libreville` - Africa/Libreville

        * `Africa/Lome` - Africa/Lome

        * `Africa/Luanda` - Africa/Luanda

        * `Africa/Lubumbashi` - Africa/Lubumbashi

        * `Africa/Lusaka` - Africa/Lusaka

        * `Africa/Malabo` - Africa/Malabo

        * `Africa/Maputo` - Africa/Maputo

        * `Africa/Maseru` - Africa/Maseru

        * `Africa/Mbabane` - Africa/Mbabane

        * `Africa/Mogadishu` - Africa/Mogadishu

        * `Africa/Monrovia` - Africa/Monrovia

        * `Africa/Nairobi` - Africa/Nairobi

        * `Africa/Ndjamena` - Africa/Ndjamena

        * `Africa/Niamey` - Africa/Niamey

        * `Africa/Nouakchott` - Africa/Nouakchott

        * `Africa/Ouagadougou` - Africa/Ouagadougou

        * `Africa/Porto-Novo` - Africa/Porto-Novo

        * `Africa/Sao_Tome` - Africa/Sao_Tome

        * `Africa/Timbuktu` - Africa/Timbuktu

        * `Africa/Tripoli` - Africa/Tripoli

        * `Africa/Tunis` - Africa/Tunis

        * `Africa/Windhoek` - Africa/Windhoek

        * `America/Adak` - America/Adak

        * `America/Anchorage` - America/Anchorage

        * `America/Anguilla` - America/Anguilla

        * `America/Antigua` - America/Antigua

        * `America/Araguaina` - America/Araguaina

        * `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires

        * `America/Argentina/Catamarca` - America/Argentina/Catamarca

        * `America/Argentina/ComodRivadavia` - America/Argentina/ComodRivadavia

        * `America/Argentina/Cordoba` - America/Argentina/Cordoba

        * `America/Argentina/Jujuy` - America/Argentina/Jujuy

        * `America/Argentina/La_Rioja` - America/Argentina/La_Rioja

        * `America/Argentina/Mendoza` - America/Argentina/Mendoza

        * `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos

        * `America/Argentina/Salta` - America/Argentina/Salta

        * `America/Argentina/San_Juan` - America/Argentina/San_Juan

        * `America/Argentina/San_Luis` - America/Argentina/San_Luis

        * `America/Argentina/Tucuman` - America/Argentina/Tucuman

        * `America/Argentina/Ushuaia` - America/Argentina/Ushuaia

        * `America/Aruba` - America/Aruba

        * `America/Asuncion` - America/Asuncion

        * `America/Atikokan` - America/Atikokan

        * `America/Atka` - America/Atka

        * `America/Bahia` - America/Bahia

        * `America/Bahia_Banderas` - America/Bahia_Banderas

        * `America/Barbados` - America/Barbados

        * `America/Belem` - America/Belem

        * `America/Belize` - America/Belize

        * `America/Blanc-Sablon` - America/Blanc-Sablon

        * `America/Boa_Vista` - America/Boa_Vista

        * `America/Bogota` - America/Bogota

        * `America/Boise` - America/Boise

        * `America/Buenos_Aires` - America/Buenos_Aires

        * `America/Cambridge_Bay` - America/Cambridge_Bay

        * `America/Campo_Grande` - America/Campo_Grande

        * `America/Cancun` - America/Cancun

        * `America/Caracas` - America/Caracas

        * `America/Catamarca` - America/Catamarca

        * `America/Cayenne` - America/Cayenne

        * `America/Cayman` - America/Cayman

        * `America/Chicago` - America/Chicago

        * `America/Chihuahua` - America/Chihuahua

        * `America/Ciudad_Juarez` - America/Ciudad_Juarez

        * `America/Coral_Harbour` - America/Coral_Harbour

        * `America/Cordoba` - America/Cordoba

        * `America/Costa_Rica` - America/Costa_Rica

        * `America/Coyhaique` - America/Coyhaique

        * `America/Creston` - America/Creston

        * `America/Cuiaba` - America/Cuiaba

        * `America/Curacao` - America/Curacao

        * `America/Danmarkshavn` - America/Danmarkshavn

        * `America/Dawson` - America/Dawson

        * `America/Dawson_Creek` - America/Dawson_Creek

        * `America/Denver` - America/Denver

        * `America/Detroit` - America/Detroit

        * `America/Dominica` - America/Dominica

        * `America/Edmonton` - America/Edmonton

        * `America/Eirunepe` - America/Eirunepe

        * `America/El_Salvador` - America/El_Salvador

        * `America/Ensenada` - America/Ensenada

        * `America/Fort_Nelson` - America/Fort_Nelson

        * `America/Fort_Wayne` - America/Fort_Wayne

        * `America/Fortaleza` - America/Fortaleza

        * `America/Glace_Bay` - America/Glace_Bay

        * `America/Godthab` - America/Godthab

        * `America/Goose_Bay` - America/Goose_Bay

        * `America/Grand_Turk` - America/Grand_Turk

        * `America/Grenada` - America/Grenada

        * `America/Guadeloupe` - America/Guadeloupe

        * `America/Guatemala` - America/Guatemala

        * `America/Guayaquil` - America/Guayaquil

        * `America/Guyana` - America/Guyana

        * `America/Halifax` - America/Halifax

        * `America/Havana` - America/Havana

        * `America/Hermosillo` - America/Hermosillo

        * `America/Indiana/Indianapolis` - America/Indiana/Indianapolis

        * `America/Indiana/Knox` - America/Indiana/Knox

        * `America/Indiana/Marengo` - America/Indiana/Marengo

        * `America/Indiana/Petersburg` - America/Indiana/Petersburg

        * `America/Indiana/Tell_City` - America/Indiana/Tell_City

        * `America/Indiana/Vevay` - America/Indiana/Vevay

        * `America/Indiana/Vincennes` - America/Indiana/Vincennes

        * `America/Indiana/Winamac` - America/Indiana/Winamac

        * `America/Indianapolis` - America/Indianapolis

        * `America/Inuvik` - America/Inuvik

        * `America/Iqaluit` - America/Iqaluit

        * `America/Jamaica` - America/Jamaica

        * `America/Jujuy` - America/Jujuy

        * `America/Juneau` - America/Juneau

        * `America/Kentucky/Louisville` - America/Kentucky/Louisville

        * `America/Kentucky/Monticello` - America/Kentucky/Monticello

        * `America/Knox_IN` - America/Knox_IN

        * `America/Kralendijk` - America/Kralendijk

        * `America/La_Paz` - America/La_Paz

        * `America/Lima` - America/Lima

        * `America/Los_Angeles` - America/Los_Angeles

        * `America/Louisville` - America/Louisville

        * `America/Lower_Princes` - America/Lower_Princes

        * `America/Maceio` - America/Maceio

        * `America/Managua` - America/Managua

        * `America/Manaus` - America/Manaus

        * `America/Marigot` - America/Marigot

        * `America/Martinique` - America/Martinique

        * `America/Matamoros` - America/Matamoros

        * `America/Mazatlan` - America/Mazatlan

        * `America/Mendoza` - America/Mendoza

        * `America/Menominee` - America/Menominee

        * `America/Merida` - America/Merida

        * `America/Metlakatla` - America/Metlakatla

        * `America/Mexico_City` - America/Mexico_City

        * `America/Miquelon` - America/Miquelon

        * `America/Moncton` - America/Moncton

        * `America/Monterrey` - America/Monterrey

        * `America/Montevideo` - America/Montevideo

        * `America/Montreal` - America/Montreal

        * `America/Montserrat` - America/Montserrat

        * `America/Nassau` - America/Nassau

        * `America/New_York` - America/New_York

        * `America/Nipigon` - America/Nipigon

        * `America/Nome` - America/Nome

        * `America/Noronha` - America/Noronha

        * `America/North_Dakota/Beulah` - America/North_Dakota/Beulah

        * `America/North_Dakota/Center` - America/North_Dakota/Center

        * `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem

        * `America/Nuuk` - America/Nuuk

        * `America/Ojinaga` - America/Ojinaga

        * `America/Panama` - America/Panama

        * `America/Pangnirtung` - America/Pangnirtung

        * `America/Paramaribo` - America/Paramaribo

        * `America/Phoenix` - America/Phoenix

        * `America/Port-au-Prince` - America/Port-au-Prince

        * `America/Port_of_Spain` - America/Port_of_Spain

        * `America/Porto_Acre` - America/Porto_Acre

        * `America/Porto_Velho` - America/Porto_Velho

        * `America/Puerto_Rico` - America/Puerto_Rico

        * `America/Punta_Arenas` - America/Punta_Arenas

        * `America/Rainy_River` - America/Rainy_River

        * `America/Rankin_Inlet` - America/Rankin_Inlet

        * `America/Recife` - America/Recife

        * `America/Regina` - America/Regina

        * `America/Resolute` - America/Resolute

        * `America/Rio_Branco` - America/Rio_Branco

        * `America/Rosario` - America/Rosario

        * `America/Santa_Isabel` - America/Santa_Isabel

        * `America/Santarem` - America/Santarem

        * `America/Santiago` - America/Santiago

        * `America/Santo_Domingo` - America/Santo_Domingo

        * `America/Sao_Paulo` - America/Sao_Paulo

        * `America/Scoresbysund` - America/Scoresbysund

        * `America/Shiprock` - America/Shiprock

        * `America/Sitka` - America/Sitka

        * `America/St_Barthelemy` - America/St_Barthelemy

        * `America/St_Johns` - America/St_Johns

        * `America/St_Kitts` - America/St_Kitts

        * `America/St_Lucia` - America/St_Lucia

        * `America/St_Thomas` - America/St_Thomas

        * `America/St_Vincent` - America/St_Vincent

        * `America/Swift_Current` - America/Swift_Current

        * `America/Tegucigalpa` - America/Tegucigalpa

        * `America/Thule` - America/Thule

        * `America/Thunder_Bay` - America/Thunder_Bay

        * `America/Tijuana` - America/Tijuana

        * `America/Toronto` - America/Toronto

        * `America/Tortola` - America/Tortola

        * `America/Vancouver` - America/Vancouver

        * `America/Virgin` - America/Virgin

        * `America/Whitehorse` - America/Whitehorse

        * `America/Winnipeg` - America/Winnipeg

        * `America/Yakutat` - America/Yakutat

        * `America/Yellowknife` - America/Yellowknife

        * `Antarctica/Casey` - Antarctica/Casey

        * `Antarctica/Davis` - Antarctica/Davis

        * `Antarctica/DumontDUrville` - Antarctica/DumontDUrville

        * `Antarctica/Macquarie` - Antarctica/Macquarie

        * `Antarctica/Mawson` - Antarctica/Mawson

        * `Antarctica/McMurdo` - Antarctica/McMurdo

        * `Antarctica/Palmer` - Antarctica/Palmer

        * `Antarctica/Rothera` - Antarctica/Rothera

        * `Antarctica/South_Pole` - Antarctica/South_Pole

        * `Antarctica/Syowa` - Antarctica/Syowa

        * `Antarctica/Troll` - Antarctica/Troll

        * `Antarctica/Vostok` - Antarctica/Vostok

        * `Arctic/Longyearbyen` - Arctic/Longyearbyen

        * `Asia/Aden` - Asia/Aden

        * `Asia/Almaty` - Asia/Almaty

        * `Asia/Amman` - Asia/Amman

        * `Asia/Anadyr` - Asia/Anadyr

        * `Asia/Aqtau` - Asia/Aqtau

        * `Asia/Aqtobe` - Asia/Aqtobe

        * `Asia/Ashgabat` - Asia/Ashgabat

        * `Asia/Ashkhabad` - Asia/Ashkhabad

        * `Asia/Atyrau` - Asia/Atyrau

        * `Asia/Baghdad` - Asia/Baghdad

        * `Asia/Bahrain` - Asia/Bahrain

        * `Asia/Baku` - Asia/Baku

        * `Asia/Bangkok` - Asia/Bangkok

        * `Asia/Barnaul` - Asia/Barnaul

        * `Asia/Beirut` - Asia/Beirut

        * `Asia/Bishkek` - Asia/Bishkek

        * `Asia/Brunei` - Asia/Brunei

        * `Asia/Calcutta` - Asia/Calcutta

        * `Asia/Chita` - Asia/Chita

        * `Asia/Choibalsan` - Asia/Choibalsan

        * `Asia/Chongqing` - Asia/Chongqing

        * `Asia/Chungking` - Asia/Chungking

        * `Asia/Colombo` - Asia/Colombo

        * `Asia/Dacca` - Asia/Dacca

        * `Asia/Damascus` - Asia/Damascus

        * `Asia/Dhaka` - Asia/Dhaka

        * `Asia/Dili` - Asia/Dili

        * `Asia/Dubai` - Asia/Dubai

        * `Asia/Dushanbe` - Asia/Dushanbe

        * `Asia/Famagusta` - Asia/Famagusta

        * `Asia/Gaza` - Asia/Gaza

        * `Asia/Harbin` - Asia/Harbin

        * `Asia/Hebron` - Asia/Hebron

        * `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh

        * `Asia/Hong_Kong` - Asia/Hong_Kong

        * `Asia/Hovd` - Asia/Hovd

        * `Asia/Irkutsk` - Asia/Irkutsk

        * `Asia/Istanbul` - Asia/Istanbul

        * `Asia/Jakarta` - Asia/Jakarta

        * `Asia/Jayapura` - Asia/Jayapura

        * `Asia/Jerusalem` - Asia/Jerusalem

        * `Asia/Kabul` - Asia/Kabul

        * `Asia/Kamchatka` - Asia/Kamchatka

        * `Asia/Karachi` - Asia/Karachi

        * `Asia/Kashgar` - Asia/Kashgar

        * `Asia/Kathmandu` - Asia/Kathmandu

        * `Asia/Katmandu` - Asia/Katmandu

        * `Asia/Khandyga` - Asia/Khandyga

        * `Asia/Kolkata` - Asia/Kolkata

        * `Asia/Krasnoyarsk` - Asia/Krasnoyarsk

        * `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur

        * `Asia/Kuching` - Asia/Kuching

        * `Asia/Kuwait` - Asia/Kuwait

        * `Asia/Macao` - Asia/Macao

        * `Asia/Macau` - Asia/Macau

        * `Asia/Magadan` - Asia/Magadan

        * `Asia/Makassar` - Asia/Makassar

        * `Asia/Manila` - Asia/Manila

        * `Asia/Muscat` - Asia/Muscat

        * `Asia/Nicosia` - Asia/Nicosia

        * `Asia/Novokuznetsk` - Asia/Novokuznetsk

        * `Asia/Novosibirsk` - Asia/Novosibirsk

        * `Asia/Omsk` - Asia/Omsk

        * `Asia/Oral` - Asia/Oral

        * `Asia/Phnom_Penh` - Asia/Phnom_Penh

        * `Asia/Pontianak` - Asia/Pontianak

        * `Asia/Pyongyang` - Asia/Pyongyang

        * `Asia/Qatar` - Asia/Qatar

        * `Asia/Qostanay` - Asia/Qostanay

        * `Asia/Qyzylorda` - Asia/Qyzylorda

        * `Asia/Rangoon` - Asia/Rangoon

        * `Asia/Riyadh` - Asia/Riyadh

        * `Asia/Saigon` - Asia/Saigon

        * `Asia/Sakhalin` - Asia/Sakhalin

        * `Asia/Samarkand` - Asia/Samarkand

        * `Asia/Seoul` - Asia/Seoul

        * `Asia/Shanghai` - Asia/Shanghai

        * `Asia/Singapore` - Asia/Singapore

        * `Asia/Srednekolymsk` - Asia/Srednekolymsk

        * `Asia/Taipei` - Asia/Taipei

        * `Asia/Tashkent` - Asia/Tashkent

        * `Asia/Tbilisi` - Asia/Tbilisi

        * `Asia/Tehran` - Asia/Tehran

        * `Asia/Tel_Aviv` - Asia/Tel_Aviv

        * `Asia/Thimbu` - Asia/Thimbu

        * `Asia/Thimphu` - Asia/Thimphu

        * `Asia/Tokyo` - Asia/Tokyo

        * `Asia/Tomsk` - Asia/Tomsk

        * `Asia/Ujung_Pandang` - Asia/Ujung_Pandang

        * `Asia/Ulaanbaatar` - Asia/Ulaanbaatar

        * `Asia/Ulan_Bator` - Asia/Ulan_Bator

        * `Asia/Urumqi` - Asia/Urumqi

        * `Asia/Ust-Nera` - Asia/Ust-Nera

        * `Asia/Vientiane` - Asia/Vientiane

        * `Asia/Vladivostok` - Asia/Vladivostok

        * `Asia/Yakutsk` - Asia/Yakutsk

        * `Asia/Yangon` - Asia/Yangon

        * `Asia/Yekaterinburg` - Asia/Yekaterinburg

        * `Asia/Yerevan` - Asia/Yerevan

        * `Atlantic/Azores` - Atlantic/Azores

        * `Atlantic/Bermuda` - Atlantic/Bermuda

        * `Atlantic/Canary` - Atlantic/Canary

        * `Atlantic/Cape_Verde` - Atlantic/Cape_Verde

        * `Atlantic/Faeroe` - Atlantic/Faeroe

        * `Atlantic/Faroe` - Atlantic/Faroe

        * `Atlantic/Jan_Mayen` - Atlantic/Jan_Mayen

        * `Atlantic/Madeira` - Atlantic/Madeira

        * `Atlantic/Reykjavik` - Atlantic/Reykjavik

        * `Atlantic/South_Georgia` - Atlantic/South_Georgia

        * `Atlantic/St_Helena` - Atlantic/St_Helena

        * `Atlantic/Stanley` - Atlantic/Stanley

        * `Australia/ACT` - Australia/ACT

        * `Australia/Adelaide` - Australia/Adelaide

        * `Australia/Brisbane` - Australia/Brisbane

        * `Australia/Broken_Hill` - Australia/Broken_Hill

        * `Australia/Canberra` - Australia/Canberra

        * `Australia/Currie` - Australia/Currie

        * `Australia/Darwin` - Australia/Darwin

        * `Australia/Eucla` - Australia/Eucla

        * `Australia/Hobart` - Australia/Hobart

        * `Australia/LHI` - Australia/LHI

        * `Australia/Lindeman` - Australia/Lindeman

        * `Australia/Lord_Howe` - Australia/Lord_Howe

        * `Australia/Melbourne` - Australia/Melbourne

        * `Australia/NSW` - Australia/NSW

        * `Australia/North` - Australia/North

        * `Australia/Perth` - Australia/Perth

        * `Australia/Queensland` - Australia/Queensland

        * `Australia/South` - Australia/South

        * `Australia/Sydney` - Australia/Sydney

        * `Australia/Tasmania` - Australia/Tasmania

        * `Australia/Victoria` - Australia/Victoria

        * `Australia/West` - Australia/West

        * `Australia/Yancowinna` - Australia/Yancowinna

        * `Brazil/Acre` - Brazil/Acre

        * `Brazil/DeNoronha` - Brazil/DeNoronha

        * `Brazil/East` - Brazil/East

        * `Brazil/West` - Brazil/West

        * `CET` - CET

        * `CST6CDT` - CST6CDT

        * `Canada/Atlantic` - Canada/Atlantic

        * `Canada/Central` - Canada/Central

        * `Canada/Eastern` - Canada/Eastern

        * `Canada/Mountain` - Canada/Mountain

        * `Canada/Newfoundland` - Canada/Newfoundland

        * `Canada/Pacific` - Canada/Pacific

        * `Canada/Saskatchewan` - Canada/Saskatchewan

        * `Canada/Yukon` - Canada/Yukon

        * `Chile/Continental` - Chile/Continental

        * `Chile/EasterIsland` - Chile/EasterIsland

        * `Cuba` - Cuba

        * `EET` - EET

        * `EST` - EST

        * `EST5EDT` - EST5EDT

        * `Egypt` - Egypt

        * `Eire` - Eire

        * `Etc/GMT` - Etc/GMT

        * `Etc/GMT+0` - Etc/GMT+0

        * `Etc/GMT+1` - Etc/GMT+1

        * `Etc/GMT+10` - Etc/GMT+10

        * `Etc/GMT+11` - Etc/GMT+11

        * `Etc/GMT+12` - Etc/GMT+12

        * `Etc/GMT+2` - Etc/GMT+2

        * `Etc/GMT+3` - Etc/GMT+3

        * `Etc/GMT+4` - Etc/GMT+4

        * `Etc/GMT+5` - Etc/GMT+5

        * `Etc/GMT+6` - Etc/GMT+6

        * `Etc/GMT+7` - Etc/GMT+7

        * `Etc/GMT+8` - Etc/GMT+8

        * `Etc/GMT+9` - Etc/GMT+9

        * `Etc/GMT-0` - Etc/GMT-0

        * `Etc/GMT-1` - Etc/GMT-1

        * `Etc/GMT-10` - Etc/GMT-10

        * `Etc/GMT-11` - Etc/GMT-11

        * `Etc/GMT-12` - Etc/GMT-12

        * `Etc/GMT-13` - Etc/GMT-13

        * `Etc/GMT-14` - Etc/GMT-14

        * `Etc/GMT-2` - Etc/GMT-2

        * `Etc/GMT-3` - Etc/GMT-3

        * `Etc/GMT-4` - Etc/GMT-4

        * `Etc/GMT-5` - Etc/GMT-5

        * `Etc/GMT-6` - Etc/GMT-6

        * `Etc/GMT-7` - Etc/GMT-7

        * `Etc/GMT-8` - Etc/GMT-8

        * `Etc/GMT-9` - Etc/GMT-9

        * `Etc/GMT0` - Etc/GMT0

        * `Etc/Greenwich` - Etc/Greenwich

        * `Etc/UCT` - Etc/UCT

        * `Etc/UTC` - Etc/UTC

        * `Etc/Universal` - Etc/Universal

        * `Etc/Zulu` - Etc/Zulu

        * `Europe/Amsterdam` - Europe/Amsterdam

        * `Europe/Andorra` - Europe/Andorra

        * `Europe/Astrakhan` - Europe/Astrakhan

        * `Europe/Athens` - Europe/Athens

        * `Europe/Belfast` - Europe/Belfast

        * `Europe/Belgrade` - Europe/Belgrade

        * `Europe/Berlin` - Europe/Berlin

        * `Europe/Bratislava` - Europe/Bratislava

        * `Europe/Brussels` - Europe/Brussels

        * `Europe/Bucharest` - Europe/Bucharest

        * `Europe/Budapest` - Europe/Budapest

        * `Europe/Busingen` - Europe/Busingen

        * `Europe/Chisinau` - Europe/Chisinau

        * `Europe/Copenhagen` - Europe/Copenhagen

        * `Europe/Dublin` - Europe/Dublin

        * `Europe/Gibraltar` - Europe/Gibraltar

        * `Europe/Guernsey` - Europe/Guernsey

        * `Europe/Helsinki` - Europe/Helsinki

        * `Europe/Isle_of_Man` - Europe/Isle_of_Man

        * `Europe/Istanbul` - Europe/Istanbul

        * `Europe/Jersey` - Europe/Jersey

        * `Europe/Kaliningrad` - Europe/Kaliningrad

        * `Europe/Kiev` - Europe/Kiev

        * `Europe/Kirov` - Europe/Kirov

        * `Europe/Kyiv` - Europe/Kyiv

        * `Europe/Lisbon` - Europe/Lisbon

        * `Europe/Ljubljana` - Europe/Ljubljana

        * `Europe/London` - Europe/London

        * `Europe/Luxembourg` - Europe/Luxembourg

        * `Europe/Madrid` - Europe/Madrid

        * `Europe/Malta` - Europe/Malta

        * `Europe/Mariehamn` - Europe/Mariehamn

        * `Europe/Minsk` - Europe/Minsk

        * `Europe/Monaco` - Europe/Monaco

        * `Europe/Moscow` - Europe/Moscow

        * `Europe/Nicosia` - Europe/Nicosia

        * `Europe/Oslo` - Europe/Oslo

        * `Europe/Paris` - Europe/Paris

        * `Europe/Podgorica` - Europe/Podgorica

        * `Europe/Prague` - Europe/Prague

        * `Europe/Riga` - Europe/Riga

        * `Europe/Rome` - Europe/Rome

        * `Europe/Samara` - Europe/Samara

        * `Europe/San_Marino` - Europe/San_Marino

        * `Europe/Sarajevo` - Europe/Sarajevo

        * `Europe/Saratov` - Europe/Saratov

        * `Europe/Simferopol` - Europe/Simferopol

        * `Europe/Skopje` - Europe/Skopje

        * `Europe/Sofia` - Europe/Sofia

        * `Europe/Stockholm` - Europe/Stockholm

        * `Europe/Tallinn` - Europe/Tallinn

        * `Europe/Tirane` - Europe/Tirane

        * `Europe/Tiraspol` - Europe/Tiraspol

        * `Europe/Ulyanovsk` - Europe/Ulyanovsk

        * `Europe/Uzhgorod` - Europe/Uzhgorod

        * `Europe/Vaduz` - Europe/Vaduz

        * `Europe/Vatican` - Europe/Vatican

        * `Europe/Vienna` - Europe/Vienna

        * `Europe/Vilnius` - Europe/Vilnius

        * `Europe/Volgograd` - Europe/Volgograd

        * `Europe/Warsaw` - Europe/Warsaw

        * `Europe/Zagreb` - Europe/Zagreb

        * `Europe/Zaporozhye` - Europe/Zaporozhye

        * `Europe/Zurich` - Europe/Zurich

        * `GB` - GB

        * `GB-Eire` - GB-Eire

        * `GMT` - GMT

        * `GMT+0` - GMT+0

        * `GMT-0` - GMT-0

        * `GMT0` - GMT0

        * `Greenwich` - Greenwich

        * `HST` - HST

        * `Hongkong` - Hongkong

        * `Iceland` - Iceland

        * `Indian/Antananarivo` - Indian/Antananarivo

        * `Indian/Chagos` - Indian/Chagos

        * `Indian/Christmas` - Indian/Christmas

        * `Indian/Cocos` - Indian/Cocos

        * `Indian/Comoro` - Indian/Comoro

        * `Indian/Kerguelen` - Indian/Kerguelen

        * `Indian/Mahe` - Indian/Mahe

        * `Indian/Maldives` - Indian/Maldives

        * `Indian/Mauritius` - Indian/Mauritius

        * `Indian/Mayotte` - Indian/Mayotte

        * `Indian/Reunion` - Indian/Reunion

        * `Iran` - Iran

        * `Israel` - Israel

        * `Jamaica` - Jamaica

        * `Japan` - Japan

        * `Kwajalein` - Kwajalein

        * `Libya` - Libya

        * `MET` - MET

        * `MST` - MST

        * `MST7MDT` - MST7MDT

        * `Mexico/BajaNorte` - Mexico/BajaNorte

        * `Mexico/BajaSur` - Mexico/BajaSur

        * `Mexico/General` - Mexico/General

        * `NZ` - NZ

        * `NZ-CHAT` - NZ-CHAT

        * `Navajo` - Navajo

        * `PRC` - PRC

        * `PST8PDT` - PST8PDT

        * `Pacific/Apia` - Pacific/Apia

        * `Pacific/Auckland` - Pacific/Auckland

        * `Pacific/Bougainville` - Pacific/Bougainville

        * `Pacific/Chatham` - Pacific/Chatham

        * `Pacific/Chuuk` - Pacific/Chuuk

        * `Pacific/Easter` - Pacific/Easter

        * `Pacific/Efate` - Pacific/Efate

        * `Pacific/Enderbury` - Pacific/Enderbury

        * `Pacific/Fakaofo` - Pacific/Fakaofo

        * `Pacific/Fiji` - Pacific/Fiji

        * `Pacific/Funafuti` - Pacific/Funafuti

        * `Pacific/Galapagos` - Pacific/Galapagos

        * `Pacific/Gambier` - Pacific/Gambier

        * `Pacific/Guadalcanal` - Pacific/Guadalcanal

        * `Pacific/Guam` - Pacific/Guam

        * `Pacific/Honolulu` - Pacific/Honolulu

        * `Pacific/Johnston` - Pacific/Johnston

        * `Pacific/Kanton` - Pacific/Kanton

        * `Pacific/Kiritimati` - Pacific/Kiritimati

        * `Pacific/Kosrae` - Pacific/Kosrae

        * `Pacific/Kwajalein` - Pacific/Kwajalein

        * `Pacific/Majuro` - Pacific/Majuro

        * `Pacific/Marquesas` - Pacific/Marquesas

        * `Pacific/Midway` - Pacific/Midway

        * `Pacific/Nauru` - Pacific/Nauru

        * `Pacific/Niue` - Pacific/Niue

        * `Pacific/Norfolk` - Pacific/Norfolk

        * `Pacific/Noumea` - Pacific/Noumea

        * `Pacific/Pago_Pago` - Pacific/Pago_Pago

        * `Pacific/Palau` - Pacific/Palau

        * `Pacific/Pitcairn` - Pacific/Pitcairn

        * `Pacific/Pohnpei` - Pacific/Pohnpei

        * `Pacific/Ponape` - Pacific/Ponape

        * `Pacific/Port_Moresby` - Pacific/Port_Moresby

        * `Pacific/Rarotonga` - Pacific/Rarotonga

        * `Pacific/Saipan` - Pacific/Saipan

        * `Pacific/Samoa` - Pacific/Samoa

        * `Pacific/Tahiti` - Pacific/Tahiti

        * `Pacific/Tarawa` - Pacific/Tarawa

        * `Pacific/Tongatapu` - Pacific/Tongatapu

        * `Pacific/Truk` - Pacific/Truk

        * `Pacific/Wake` - Pacific/Wake

        * `Pacific/Wallis` - Pacific/Wallis

        * `Pacific/Yap` - Pacific/Yap

        * `Poland` - Poland

        * `Portugal` - Portugal

        * `ROC` - ROC

        * `ROK` - ROK

        * `Singapore` - Singapore

        * `Turkey` - Turkey

        * `UCT` - UCT

        * `US/Alaska` - US/Alaska

        * `US/Aleutian` - US/Aleutian

        * `US/Arizona` - US/Arizona

        * `US/Central` - US/Central

        * `US/East-Indiana` - US/East-Indiana

        * `US/Eastern` - US/Eastern

        * `US/Hawaii` - US/Hawaii

        * `US/Indiana-Starke` - US/Indiana-Starke

        * `US/Michigan` - US/Michigan

        * `US/Mountain` - US/Mountain

        * `US/Pacific` - US/Pacific

        * `US/Samoa` - US/Samoa

        * `UTC` - UTC

        * `Universal` - Universal

        * `W-SU` - W-SU

        * `WET` - WET

        * `Zulu` - Zulu'
    Company:
      type: object
      description: 'A serializer mixin that allows dynamic inclusion or exclusion of serializer fields by

        passing `fields=[...]` or `exclude_fields=[...]` when initializing.'
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        slug:
          type: string
          readOnly: true
          nullable: true
        salesforce_id:
          type: string
          nullable: true
          maxLength: 32
        time_type:
          $ref: '#/components/schemas/TimeTypeEnum'
        created_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - id
      - name
      - slug
    UserCompanyViewResponse:
      type: object
      properties:
        company:
          $ref: '#/components/schemas/Company'
        permission_group:
          $ref: '#/components/schemas/AuthGroupPermissions'
      required:
      - company
      - permission_group
    TimeTypeEnum:
      enum:
      - STANDARD
      - HALF_YEAR
      - CUSTOM
      type: string
      description: '* `STANDARD` - Standard

        * `HALF_YEAR` - Half Year

        * `CUSTOM` - Custom'
    AuthGroupPermissions:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 150
      required:
      - id
      - name
    Message_Response:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    UserCompanySettingsResponse:
      type: object
      properties:
        add_on_data_status_last_viewed_at:
          type: string
          format: date-time
        drilldown_suppress_zeros:
          type: boolean
      required:
      - add_on_data_status_last_viewed_at
      - drilldown_suppress_zeros
    BlankEnum:
      enum:
      - ''
    UserSpreadsheetSettingsResponse:
      type: object
      properties:
        dimensions:
          type: object
          additionalProperties: {}
        user:
          type: object
          additionalProperties: {}
      required:
      - dimensions
      - user
    UserSpreadsheetUpdateRequest:
      type: object
      properties:
        show_excel_warning:
          type: boolean
      required:
      - show_excel_warning
    forgot_password_message_serializer_message_serializer:
      type: object
      properties:
        message:
          type: string
      required:
      - message
    NullEnum:
      enum:
      - null
    ForgotPasswordOpenApiDocAttributes_1:
      type: object
      properties:
        email:
          type: string
          format: email
      required:
      - email
    User:
      type: object
      description: 'A serializer mixin that allows dynamic inclusion or exclusion of serializer fields by

        passing `fields=[...]` or `exclude_fields=[...]` when initializing.'
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        created_at:
          type: string
          format: date-time
          readOnly: true
        email:
          type: string
          format: email
          maxLength: 254
        is_staff:
          type: boolean
          readOnly: true
        is_cube_staff:
          type: boolean
          readOnly: true
        relationship_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RelationshipTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        timezone:
          $ref: '#/components/schemas/TimezoneEnum'
      required:
      - created_at
      - email
      - id
      - is_cube_staff
      - is_staff
    RelationshipTypeEnum:
      enum:
      - EMPLOYEE
      - PARTNER
      type: string
      description: '* `EMPLOYEE` - Employee

        * `PARTNER` - Partner'
    UserCompanySettingsRequest:
      type: object
      properties:
        add_on_data_status_last_viewed_at:
          type: string
          format: date-time
      required:
      - add_on_data_status_last_viewed_at
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
