openapi: 3.0.3
info:
  title: Cube Agents Data Tables API
  version: 1.0.0 (1.0)
  description: "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n"
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Data Tables
  description: "Data Tables are a generic way to organize the source dimensions, mappings, uploads,\n            and imports from an outside source into Cube (e.g. ERP connections, imported flat files, spreadsheet\n            updates, employee rosters, etc).\n        "
paths:
  /data-tables:
    get:
      operationId: list
      description: "List all data tables for a company.\n\nData Tables are a generic way to organize the source dimensions, mappings, uploads, and imports\nfrom an outside source into Cube (source system connections, imported flat files and employee rosters, etc).\n        \n        "
      summary: Retrieve Company Data Tables
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceDataTable'
          description: The data table object
  /data-tables/{data_table_id}:
    get:
      operationId: retrieve_3
      description: "Retrieve a single data table for a company.\n\nData Tables are a generic way to organize the source dimensions, mappings, uploads, and imports\nfrom an outside source into Cube (source system connections, imported flat files and employee rosters, etc).\n        \n        "
      summary: Retrieve a Data Table
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: The ID of the data table
        required: true
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceDataTable'
          description: The data table object
    post:
      operationId: data_tables_create
      description: "Allows updating a data table. This currently supports modifying\n        settings for data tables tied to Salesforce connections and name, description fields for all data tables.\n        "
      summary: Update a Data Table
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Data Tables
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceDataTable'
            examples:
              UpdateSOQLDataTableSetting:
                value:
                  soql_query: SELECT Id, Name FROM Opportunity
                  name: Salesforce
                summary: Update SOQL Data Table Setting
                description: "| **Parameter** | **Default** | **Description** |\n|---|---|---|\n| name | none | The name to use for the data table |\n| settings | {} | A dictionary of table settings |\n        "
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SourceDataTable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/SourceDataTable'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceDataTable'
          description: The data table object
    patch:
      operationId: data_tables_partial_update
      description: This class exists to have a standard rate limit across all authenticated API endpoints
      parameters:
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Data Tables
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSourceDataTable'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedSourceDataTable'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedSourceDataTable'
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceDataTable'
          description: ''
  /data-tables/{data_table_id}/dimensions:
    get:
      operationId: data_tables_dimensions_retrieve
      description: Lists all of the dimensions associated with a given data table
      summary: Retrieve Data Table Dimensions
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: only_tlds
        schema:
          type: boolean
        description: Whether to only return Top-Level Dimensions
      - in: query
        name: order_tree
        schema:
          type: boolean
        description: Whether the dimension tree needs to be ordered
      - in: query
        name: tld_id
        schema:
          type: integer
        description: The ID of the Top-Level Dimension restricting this request
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          description: The listing of dimensions in tree form
    post:
      operationId: data_tables_dimensions_create
      description: Creates and modifies dimensions tied to a data table
      summary: Update Data Table Dimensions
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        required: true
      - in: query
        name: flat
        schema:
          type: boolean
          default: false
        description: Whether or not the POSTed body contains a nested or flat dimensional structure
        examples:
          ListOfDimensionsAsAFlatArrayWith"parentId"KeysSpecified:
            value: 'true'
            summary: List of dimensions as a flat array with "parent_id" keys specified
          ListOfDimensionsWithA"children"KeyWithChildrenDimensions:
            value: 'false'
            summary: List of dimensions with a "children" key with children dimensions
      - in: query
        name: full_list
        schema:
          type: boolean
          default: true
        description: Whether or not the full list is provided, if set to True any dimensions not in this list will be marked as disabled
        examples:
          ReplaceAllDimensions:
            value: 'true'
            summary: Replace all dimensions
          UpdateExistingDimensions/AddNewDimensions:
            value: 'false'
            summary: Update existing dimensions / add new dimensions
      - in: query
        name: tld_name
        schema:
          type: string
        description: A TLD name to associate all the provided dimensions with
        examples:
          UpdateCustomerDimensions:
            value: Customer
            summary: Update Customer dimensions
      tags:
      - Data Tables
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SourceDimensionTree'
            examples:
              DimensionsWithFlat=True:
                value:
                - - name: Account
                    id: 1
                    parent_id: null
                  - name: Income
                    id: 2
                    parent_id: 1
                  - name: Expense
                    id: 3
                    parent_id: 1
                  - name: Assets
                    rollup_type: BALANCE
                    id: 6
                    parent_id: 1
                  - name: Department
                    id: 4
                    parent_id: null
                  - name: Engineering
                    id: 5
                    parent_id: 4
                summary: Dimensions with flat=True
                description: "| **Parameter** | **Type** | **Required** | **Description** |\n|---|---|---|--|\n| name | string | True | The name to use for the dimension\n| children | list | False | A list of child dimensions, defaults to empty\n| id | string | False | This dimension's unique ID from the source system (i.e. third party ID)\n| parent_id | string | False | The ID of this dimension's parent, only use when `flat=true`\n| number | string | False | Account number\n| active | bool | True | Whether this dimension is enabled or not\n| description | string | False | A brief description of the dimension\n| rollup_type | string | None | The rollup type for this dimension\n                "
              DimensionsWithFlat=False:
                value:
                - - name: Account
                    id: 1
                    children:
                    - name: Income
                      id: 2
                    - name: Expense
                      id: 3
                    - name: Assets
                      rollup_type: BALANCE
                      id: 6
                  - name: Department
                    id: 4
                    children:
                    - name: Engineering
                      id: 5
                summary: Dimensions with flat=False
                description: "| **Parameter** | **Type** | **Required** | **Description** |\n|---|---|---|--|\n| name | string | True | The name to use for the dimension\n| children | list | False | A list of child dimensions, defaults to empty\n| id | string | False | This dimension's unique ID from the source system (i.e. third party ID)\n| parent_id | string | False | The ID of this dimension's parent, only use when `flat=true`\n| number | string | False | Account number\n| active | bool | True | Whether this dimension is enabled or not\n| description | string | False | A brief description of the dimension\n| rollup_type | string | None | The rollup type for this dimension\n                "
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SourceDimensionTree'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SourceDimensionTree'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SourceDimensionTree'
          description: ''
  /data-tables/{data_table_id}/dimensions/mappings/rules:
    get:
      operationId: data_tables_dimensions_mappings_rules_list
      description: Lists all of the auto mapping rules from a data table.
      summary: Retrieve AutoMappingRules for a Data Table
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: The ID of the data table the auto-mapping rules belong to
        required: true
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutoMappingRule'
          description: ''
    post:
      operationId: data_tables_dimensions_mappings_rules_create
      description: Create and modify auto mapping rules for a data table.
      summary: Create and Modify AutoMappingRules for a Data Table
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: The ID of the data table the auto-mapping rules belong to
        required: true
      tags:
      - Data Tables
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AutoMappingDoc'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AutoMappingDoc'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AutoMappingDoc'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AutoMappingRule'
          description: ''
  /data-tables/{data_table_id}/mappings:
    get:
      operationId: data_tables_mappings_retrieve
      description: "Lists all of the dimension mappings from a data table's dimensions to a\ncompany's dimensions in Cube. These mappings are used when running an import against source data.\n        "
      summary: Retrieve Mappings for a Data Table
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: The ID of the data table the mappings are for
        required: true
      - in: query
        name: source_tld_id
        schema:
          type: integer
        description: The ID of the Top-Level Source Dimension restricting this request
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionMappingNested'
          description: The mappings for the data table
    post:
      operationId: data_tables_mappings_create
      description: "Lists all of the dimension mappings from a data table's dimensions to a\ncompany's dimensions in Cube. These mappings are used when running an import against source data.\n        "
      summary: Update Mappings for a Data Table
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: The ID of the data table the mappings are for
        required: true
      tags:
      - Data Tables
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DimensionMappingNested'
            examples:
              UpdateMappingsUsingDimensionIDs:
                value:
                - dimension_id: 1
                  source_dimension_id: 100
                summary: Update mappings using dimension IDs
              UpdateMappingsUsingDimensionPaths:
                value:
                - dimension_path: Account:Income Statement:Expenses:Travel and Entertainment
                  source_dimension_path: Account:Expenses:Flights
                summary: Update mappings using dimension paths
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DimensionMappingNested'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DimensionMappingNested'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DimensionMapping'
          description: "The results from updating the mappings for the data table. Mapping updates are\n    handled in a partial manner meaning successful mapping changes will be updated accordingly and failed ones\n    will report back why they failed. Furthermore, altered vs deleted mappings will also be shown in the response.\n\n    Mappings can either be done in realtime or backgrounded depending on how much data needs to be moved for the mapping update.\n\n    `errors` - A list of error strings for any mappings that failed.\n\n    `altered` - A list of any mappings that were altered with this update.\n\n    `code` - Will be `MAPPING_BACKGROUNDED` or `MAPPING_COMPLETED` depending on if the update is being handled via a background worker task.\n            "
  /data-tables/{data_table_id}/schedule-import:
    post:
      operationId: data_tables_schedule_import_create
      description: Schedule and Update a data table import.  A single endpoint that either creates a scheduled data import if one doesn’t already exist, OR updates an existing scheduled data import.
      summary: Schedule and Update a Data Table Import
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Data Tables
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleDataTableImportRequest'
            examples:
              ScheduleAnImport:
                value:
                  start_time_dimension_id: 1
                  end_time_dimension_id: 2
                  day_of_week: MONDAY
                  hour_of_day: 23
                  schedule_cadence: WEEKLY
                  tld_default_dimensions:
                    Account: 7
                    Department: 12
                summary: Schedule an Import
                description: "| **Parameter** | **Type** | **Description** |\n    |---|---|--|\n    | start_time_dimension_id | int | The start time dimension ID |\n    | end_time_dimension_id | int | The end time dimension ID |\n    | day_of_week | string | The day of the week (UTC). Accepted Values: SUNDAY, MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY |\n    | hour_of_day | int | The hour of the day (UTC) for scheduling. Value must be 0-23. |\n    | schedule_cadence | string | The cadence for scheduling. This can either be WEEKLY or DAILY |\n    | tld_default_dimensions | dictionary | The TLD to default dimension ID mapping (i.e. {'Account': 7, 'Department': 12, 'Custom TLD': 18})\n            "
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ScheduleDataTableImportRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ScheduleDataTableImportRequest'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
          description: ''
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
              examples:
                ScheduleCadenceFailedValidation:
                  value:
                    data: {}
                    metadata:
                      status: 400
                      error: true
                      message: 'Field "schedule_cadence" must be a string and be one of the following values: WEEKLY,DAILY'
                      code: FIELD_VALIDATION_ERROR
                  summary: Schedule Cadence Failed Validation
                DayOfWeekFailedValidation:
                  value:
                    data: {}
                    metadata:
                      status: 400
                      error: true
                      message: 'Field "day_of_week" must be a string and be one of the following values: SUNDAY,MONDAY,TUESDAY,WEDNESDAY,THURSDAY,FRIDAY,SATURDAY'
                      code: FIELD_VALIDATION_ERROR
                  summary: Day of Week Failed Validation
                HourOfDayFailedValidation:
                  value:
                    data: {}
                    metadata:
                      status: 400
                      error: true
                      message: 'Field "hour_of_day" must be a integer and be one of the following values: 0-23'
                      code: FIELD_VALIDATION_ERROR
                  summary: Hour of Day Failed Validation
                ScheduledImportAlreadyExistsForTimePeriod:
                  value:
                    data: {}
                    metadata:
                      status: 400
                      error: true
                      message: '"Other Data Table" is already scheduled this hour of the day, please make a different selection.'
                      code: SCHEDULED_IMPORT_EXISTS
                  summary: Scheduled Import already exists for time period
                SpecificFieldRequired:
                  value:
                    data: {}
                    metadata:
                      status: 400
                      error: true
                      message: Field "day_of_week" is required.
                      code: FIELD_REQUIRED_ERROR
                  summary: Specific field required
          description: ''
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
              examples:
                DataTableDoesNotExist:
                  value:
                    data: {}
                    metadata:
                      status: 404
                      error: true
                      message: Data table with ID c4cf3e59-9b4c-4cbf-b627-2feaf9fa7ddf does not exist.
                      code: DATA_TABLE_DOES_NOT_EXIST
                  summary: Data Table does not exist
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
              examples:
                UserIsNotAtLeastAFinanceUser:
                  value:
                    data: {}
                    metadata:
                      status: 403
                      error: true
                      message: Permission denied
                      code: PERMISSION_DENIED
                  summary: User is not at least a finance user
          description: ''
    delete:
      operationId: data_tables_schedule_import_destroy
      description: Deletes an import schedule for a given data table
      summary: Delete the Schedule for a Data Table Import
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: data_table_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
          description: ''
  /data-tables/scheduled-imports:
    get:
      operationId: data_tables_scheduled_imports_retrieve
      description: List all scheduled data table imports for a company. The response can also be filtered by data_table_id.
      summary: Retrieve Scheduled Data Table Imports
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: query
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: Filter imports related to a specific data table
      tags:
      - Data Tables
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
          description: ''
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduledSourceDataTableImports'
          description: ''
components:
  schemas:
    RollupTypeEnum:
      enum:
      - SUM
      - AVERAGE
      - BALANCE
      - BEGINNING_BALANCE
      type: string
      description: '* `SUM` - Sum

        * `AVERAGE` - Average

        * `BALANCE` - Ending Balance

        * `BEGINNING_BALANCE` - Beginning Balance'
    IntegrationSourceEnum:
      enum:
      - METABASE
      - QUICKBOOKS
      - XERO
      - NETSUITE
      - SALESFORCE
      - SAGE_INTACCT
      - RILLET
      - CAMPFIRE
      - CHARTHOP
      - GOOGLE
      - OKTA
      - BOOMI
      - SAML
      - OPEN_EXCHANGE_RATES
      - NETSUITE_RATES
      - MERGE
      type: string
      description: '* `METABASE` - Metabase

        * `QUICKBOOKS` - QuickBooks

        * `XERO` - Xero

        * `NETSUITE` - NetSuite

        * `SALESFORCE` - Salesforce

        * `SAGE_INTACCT` - Sage Intacct

        * `RILLET` - Rillet

        * `CAMPFIRE` - Campfire

        * `CHARTHOP` - ChartHop

        * `GOOGLE` - Google SSO

        * `OKTA` - Okta (OIDC)

        * `BOOMI` - Boomi

        * `SAML` - SAML

        * `OPEN_EXCHANGE_RATES` - Open Exchange Rates

        * `NETSUITE_RATES` - NetSuite Saved Search

        * `MERGE` - Cube Universal Connect'
    DimensionMapping:
      type: object
      properties:
        dimension_id:
          type: integer
          nullable: true
          readOnly: true
        source_dimension_id:
          type: integer
          readOnly: true
        automapped:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        modified_at:
          type: string
          format: date-time
          readOnly: true
      required:
      - created_at
      - dimension_id
      - modified_at
      - source_dimension_id
    NullEnum:
      enum:
      - null
    ScheduleCadenceEnum:
      enum:
      - WEEKLY
      - DAILY
      type: string
      description: '* `WEEKLY` - Weekly

        * `DAILY` - Daily'
    ScheduleDataTableImportRequest:
      type: object
      properties:
        day_of_week:
          type: string
        hour_of_day:
          type: integer
        schedule_cadence:
          type: string
        start_time_dimension_id:
          type: integer
        end_time_dimension_id:
          type: integer
        tld_default_dimensions:
          type: object
          additionalProperties: {}
      required:
      - day_of_week
      - end_time_dimension_id
      - hour_of_day
      - schedule_cadence
      - start_time_dimension_id
      - tld_default_dimensions
    AutoMappingDoc:
      type: object
      properties:
        tld_id:
          type: integer
          minimum: 1
        rule:
          $ref: '#/components/schemas/RuleEnum'
        dimension_id:
          type: integer
          minimum: 1
          nullable: true
      required:
      - rule
      - tld_id
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      type: string
      description: '* `Africa/Abidjan` - Africa/Abidjan

        * `Africa/Accra` - Africa/Accra

        * `Africa/Addis_Ababa` - Africa/Addis_Ababa

        * `Africa/Algiers` - Africa/Algiers

        * `Africa/Asmara` - Africa/Asmara

        * `Africa/Asmera` - Africa/Asmera

        * `Africa/Bamako` - Africa/Bamako

        * `Africa/Bangui` - Africa/Bangui

        * `Africa/Banjul` - Africa/Banjul

        * `Africa/Bissau` - Africa/Bissau

        * `Africa/Blantyre` - Africa/Blantyre

        * `Africa/Brazzaville` - Africa/Brazzaville

        * `Africa/Bujumbura` - Africa/Bujumbura

        * `Africa/Cairo` - Africa/Cairo

        * `Africa/Casablanca` - Africa/Casablanca

        * `Africa/Ceuta` - Africa/Ceuta

        * `Africa/Conakry` - Africa/Conakry

        * `Africa/Dakar` - Africa/Dakar

        * `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam

        * `Africa/Djibouti` - Africa/Djibouti

        * `Africa/Douala` - Africa/Douala

        * `Africa/El_Aaiun` - Africa/El_Aaiun

        * `Africa/Freetown` - Africa/Freetown

        * `Africa/Gaborone` - Africa/Gaborone

        * `Africa/Harare` - Africa/Harare

        * `Africa/Johannesburg` - Africa/Johannesburg

        * `Africa/Juba` - Africa/Juba

        * `Africa/Kampala` - Africa/Kampala

        * `Africa/Khartoum` - Africa/Khartoum

        * `Africa/Kigali` - Africa/Kigali

        * `Africa/Kinshasa` - Africa/Kinshasa

        * `Africa/Lagos` - Africa/Lagos

        * `Africa/Libreville` - Africa/Libreville

        * `Africa/Lome` - Africa/Lome

        * `Africa/Luanda` - Africa/Luanda

        * `Africa/Lubumbashi` - Africa/Lubumbashi

        * `Africa/Lusaka` - Africa/Lusaka

        * `Africa/Malabo` - Africa/Malabo

        * `Africa/Maputo` - Africa/Maputo

        * `Africa/Maseru` - Africa/Maseru

        * `Africa/Mbabane` - Africa/Mbabane

        * `Africa/Mogadishu` - Africa/Mogadishu

        * `Africa/Monrovia` - Africa/Monrovia

        * `Africa/Nairobi` - Africa/Nairobi

        * `Africa/Ndjamena` - Africa/Ndjamena

        * `Africa/Niamey` - Africa/Niamey

        * `Africa/Nouakchott` - Africa/Nouakchott

        * `Africa/Ouagadougou` - Africa/Ouagadougou

        * `Africa/Porto-Novo` - Africa/Porto-Novo

        * `Africa/Sao_Tome` - Africa/Sao_Tome

        * `Africa/Timbuktu` - Africa/Timbuktu

        * `Africa/Tripoli` - Africa/Tripoli

        * `Africa/Tunis` - Africa/Tunis

        * `Africa/Windhoek` - Africa/Windhoek

        * `America/Adak` - America/Adak

        * `America/Anchorage` - America/Anchorage

        * `America/Anguilla` - America/Anguilla

        * `America/Antigua` - America/Antigua

        * `America/Araguaina` - America/Araguaina

        * `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires

        * `America/Argentina/Catamarca` - America/Argentina/Catamarca

        * `America/Argentina/ComodRivadavia` - America/Argentina/ComodRivadavia

        * `America/Argentina/Cordoba` - America/Argentina/Cordoba

        * `America/Argentina/Jujuy` - America/Argentina/Jujuy

        * `America/Argentina/La_Rioja` - America/Argentina/La_Rioja

        * `America/Argentina/Mendoza` - America/Argentina/Mendoza

        * `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos

        * `America/Argentina/Salta` - America/Argentina/Salta

        * `America/Argentina/San_Juan` - America/Argentina/San_Juan

        * `America/Argentina/San_Luis` - America/Argentina/San_Luis

        * `America/Argentina/Tucuman` - America/Argentina/Tucuman

        * `America/Argentina/Ushuaia` - America/Argentina/Ushuaia

        * `America/Aruba` - America/Aruba

        * `America/Asuncion` - America/Asuncion

        * `America/Atikokan` - America/Atikokan

        * `America/Atka` - America/Atka

        * `America/Bahia` - America/Bahia

        * `America/Bahia_Banderas` - America/Bahia_Banderas

        * `America/Barbados` - America/Barbados

        * `America/Belem` - America/Belem

        * `America/Belize` - America/Belize

        * `America/Blanc-Sablon` - America/Blanc-Sablon

        * `America/Boa_Vista` - America/Boa_Vista

        * `America/Bogota` - America/Bogota

        * `America/Boise` - America/Boise

        * `America/Buenos_Aires` - America/Buenos_Aires

        * `America/Cambridge_Bay` - America/Cambridge_Bay

        * `America/Campo_Grande` - America/Campo_Grande

        * `America/Cancun` - America/Cancun

        * `America/Caracas` - America/Caracas

        * `America/Catamarca` - America/Catamarca

        * `America/Cayenne` - America/Cayenne

        * `America/Cayman` - America/Cayman

        * `America/Chicago` - America/Chicago

        * `America/Chihuahua` - America/Chihuahua

        * `America/Ciudad_Juarez` - America/Ciudad_Juarez

        * `America/Coral_Harbour` - America/Coral_Harbour

        * `America/Cordoba` - America/Cordoba

        * `America/Costa_Rica` - America/Costa_Rica

        * `America/Coyhaique` - America/Coyhaique

        * `America/Creston` - America/Creston

        * `America/Cuiaba` - America/Cuiaba

        * `America/Curacao` - America/Curacao

        * `America/Danmarkshavn` - America/Danmarkshavn

        * `America/Dawson` - America/Dawson

        * `America/Dawson_Creek` - America/Dawson_Creek

        * `America/Denver` - America/Denver

        * `America/Detroit` - America/Detroit

        * `America/Dominica` - America/Dominica

        * `America/Edmonton` - America/Edmonton

        * `America/Eirunepe` - America/Eirunepe

        * `America/El_Salvador` - America/El_Salvador

        * `America/Ensenada` - America/Ensenada

        * `America/Fort_Nelson` - America/Fort_Nelson

        * `America/Fort_Wayne` - America/Fort_Wayne

        * `America/Fortaleza` - America/Fortaleza

        * `America/Glace_Bay` - America/Glace_Bay

        * `America/Godthab` - America/Godthab

        * `America/Goose_Bay` - America/Goose_Bay

        * `America/Grand_Turk` - America/Grand_Turk

        * `America/Grenada` - America/Grenada

        * `America/Guadeloupe` - America/Guadeloupe

        * `America/Guatemala` - America/Guatemala

        * `America/Guayaquil` - America/Guayaquil

        * `America/Guyana` - America/Guyana

        * `America/Halifax` - America/Halifax

        * `America/Havana` - America/Havana

        * `America/Hermosillo` - America/Hermosillo

        * `America/Indiana/Indianapolis` - America/Indiana/Indianapolis

        * `America/Indiana/Knox` - America/Indiana/Knox

        * `America/Indiana/Marengo` - America/Indiana/Marengo

        * `America/Indiana/Petersburg` - America/Indiana/Petersburg

        * `America/Indiana/Tell_City` - America/Indiana/Tell_City

        * `America/Indiana/Vevay` - America/Indiana/Vevay

        * `America/Indiana/Vincennes` - America/Indiana/Vincennes

        * `America/Indiana/Winamac` - America/Indiana/Winamac

        * `America/Indianapolis` - America/Indianapolis

        * `America/Inuvik` - America/Inuvik

        * `America/Iqaluit` - America/Iqaluit

        * `America/Jamaica` - America/Jamaica

        * `America/Jujuy` - America/Jujuy

        * `America/Juneau` - America/Juneau

        * `America/Kentucky/Louisville` - America/Kentucky/Louisville

        * `America/Kentucky/Monticello` - America/Kentucky/Monticello

        * `America/Knox_IN` - America/Knox_IN

        * `America/Kralendijk` - America/Kralendijk

        * `America/La_Paz` - America/La_Paz

        * `America/Lima` - America/Lima

        * `America/Los_Angeles` - America/Los_Angeles

        * `America/Louisville` - America/Louisville

        * `America/Lower_Princes` - America/Lower_Princes

        * `America/Maceio` - America/Maceio

        * `America/Managua` - America/Managua

        * `America/Manaus` - America/Manaus

        * `America/Marigot` - America/Marigot

        * `America/Martinique` - America/Martinique

        * `America/Matamoros` - America/Matamoros

        * `America/Mazatlan` - America/Mazatlan

        * `America/Mendoza` - America/Mendoza

        * `America/Menominee` - America/Menominee

        * `America/Merida` - America/Merida

        * `America/Metlakatla` - America/Metlakatla

        * `America/Mexico_City` - America/Mexico_City

        * `America/Miquelon` - America/Miquelon

        * `America/Moncton` - America/Moncton

        * `America/Monterrey` - America/Monterrey

        * `America/Montevideo` - America/Montevideo

        * `America/Montreal` - America/Montreal

        * `America/Montserrat` - America/Montserrat

        * `America/Nassau` - America/Nassau

        * `America/New_York` - America/New_York

        * `America/Nipigon` - America/Nipigon

        * `America/Nome` - America/Nome

        * `America/Noronha` - America/Noronha

        * `America/North_Dakota/Beulah` - America/North_Dakota/Beulah

        * `America/North_Dakota/Center` - America/North_Dakota/Center

        * `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem

        * `America/Nuuk` - America/Nuuk

        * `America/Ojinaga` - America/Ojinaga

        * `America/Panama` - America/Panama

        * `America/Pangnirtung` - America/Pangnirtung

        * `America/Paramaribo` - America/Paramaribo

        * `America/Phoenix` - America/Phoenix

        * `America/Port-au-Prince` - America/Port-au-Prince

        * `America/Port_of_Spain` - America/Port_of_Spain

        * `America/Porto_Acre` - America/Porto_Acre

        * `America/Porto_Velho` - America/Porto_Velho

        * `America/Puerto_Rico` - America/Puerto_Rico

        * `America/Punta_Arenas` - America/Punta_Arenas

        * `America/Rainy_River` - America/Rainy_River

        * `America/Rankin_Inlet` - America/Rankin_Inlet

        * `America/Recife` - America/Recife

        * `America/Regina` - America/Regina

        * `America/Resolute` - America/Resolute

        * `America/Rio_Branco` - America/Rio_Branco

        * `America/Rosario` - America/Rosario

        * `America/Santa_Isabel` - America/Santa_Isabel

        * `America/Santarem` - America/Santarem

        * `America/Santiago` - America/Santiago

        * `America/Santo_Domingo` - America/Santo_Domingo

        * `America/Sao_Paulo` - America/Sao_Paulo

        * `America/Scoresbysund` - America/Scoresbysund

        * `America/Shiprock` - America/Shiprock

        * `America/Sitka` - America/Sitka

        * `America/St_Barthelemy` - America/St_Barthelemy

        * `America/St_Johns` - America/St_Johns

        * `America/St_Kitts` - America/St_Kitts

        * `America/St_Lucia` - America/St_Lucia

        * `America/St_Thomas` - America/St_Thomas

        * `America/St_Vincent` - America/St_Vincent

        * `America/Swift_Current` - America/Swift_Current

        * `America/Tegucigalpa` - America/Tegucigalpa

        * `America/Thule` - America/Thule

        * `America/Thunder_Bay` - America/Thunder_Bay

        * `America/Tijuana` - America/Tijuana

        * `America/Toronto` - America/Toronto

        * `America/Tortola` - America/Tortola

        * `America/Vancouver` - America/Vancouver

        * `America/Virgin` - America/Virgin

        * `America/Whitehorse` - America/Whitehorse

        * `America/Winnipeg` - America/Winnipeg

        * `America/Yakutat` - America/Yakutat

        * `America/Yellowknife` - America/Yellowknife

        * `Antarctica/Casey` - Antarctica/Casey

        * `Antarctica/Davis` - Antarctica/Davis

        * `Antarctica/DumontDUrville` - Antarctica/DumontDUrville

        * `Antarctica/Macquarie` - Antarctica/Macquarie

        * `Antarctica/Mawson` - Antarctica/Mawson

        * `Antarctica/McMurdo` - Antarctica/McMurdo

        * `Antarctica/Palmer` - Antarctica/Palmer

        * `Antarctica/Rothera` - Antarctica/Rothera

        * `Antarctica/South_Pole` - Antarctica/South_Pole

        * `Antarctica/Syowa` - Antarctica/Syowa

        * `Antarctica/Troll` - Antarctica/Troll

        * `Antarctica/Vostok` - Antarctica/Vostok

        * `Arctic/Longyearbyen` - Arctic/Longyearbyen

        * `Asia/Aden` - Asia/Aden

        * `Asia/Almaty` - Asia/Almaty

        * `Asia/Amman` - Asia/Amman

        * `Asia/Anadyr` - Asia/Anadyr

        * `Asia/Aqtau` - Asia/Aqtau

        * `Asia/Aqtobe` - Asia/Aqtobe

        * `Asia/Ashgabat` - Asia/Ashgabat

        * `Asia/Ashkhabad` - Asia/Ashkhabad

        * `Asia/Atyrau` - Asia/Atyrau

        * `Asia/Baghdad` - Asia/Baghdad

        * `Asia/Bahrain` - Asia/Bahrain

        * `Asia/Baku` - Asia/Baku

        * `Asia/Bangkok` - Asia/Bangkok

        * `Asia/Barnaul` - Asia/Barnaul

        * `Asia/Beirut` - Asia/Beirut

        * `Asia/Bishkek` - Asia/Bishkek

        * `Asia/Brunei` - Asia/Brunei

        * `Asia/Calcutta` - Asia/Calcutta

        * `Asia/Chita` - Asia/Chita

        * `Asia/Choibalsan` - Asia/Choibalsan

        * `Asia/Chongqing` - Asia/Chongqing

        * `Asia/Chungking` - Asia/Chungking

        * `Asia/Colombo` - Asia/Colombo

        * `Asia/Dacca` - Asia/Dacca

        * `Asia/Damascus` - Asia/Damascus

        * `Asia/Dhaka` - Asia/Dhaka

        * `Asia/Dili` - Asia/Dili

        * `Asia/Dubai` - Asia/Dubai

        * `Asia/Dushanbe` - Asia/Dushanbe

        * `Asia/Famagusta` - Asia/Famagusta

        * `Asia/Gaza` - Asia/Gaza

        * `Asia/Harbin` - Asia/Harbin

        * `Asia/Hebron` - Asia/Hebron

        * `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh

        * `Asia/Hong_Kong` - Asia/Hong_Kong

        * `Asia/Hovd` - Asia/Hovd

        * `Asia/Irkutsk` - Asia/Irkutsk

        * `Asia/Istanbul` - Asia/Istanbul

        * `Asia/Jakarta` - Asia/Jakarta

        * `Asia/Jayapura` - Asia/Jayapura

        * `Asia/Jerusalem` - Asia/Jerusalem

        * `Asia/Kabul` - Asia/Kabul

        * `Asia/Kamchatka` - Asia/Kamchatka

        * `Asia/Karachi` - Asia/Karachi

        * `Asia/Kashgar` - Asia/Kashgar

        * `Asia/Kathmandu` - Asia/Kathmandu

        * `Asia/Katmandu` - Asia/Katmandu

        * `Asia/Khandyga` - Asia/Khandyga

        * `Asia/Kolkata` - Asia/Kolkata

        * `Asia/Krasnoyarsk` - Asia/Krasnoyarsk

        * `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur

        * `Asia/Kuching` - Asia/Kuching

        * `Asia/Kuwait` - Asia/Kuwait

        * `Asia/Macao` - Asia/Macao

        * `Asia/Macau` - Asia/Macau

        * `Asia/Magadan` - Asia/Magadan

        * `Asia/Makassar` - Asia/Makassar

        * `Asia/Manila` - Asia/Manila

        * `Asia/Muscat` - Asia/Muscat

        * `Asia/Nicosia` - Asia/Nicosia

        * `Asia/Novokuznetsk` - Asia/Novokuznetsk

        * `Asia/Novosibirsk` - Asia/Novosibirsk

        * `Asia/Omsk` - Asia/Omsk

        * `Asia/Oral` - Asia/Oral

        * `Asia/Phnom_Penh` - Asia/Phnom_Penh

        * `Asia/Pontianak` - Asia/Pontianak

        * `Asia/Pyongyang` - Asia/Pyongyang

        * `Asia/Qatar` - Asia/Qatar

        * `Asia/Qostanay` - Asia/Qostanay

        * `Asia/Qyzylorda` - Asia/Qyzylorda

        * `Asia/Rangoon` - Asia/Rangoon

        * `Asia/Riyadh` - Asia/Riyadh

        * `Asia/Saigon` - Asia/Saigon

        * `Asia/Sakhalin` - Asia/Sakhalin

        * `Asia/Samarkand` - Asia/Samarkand

        * `Asia/Seoul` - Asia/Seoul

        * `Asia/Shanghai` - Asia/Shanghai

        * `Asia/Singapore` - Asia/Singapore

        * `Asia/Srednekolymsk` - Asia/Srednekolymsk

        * `Asia/Taipei` - Asia/Taipei

        * `Asia/Tashkent` - Asia/Tashkent

        * `Asia/Tbilisi` - Asia/Tbilisi

        * `Asia/Tehran` - Asia/Tehran

        * `Asia/Tel_Aviv` - Asia/Tel_Aviv

        * `Asia/Thimbu` - Asia/Thimbu

        * `Asia/Thimphu` - Asia/Thimphu

        * `Asia/Tokyo` - Asia/Tokyo

        * `Asia/Tomsk` - Asia/Tomsk

        * `Asia/Ujung_Pandang` - Asia/Ujung_Pandang

        * `Asia/Ulaanbaatar` - Asia/Ulaanbaatar

        * `Asia/Ulan_Bator` - Asia/Ulan_Bator

        * `Asia/Urumqi` - Asia/Urumqi

        * `Asia/Ust-Nera` - Asia/Ust-Nera

        * `Asia/Vientiane` - Asia/Vientiane

        * `Asia/Vladivostok` - Asia/Vladivostok

        * `Asia/Yakutsk` - Asia/Yakutsk

        * `Asia/Yangon` - Asia/Yangon

        * `Asia/Yekaterinburg` - Asia/Yekaterinburg

        * `Asia/Yerevan` - Asia/Yerevan

        * `Atlantic/Azores` - Atlantic/Azores

        * `Atlantic/Bermuda` - Atlantic/Bermuda

        * `Atlantic/Canary` - Atlantic/Canary

        * `Atlantic/Cape_Verde` - Atlantic/Cape_Verde

        * `Atlantic/Faeroe` - Atlantic/Faeroe

        * `Atlantic/Faroe` - Atlantic/Faroe

        * `Atlantic/Jan_Mayen` - Atlantic/Jan_Mayen

        * `Atlantic/Madeira` - Atlantic/Madeira

        * `Atlantic/Reykjavik` - Atlantic/Reykjavik

        * `Atlantic/South_Georgia` - Atlantic/South_Georgia

        * `Atlantic/St_Helena` - Atlantic/St_Helena

        * `Atlantic/Stanley` - Atlantic/Stanley

        * `Australia/ACT` - Australia/ACT

        * `Australia/Adelaide` - Australia/Adelaide

        * `Australia/Brisbane` - Australia/Brisbane

        * `Australia/Broken_Hill` - Australia/Broken_Hill

        * `Australia/Canberra` - Australia/Canberra

        * `Australia/Currie` - Australia/Currie

        * `Australia/Darwin` - Australia/Darwin

        * `Australia/Eucla` - Australia/Eucla

        * `Australia/Hobart` - Australia/Hobart

        * `Australia/LHI` - Australia/LHI

        * `Australia/Lindeman` - Australia/Lindeman

        * `Australia/Lord_Howe` - Australia/Lord_Howe

        * `Australia/Melbourne` - Australia/Melbourne

        * `Australia/NSW` - Australia/NSW

        * `Australia/North` - Australia/North

        * `Australia/Perth` - Australia/Perth

        * `Australia/Queensland` - Australia/Queensland

        * `Australia/South` - Australia/South

        * `Australia/Sydney` - Australia/Sydney

        * `Australia/Tasmania` - Australia/Tasmania

        * `Australia/Victoria` - Australia/Victoria

        * `Australia/West` - Australia/West

        * `Australia/Yancowinna` - Australia/Yancowinna

        * `Brazil/Acre` - Brazil/Acre

        * `Brazil/DeNoronha` - Brazil/DeNoronha

        * `Brazil/East` - Brazil/East

        * `Brazil/West` - Brazil/West

        * `CET` - CET

        * `CST6CDT` - CST6CDT

        * `Canada/Atlantic` - Canada/Atlantic

        * `Canada/Central` - Canada/Central

        * `Canada/Eastern` - Canada/Eastern

        * `Canada/Mountain` - Canada/Mountain

        * `Canada/Newfoundland` - Canada/Newfoundland

        * `Canada/Pacific` - Canada/Pacific

        * `Canada/Saskatchewan` - Canada/Saskatchewan

        * `Canada/Yukon` - Canada/Yukon

        * `Chile/Continental` - Chile/Continental

        * `Chile/EasterIsland` - Chile/EasterIsland

        * `Cuba` - Cuba

        * `EET` - EET

        * `EST` - EST

        * `EST5EDT` - EST5EDT

        * `Egypt` - Egypt

        * `Eire` - Eire

        * `Etc/GMT` - Etc/GMT

        * `Etc/GMT+0` - Etc/GMT+0

        * `Etc/GMT+1` - Etc/GMT+1

        * `Etc/GMT+10` - Etc/GMT+10

        * `Etc/GMT+11` - Etc/GMT+11

        * `Etc/GMT+12` - Etc/GMT+12

        * `Etc/GMT+2` - Etc/GMT+2

        * `Etc/GMT+3` - Etc/GMT+3

        * `Etc/GMT+4` - Etc/GMT+4

        * `Etc/GMT+5` - Etc/GMT+5

        * `Etc/GMT+6` - Etc/GMT+6

        * `Etc/GMT+7` - Etc/GMT+7

        * `Etc/GMT+8` - Etc/GMT+8

        * `Etc/GMT+9` - Etc/GMT+9

        * `Etc/GMT-0` - Etc/GMT-0

        * `Etc/GMT-1` - Etc/GMT-1

        * `Etc/GMT-10` - Etc/GMT-10

        * `Etc/GMT-11` - Etc/GMT-11

        * `Etc/GMT-12` - Etc/GMT-12

        * `Etc/GMT-13` - Etc/GMT-13

        * `Etc/GMT-14` - Etc/GMT-14

        * `Etc/GMT-2` - Etc/GMT-2

        * `Etc/GMT-3` - Etc/GMT-3

        * `Etc/GMT-4` - Etc/GMT-4

        * `Etc/GMT-5` - Etc/GMT-5

        * `Etc/GMT-6` - Etc/GMT-6

        * `Etc/GMT-7` - Etc/GMT-7

        * `Etc/GMT-8` - Etc/GMT-8

        * `Etc/GMT-9` - Etc/GMT-9

        * `Etc/GMT0` - Etc/GMT0

        * `Etc/Greenwich` - Etc/Greenwich

        * `Etc/UCT` - Etc/UCT

        * `Etc/UTC` - Etc/UTC

        * `Etc/Universal` - Etc/Universal

        * `Etc/Zulu` - Etc/Zulu

        * `Europe/Amsterdam` - Europe/Amsterdam

        * `Europe/Andorra` - Europe/Andorra

        * `Europe/Astrakhan` - Europe/Astrakhan

        * `Europe/Athens` - Europe/Athens

        * `Europe/Belfast` - Europe/Belfast

        * `Europe/Belgrade` - Europe/Belgrade

        * `Europe/Berlin` - Europe/Berlin

        * `Europe/Bratislava` - Europe/Bratislava

        * `Europe/Brussels` - Europe/Brussels

        * `Europe/Bucharest` - Europe/Bucharest

        * `Europe/Budapest` - Europe/Budapest

        * `Europe/Busingen` - Europe/Busingen

        * `Europe/Chisinau` - Europe/Chisinau

        * `Europe/Copenhagen` - Europe/Copenhagen

        * `Europe/Dublin` - Europe/Dublin

        * `Europe/Gibraltar` - Europe/Gibraltar

        * `Europe/Guernsey` - Europe/Guernsey

        * `Europe/Helsinki` - Europe/Helsinki

        * `Europe/Isle_of_Man` - Europe/Isle_of_Man

        * `Europe/Istanbul` - Europe/Istanbul

        * `Europe/Jersey` - Europe/Jersey

        * `Europe/Kaliningrad` - Europe/Kaliningrad

        * `Europe/Kiev` - Europe/Kiev

        * `Europe/Kirov` - Europe/Kirov

        * `Europe/Kyiv` - Europe/Kyiv

        * `Europe/Lisbon` - Europe/Lisbon

        * `Europe/Ljubljana` - Europe/Ljubljana

        * `Europe/London` - Europe/London

        * `Europe/Luxembourg` - Europe/Luxembourg

        * `Europe/Madrid` - Europe/Madrid

        * `Europe/Malta` - Europe/Malta

        * `Europe/Mariehamn` - Europe/Mariehamn

        * `Europe/Minsk` - Europe/Minsk

        * `Europe/Monaco` - Europe/Monaco

        * `Europe/Moscow` - Europe/Moscow

        * `Europe/Nicosia` - Europe/Nicosia

        * `Europe/Oslo` - Europe/Oslo

        * `Europe/Paris` - Europe/Paris

        * `Europe/Podgorica` - Europe/Podgorica

        * `Europe/Prague` - Europe/Prague

        * `Europe/Riga` - Europe/Riga

        * `Europe/Rome` - Europe/Rome

        * `Europe/Samara` - Europe/Samara

        * `Europe/San_Marino` - Europe/San_Marino

        * `Europe/Sarajevo` - Europe/Sarajevo

        * `Europe/Saratov` - Europe/Saratov

        * `Europe/Simferopol` - Europe/Simferopol

        * `Europe/Skopje` - Europe/Skopje

        * `Europe/Sofia` - Europe/Sofia

        * `Europe/Stockholm` - Europe/Stockholm

        * `Europe/Tallinn` - Europe/Tallinn

        * `Europe/Tirane` - Europe/Tirane

        * `Europe/Tiraspol` - Europe/Tiraspol

        * `Europe/Ulyanovsk` - Europe/Ulyanovsk

        * `Europe/Uzhgorod` - Europe/Uzhgorod

        * `Europe/Vaduz` - Europe/Vaduz

        * `Europe/Vatican` - Europe/Vatican

        * `Europe/Vienna` - Europe/Vienna

        * `Europe/Vilnius` - Europe/Vilnius

        * `Europe/Volgograd` - Europe/Volgograd

        * `Europe/Warsaw` - Europe/Warsaw

        * `Europe/Zagreb` - Europe/Zagreb

        * `Europe/Zaporozhye` - Europe/Zaporozhye

        * `Europe/Zurich` - Europe/Zurich

        * `GB` - GB

        * `GB-Eire` - GB-Eire

        * `GMT` - GMT

        * `GMT+0` - GMT+0

        * `GMT-0` - GMT-0

        * `GMT0` - GMT0

        * `Greenwich` - Greenwich

        * `HST` - HST

        * `Hongkong` - Hongkong

        * `Iceland` - Iceland

        * `Indian/Antananarivo` - Indian/Antananarivo

        * `Indian/Chagos` - Indian/Chagos

        * `Indian/Christmas` - Indian/Christmas

        * `Indian/Cocos` - Indian/Cocos

        * `Indian/Comoro` - Indian/Comoro

        * `Indian/Kerguelen` - Indian/Kerguelen

        * `Indian/Mahe` - Indian/Mahe

        * `Indian/Maldives` - Indian/Maldives

        * `Indian/Mauritius` - Indian/Mauritius

        * `Indian/Mayotte` - Indian/Mayotte

        * `Indian/Reunion` - Indian/Reunion

        * `Iran` - Iran

        * `Israel` - Israel

        * `Jamaica` - Jamaica

        * `Japan` - Japan

        * `Kwajalein` - Kwajalein

        * `Libya` - Libya

        * `MET` - MET

        * `MST` - MST

        * `MST7MDT` - MST7MDT

        * `Mexico/BajaNorte` - Mexico/BajaNorte

        * `Mexico/BajaSur` - Mexico/BajaSur

        * `Mexico/General` - Mexico/General

        * `NZ` - NZ

        * `NZ-CHAT` - NZ-CHAT

        * `Navajo` - Navajo

        * `PRC` - PRC

        * `PST8PDT` - PST8PDT

        * `Pacific/Apia` - Pacific/Apia

        * `Pacific/Auckland` - Pacific/Auckland

        * `Pacific/Bougainville` - Pacific/Bougainville

        * `Pacific/Chatham` - Pacific/Chatham

        * `Pacific/Chuuk` - Pacific/Chuuk

        * `Pacific/Easter` - Pacific/Easter

        * `Pacific/Efate` - Pacific/Efate

        * `Pacific/Enderbury` - Pacific/Enderbury

        * `Pacific/Fakaofo` - Pacific/Fakaofo

        * `Pacific/Fiji` - Pacific/Fiji

        * `Pacific/Funafuti` - Pacific/Funafuti

        * `Pacific/Galapagos` - Pacific/Galapagos

        * `Pacific/Gambier` - Pacific/Gambier

        * `Pacific/Guadalcanal` - Pacific/Guadalcanal

        * `Pacific/Guam` - Pacific/Guam

        * `Pacific/Honolulu` - Pacific/Honolulu

        * `Pacific/Johnston` - Pacific/Johnston

        * `Pacific/Kanton` - Pacific/Kanton

        * `Pacific/Kiritimati` - Pacific/Kiritimati

        * `Pacific/Kosrae` - Pacific/Kosrae

        * `Pacific/Kwajalein` - Pacific/Kwajalein

        * `Pacific/Majuro` - Pacific/Majuro

        * `Pacific/Marquesas` - Pacific/Marquesas

        * `Pacific/Midway` - Pacific/Midway

        * `Pacific/Nauru` - Pacific/Nauru

        * `Pacific/Niue` - Pacific/Niue

        * `Pacific/Norfolk` - Pacific/Norfolk

        * `Pacific/Noumea` - Pacific/Noumea

        * `Pacific/Pago_Pago` - Pacific/Pago_Pago

        * `Pacific/Palau` - Pacific/Palau

        * `Pacific/Pitcairn` - Pacific/Pitcairn

        * `Pacific/Pohnpei` - Pacific/Pohnpei

        * `Pacific/Ponape` - Pacific/Ponape

        * `Pacific/Port_Moresby` - Pacific/Port_Moresby

        * `Pacific/Rarotonga` - Pacific/Rarotonga

        * `Pacific/Saipan` - Pacific/Saipan

        * `Pacific/Samoa` - Pacific/Samoa

        * `Pacific/Tahiti` - Pacific/Tahiti

        * `Pacific/Tarawa` - Pacific/Tarawa

        * `Pacific/Tongatapu` - Pacific/Tongatapu

        * `Pacific/Truk` - Pacific/Truk

        * `Pacific/Wake` - Pacific/Wake

        * `Pacific/Wallis` - Pacific/Wallis

        * `Pacific/Yap` - Pacific/Yap

        * `Poland` - Poland

        * `Portugal` - Portugal

        * `ROC` - ROC

        * `ROK` - ROK

        * `Singapore` - Singapore

        * `Turkey` - Turkey

        * `UCT` - UCT

        * `US/Alaska` - US/Alaska

        * `US/Aleutian` - US/Aleutian

        * `US/Arizona` - US/Arizona

        * `US/Central` - US/Central

        * `US/East-Indiana` - US/East-Indiana

        * `US/Eastern` - US/Eastern

        * `US/Hawaii` - US/Hawaii

        * `US/Indiana-Starke` - US/Indiana-Starke

        * `US/Michigan` - US/Michigan

        * `US/Mountain` - US/Mountain

        * `US/Pacific` - US/Pacific

        * `US/Samoa` - US/Samoa

        * `UTC` - UTC

        * `Universal` - Universal

        * `W-SU` - W-SU

        * `WET` - WET

        * `Zulu` - Zulu'
    PatchedSourceDataTable:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          format: date-time
          readOnly: true
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/SourceDataTableTypeEnum'
          readOnly: true
        type_friendly:
          type: string
          readOnly: true
        last_import:
          type: object
          additionalProperties: {}
          readOnly: true
        last_successful_import:
          type: object
          additionalProperties: {}
          readOnly: true
        source_type:
          type: string
          description: "Returns the human-friendly category of the connection's Integration, if the table has\na connection. Otherwise, returns 'Data Table'.\n\nReturns:\n    The human-friendly source category"
          readOnly: true
        mapping_data:
          type: object
          additionalProperties: {}
          readOnly: true
        description:
          type: string
    AutoMappingRule:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        data_table_id:
          type: string
          format: uuid
        tld_id:
          type: integer
          minimum: 1
        rule:
          $ref: '#/components/schemas/RuleEnum'
        dimension_id:
          type: integer
          minimum: 1
          nullable: true
      required:
      - data_table_id
      - id
      - rule
      - tld_id
    WriteProtectionEnum:
      enum:
      - NONE
      - BLOCK
      - ACTUALS
      - AI
      type: string
      description: '* `NONE` - None

        * `BLOCK` - Block

        * `ACTUALS` - Actuals

        * `AI` - AI'
    Integration:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        source:
          $ref: '#/components/schemas/IntegrationSourceEnum'
        category:
          $ref: '#/components/schemas/CategoryEnum'
        name:
          type: string
          maxLength: 100
        logo_url:
          type: string
          nullable: true
          readOnly: true
      required:
      - category
      - id
      - logo_url
      - name
      - source
    DimensionMappingNested:
      type: object
      properties:
        dimension:
          $ref: '#/components/schemas/DimensionWithTld'
        source_dimension:
          $ref: '#/components/schemas/DimensionWithTld'
        automapped:
          type: boolean
        created_at:
          type: string
          format: date-time
          readOnly: true
        modified_at:
          type: string
          format: date-time
          readOnly: true
        modified_by:
          $ref: '#/components/schemas/User'
        sign_flip:
          type: boolean
      required:
      - created_at
      - modified_at
      - modified_by
      - source_dimension
    DayOfWeekEnum:
      enum:
      - SUNDAY
      - MONDAY
      - TUESDAY
      - WEDNESDAY
      - THURSDAY
      - FRIDAY
      - SATURDAY
      type: string
      description: '* `SUNDAY` - Sun

        * `MONDAY` - Mon

        * `TUESDAY` - Tue

        * `WEDNESDAY` - Wed

        * `THURSDAY` - Thu

        * `FRIDAY` - Fri

        * `SATURDAY` - Sat'
    PriorTimeUnitEnum:
      enum:
      - DAY
      - MONTH
      - WEEK
      - QUARTER
      - YEAR
      type: string
      description: '* `DAY` - Day

        * `MONTH` - Month

        * `WEEK` - Week

        * `QUARTER` - Quarter

        * `YEAR` - Year'
    RelationshipTypeEnum:
      enum:
      - EMPLOYEE
      - PARTNER
      type: string
      description: '* `EMPLOYEE` - Employee

        * `PARTNER` - Partner'
    SourceDataTable:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          format: date-time
          readOnly: true
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/SourceDataTableTypeEnum'
          readOnly: true
        type_friendly:
          type: string
          readOnly: true
        last_import:
          type: object
          additionalProperties: {}
          readOnly: true
        last_successful_import:
          type: object
          additionalProperties: {}
          readOnly: true
        source_type:
          type: string
          description: "Returns the human-friendly category of the connection's Integration, if the table has\na connection. Otherwise, returns 'Data Table'.\n\nReturns:\n    The human-friendly source category"
          readOnly: true
        mapping_data:
          type: object
          additionalProperties: {}
          readOnly: true
        description:
          type: string
      required:
      - active
      - connection
      - created_at
      - id
      - last_import
      - last_successful_import
      - mapping_data
      - name
      - settings
      - source_type
      - type
      - type_friendly
    RuleEnum:
      enum:
      - IGNORE
      - ONE_TO_ONE
      - MANY_TO_ONE
      type: string
      description: '* `IGNORE` - Ignore

        * `ONE_TO_ONE` - One-to-one

        * `MANY_TO_ONE` - Many-to-one'
    CategoryEnum:
      enum:
      - BI
      - GL
      - HRIS
      - SSO
      - CRM
      - OTHER
      - UAP
      type: string
      description: '* `BI` - Business Intelligence

        * `GL` - General Ledger

        * `HRIS` - Human Resource Information Service

        * `SSO` - Single Sign On

        * `CRM` - Customer Relationship Management

        * `OTHER` - Other

        * `UAP` - Unified API Platform'
    Connection:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        active:
          type: boolean
          readOnly: true
        type:
          type: string
          nullable: true
          description: "Return the category of the associated Integration model for backwards compatibility\n\nReturns:\n    The integration category (See Integration.CATEGORIES)"
          readOnly: true
        friendly_source:
          type: string
          readOnly: true
        integration:
          allOf:
          - $ref: '#/components/schemas/Integration'
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
          readOnly: true
      required:
      - active
      - friendly_source
      - id
      - integration
      - metadata
      - settings
      - type
    User:
      type: object
      description: 'A serializer mixin that allows dynamic inclusion or exclusion of serializer fields by

        passing `fields=[...]` or `exclude_fields=[...]` when initializing.'
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        created_at:
          type: string
          format: date-time
          readOnly: true
        email:
          type: string
          format: email
          maxLength: 254
        is_staff:
          type: boolean
          readOnly: true
        is_cube_staff:
          type: boolean
          readOnly: true
        relationship_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RelationshipTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        timezone:
          $ref: '#/components/schemas/TimezoneEnum'
      required:
      - created_at
      - email
      - id
      - is_cube_staff
      - is_staff
    SourceDataTableTypeEnum:
      enum:
      - AD_HOC
      - ERP_CONNECTION
      - GENERIC
      - EMPLOYEE_ROSTER
      - HRIS
      type: string
      description: '* `AD_HOC` - Ad Hoc

        * `ERP_CONNECTION` - ERP Connection

        * `GENERIC` - Generic

        * `EMPLOYEE_ROSTER` - Employee Roster

        * `HRIS` - HRIS Connection'
    SourceDimensionTree:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        parent_id:
          type: integer
          nullable: true
          readOnly: true
        currency_id:
          type: integer
          nullable: true
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        status:
          $ref: '#/components/schemas/Status2c8Enum'
        type:
          $ref: '#/components/schemas/Type95aEnum'
        rollup_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RollupTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        formula:
          type: string
          readOnly: true
        write_protection:
          $ref: '#/components/schemas/WriteProtectionEnum'
        position:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
        special_case_id:
          type: string
          nullable: true
          maxLength: 100
        date:
          type: string
          format: date
          nullable: true
        has_children:
          type: boolean
        write_block_reason:
          type: string
          description: "If the dimension cannot be written to, return the reason why. Otherwise, return nothing.\n\nArgs:\n    obj: The model object to be checked if can be written to.\n\nReturns:\n    str (Optional): The error blocking the dimension from being written to, if one exists"
          readOnly: true
        number:
          type: string
          nullable: true
          maxLength: 150
        created_at:
          type: string
          format: date-time
          readOnly: true
        children:
          readOnly: true
        data_table_id:
          type: string
          format: uuid
        description:
          type: string
          nullable: true
        requires_mapping:
          type: boolean
          readOnly: true
        can_be_sign_flipped:
          type: boolean
          readOnly: true
      required:
      - active
      - can_be_sign_flipped
      - children
      - created_at
      - currency_id
      - data_table_id
      - formula
      - id
      - name
      - parent_id
      - requires_mapping
      - write_block_reason
    Type95aEnum:
      enum:
      - BASIC
      - FORMULA
      - TAG
      type: string
      description: '* `BASIC` - Basic

        * `FORMULA` - Formula

        * `TAG` - Tag'
    BlankEnum:
      enum:
      - ''
    ScheduledSourceDataTableImports:
      type: object
      properties:
        schedule_cadence:
          $ref: '#/components/schemas/ScheduleCadenceEnum'
        day_of_week:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/DayOfWeekEnum'
          - $ref: '#/components/schemas/NullEnum'
        hour_of_day:
          type: integer
          maximum: 23
          minimum: 0
        source_data_table:
          allOf:
          - $ref: '#/components/schemas/SourceDataTable'
          readOnly: true
        start_time_dimension:
          type: integer
          nullable: true
        end_time_dimension:
          type: integer
          nullable: true
        num_prior_time:
          type: integer
          maximum: 2147483647
          minimum: 0
          nullable: true
        prior_time_unit:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/PriorTimeUnitEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        tld_default_dimensions:
          type: object
          additionalProperties:
            type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        created_by:
          type: integer
        modified_at:
          type: string
          format: date-time
          readOnly: true
        modified_by:
          type: integer
          nullable: true
      required:
      - created_at
      - created_by
      - hour_of_day
      - modified_at
      - source_data_table
      - tld_default_dimensions
    Dimension:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        parent_id:
          type: integer
          nullable: true
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        status:
          $ref: '#/components/schemas/Status2c8Enum'
        type:
          $ref: '#/components/schemas/Type95aEnum'
        rollup_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RollupTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        formula:
          type: string
          readOnly: true
        write_protection:
          $ref: '#/components/schemas/WriteProtectionEnum'
        position:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
        special_case_id:
          type: string
          nullable: true
          maxLength: 100
        date:
          type: string
          format: date
          nullable: true
        has_children:
          type: boolean
        write_block_reason:
          type: string
          description: "If the dimension cannot be written to, return the reason why. Otherwise, return nothing.\n\nArgs:\n    obj: The model object to be checked if can be written to.\n\nReturns:\n    str (Optional): The error blocking the dimension from being written to, if one exists"
          readOnly: true
        metadata:
          type: string
          nullable: true
      required:
      - active
      - formula
      - id
      - name
      - parent_id
      - write_block_reason
    Status2c8Enum:
      enum:
      - ENABLED
      - DISABLING_VALUES
      - CLEARING_VALUES
      - VALUES_CLEARED
      - DISABLED
      type: string
      description: '* `ENABLED` - Enabled

        * `DISABLING_VALUES` - Disabling Values

        * `CLEARING_VALUES` - Clearing Values

        * `VALUES_CLEARED` - Values Cleared

        * `DISABLED` - Disabled'
    DimensionWithTld:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        parent_id:
          type: integer
          nullable: true
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        status:
          $ref: '#/components/schemas/Status2c8Enum'
        type:
          $ref: '#/components/schemas/Type95aEnum'
        rollup_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RollupTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        formula:
          type: string
          readOnly: true
        write_protection:
          $ref: '#/components/schemas/WriteProtectionEnum'
        position:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
        special_case_id:
          type: string
          nullable: true
          maxLength: 100
        date:
          type: string
          format: date
          nullable: true
        has_children:
          type: boolean
        write_block_reason:
          type: string
          description: "If the dimension cannot be written to, return the reason why. Otherwise, return nothing.\n\nArgs:\n    obj: The model object to be checked if can be written to.\n\nReturns:\n    str (Optional): The error blocking the dimension from being written to, if one exists"
          readOnly: true
        metadata:
          type: string
          nullable: true
        tld:
          $ref: '#/components/schemas/Dimension'
      required:
      - active
      - formula
      - id
      - name
      - parent_id
      - tld
      - write_block_reason
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
