openapi: 3.2.0
info:
  title: Cube Events API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Events
  description: This endpoint can be used to track generic events completed by users.
paths:
  /user/event:
    post:
      operationId: user_event_create
      description: This endpoint can be used to track generic events completed by users.
      summary: Events
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Events
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserEventResponseRequest'
            examples:
              TrackWebTemplateViewedEvent:
                value:
                  name: Web Template Viewed
                  model_id: f73b543c-4caa-4437-82e4-5e28d65933cb
                summary: Track Web Template Viewed Event
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/UserEventResponseRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UserEventResponseRequest'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserEventResponse'
          description: ''
components:
  schemas:
    UserEventResponse:
      type: object
      properties:
        name:
          type: string
        model_id:
          type: string
        created_at:
          type: string
          format: date-time
      required:
      - created_at
      - model_id
      - name
    UserEventResponseRequest:
      type: object
      properties:
        name:
          type: string
        model_id:
          type: string
      required:
      - model_id
      - name
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
