openapi: 3.2.0
info:
  title: Cube Chat Sessions API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Chat Sessions
paths:
  /agents/chat/sessions:
    get:
      operationId: agents_chat_sessions_list
      description: List chat sessions for the current user
      summary: List Chat Sessions
      parameters:
      - in: query
        name: data_table_id
        schema:
          type: string
        description: When listing sessions with session_type=DATA_TABLE_MANAGEMENT, filter to sessions scoped to this source data table UUID.
      - in: query
        name: limit
        schema:
          type: integer
        description: 'Number of items per page (default: 50)'
      - in: query
        name: page
        schema:
          type: integer
        description: 'Page number (default: 1)'
      - in: query
        name: session_type
        schema:
          type: string
        description: 'Filter by session type (default: CHAT). One of: CHAT, PLANNER, DATA_TABLE_MANAGEMENT, WIDGET_BUILDER'
      tags:
      - Chat Sessions
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ChatSession'
          description: ''
        '400':
          description: Invalid pagination parameters
        '401':
          description: Unauthorized
        '403':
          description: Permission denied
    post:
      operationId: agents_chat_sessions_create
      description: Create a new chat session
      summary: Create Chat Session
      tags:
      - Chat Sessions
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatSession'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ChatSession'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ChatSession'
      security:
      - OAuth2: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
          description: ''
  /agents/chat/sessions/{id}:
    get:
      operationId: agents_chat_sessions_retrieve
      description: Retrieve a specific chat session by ID
      summary: Retrieve Chat Session
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - Chat Sessions
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatSession'
          description: ''
components:
  schemas:
    SessionTypeEnum:
      enum:
      - CHAT
      - WIDGET_BUILDER
      - PLANNER
      - DATA_TABLE_MANAGEMENT
      type: string
      description: '* `CHAT` - Chat

        * `WIDGET_BUILDER` - Widget Builder

        * `PLANNER` - Planner

        * `DATA_TABLE_MANAGEMENT` - Data Table Management'
    AppTypeEnum:
      enum:
      - SLACK
      - MS_TEAMS
      - CUBE_API
      type: string
      description: '* `SLACK` - Slack

        * `MS_TEAMS` - Microsoft Teams

        * `CUBE_API` - Cube API'
    ChatSession:
      type: object
      properties:
        id:
          type: string
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        last_active_at:
          type: string
          format: date-time
          readOnly: true
        app_type:
          allOf:
          - $ref: '#/components/schemas/AppTypeEnum'
          readOnly: true
        name:
          type:
          - string
          - 'null'
          maxLength: 255
        session_type:
          allOf:
          - $ref: '#/components/schemas/SessionTypeEnum'
          default: CHAT
        context: {}
        resources:
          type: string
          readOnly: true
      required:
      - app_type
      - created_at
      - id
      - last_active_at
      - resources
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
