openapi: 3.2.0
info:
  title: Cube Permissions API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Permissions
paths:
  /permissions:
    get:
      operationId: permissions_list
      description: Lists all of the permissions available in the system or filter to one or more content types
      summary: List Permissions
      parameters:
      - in: header
        name: HTTP_ACCEPT
        schema:
          type: string
          default: application/json; version=1.1
        description: Set the version of API the request is for
        required: true
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: query
        name: app
        schema:
          type: string
      - in: query
        name: codename
        schema:
          type: string
      - in: query
        name: model
        schema:
          type: string
      tags:
      - Permissions
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Permission'
          description: ''
  /permissions/{id}:
    get:
      operationId: permissions_retrieve
      description: Retrieve a single Permission object by its ID
      summary: Get a Permission by ID
      parameters:
      - in: header
        name: HTTP_ACCEPT
        schema:
          type: string
          default: application/json; version=1.1
        description: Set the version of API the request is for
        required: true
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: id
        schema:
          type: integer
        description: A unique integer value identifying this permission.
        required: true
      tags:
      - Permissions
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Permission'
          description: ''
components:
  schemas:
    ContentType:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        app_label:
          type: string
          maxLength: 100
        model:
          type: string
          title: Python model class name
          maxLength: 100
      required:
      - app_label
      - id
      - model
    Permission:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        content_type:
          $ref: '#/components/schemas/ContentType'
        name:
          type: string
          maxLength: 255
        codename:
          type: string
          maxLength: 100
      required:
      - codename
      - content_type
      - id
      - name
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
