openapi: 3.0.3
info:
  title: Cube Agents Connections API
  version: 1.0.0 (1.0)
  description: "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n"
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Connections
  description: "Connections to external source systems allow Cube to automatically import source\n            dimensions and transaction data.\n        "
paths:
  /connection/{connection_id}/deactivate:
    post:
      operationId: connection_deactivate_create
      description: Mark the connection as inactive. This will remove this connection from the UI. No data tied to this connection will be affected.
      summary: Deactivate a connection
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Connection'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/Connection'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Connection'
        required: true
      security:
      - OAuth2: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: ''
        '400':
          description: Bad Request - Failed to disconnect from external provider
        '401':
          description: Unauthorized
        '403':
          description: Forbidden - User does not have permission to modify this connection.
        '404':
          description: Connection not found
  /connection/{connection_id}/import/settings:
    get:
      operationId: connection_import_settings_retrieve
      description: "Get the default settings and required information for starting an import for a given connection.\n        "
      summary: Get Import Settings for Connection
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The ID of a connection
        required: true
        examples:
          ConnectionRequest:
            value: bba75209-bd2b-4d82-9fde-dc38a16ae9d7
            summary: Connection Request
      tags:
      - Connections
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionImportSettingsResponse'
          description: ''
  /connection/{connection_id}/resync:
    post:
      operationId: connection_resync_create
      description: "Use this endpoint to resync dimensions from a source connection.\n        "
      summary: Resync a Connection
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The ID of a connection
        required: true
        examples:
          ConnectionRequest:
            value: bba75209-bd2b-4d82-9fde-dc38a16ae9d7
            summary: Connection Request
      - in: query
        name: end_time_dimension_id
        schema:
          type: integer
        description: Optional time dimension ID for the end of the date range to sync (for supported Integrations).
        examples:
          EndTimeDimensionID:
            value: 2
            summary: End Time Dimension ID
      - in: query
        name: start_time_dimension_id
        schema:
          type: integer
        description: Optional time dimension ID for the beginning of the date range to sync (for supported Integrations).
        examples:
          StartTimeDimensionID:
            value: 1
            summary: Start Time Dimension ID
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResyncRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResyncRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ResyncRequest'
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResyncResponse'
          description: ''
  /connection/{connection_id}/salesforce/soql:
    get:
      operationId: connection_salesforce_soql_retrieve
      description: "Make a query against Salesforce and return the results\n        "
      summary: Salesforce SOQL
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The ID of a connection
        required: true
        examples:
          ConnectionRequest:
            value: bba75209-bd2b-4d82-9fde-dc38a16ae9d7
            summary: Connection Request
      - in: query
        name: options_only
        schema:
          type: boolean
        description: "Whether the request is for field options (for mapping dimensions)\n                 or for all the data in tabular format"
      - in: query
        name: query
        schema:
          type: string
        description: The Salesforce SoQL to execute
        required: true
      tags:
      - Connections
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesforceSoQLResponse'
          description: ''
  /connection/{connection_id}/source-file-storage:
    get:
      operationId: connection_source_file_storage_retrieve
      description: This endpoint retrieves all managed source files and folders for a connection
      summary: Get Source Files
      parameters:
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The UUID of the ERP connection.
        required: true
      tags:
      - Connections
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FileNode'
              examples:
                SampleFileList:
                  value:
                  - - id: '001'
                      name: root
                      type: folder
                      size: 0
                      modified_at: null
                      relative_path: ''
                      parent_id: null
                    - id: '002'
                      name: file1.txt
                      type: file
                      size: 1024
                      modified_at: '2026-07-19T00:28:00.988078Z'
                      relative_path: file1.txt
                      parent_id: '001'
                    - id: '003'
                      name: folder 1
                      type: folder
                      size: 0
                      modified_at: null
                      relative_path: ''
                      parent_id: '001'
                    - id: '004'
                      name: file2.txt
                      type: file
                      size: 2048
                      modified_at: '2026-07-19T00:28:00.988129Z'
                      relative_path: folder 1/file2.txt
                      parent_id: '003'
                  summary: Sample File List
          description: List of source files and folders
        '404':
          description: Connection does not exist
    patch:
      operationId: connection_source_file_storage_partial_update
      description: This endpoint edits a source file in a connection
      summary: Edit Source File
      parameters:
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The UUID of the ERP connection.
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedEditFile'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/PatchedEditFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/PatchedEditFile'
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileNode'
              examples:
                SuccessResponse:
                  value:
                    id: '002'
                    name: new-file-name.txt
                    type: file
                    size: 1024
                    modified_at: '2026-07-19T00:28:00.988851Z'
                    relative_path: new-folder/new-file-name.txt
                    parent_id: '001'
                  summary: Success Response
          description: File edited successfully
        '400':
          description: Invalid input
        '404':
          description: File or connection does not exist
  /connection/{connection_id}/source-file-storage/delete:
    post:
      operationId: connection_source_file_storage_delete_create
      description: This endpoint deletes a batch of source files for a connection
      summary: Delete Batch of Source Files
      parameters:
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The UUID of the ERP connection.
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteBatch'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DeleteBatch'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DeleteBatch'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          description: Files deleted successfully
        '400':
          description: Invalid input
        '404':
          description: Connection does not exist
  /connection/{connection_id}/source-file-storage/download:
    post:
      operationId: connection_source_file_storage_download_create
      description: This endpoint generates a download URL for a source file in a connection
      summary: Generate Download URL for Source File
      parameters:
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The UUID of the ERP connection.
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DownloadFile'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DownloadFile'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/DownloadFile'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceFileDownload'
              examples:
                SuccessResponse:
                  value:
                    download_url: https://example.com/signed-url
                  summary: Success Response
          description: Download URL generated successfully
        '400':
          description: Invalid input
        '404':
          description: Connection does not exist
  /connection/{connection_id}/source-file-storage/upload-urls:
    post:
      operationId: connection_source_file_storage_upload_urls_create
      description: This endpoint generates upload URLs for source files in a connection
      summary: Generate Upload URLs for Source Files
      parameters:
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The UUID of the ERP connection.
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FileUploadRequest'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FileUploadRequest'
          multipart/form-data:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/FileUploadRequest'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceFileUpload'
              examples:
                SuccessResponse:
                  value:
                    upload_urls:
                    - https://example.com/signed-url-1
                    - https://example.com/signed-url-2
                  summary: Success Response
          description: Upload URLs generated successfully
        '400':
          description: Invalid input
        '404':
          description: Connection does not exist
  /connections:
    get:
      operationId: retrieve
      description: Get all connections for a company
      summary: Get all Connections
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      tags:
      - Connections
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: ''
  /connections/{connection_id}:
    get:
      operationId: retrieve_2
      description: Get a single connection
      summary: Get a Connection
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        description: The ID of a connection
        required: true
        examples:
          ConnectionRequest:
            summary: Connection Request
      tags:
      - Connections
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connection'
          description: ''
  /connections/{connection_id}/imports:
    post:
      operationId: ImportDataCreate
      description: This endpoint will start a data import with the given connection. The request requires a connection ID and dimension IDs necessary to start an import.
      summary: Start a Data Import
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportDataRequest'
            examples:
              QueueADataImportForTheSpecifiedConnectionWithTheFollowingValues:
                value:
                  dimensions:
                    other:
                    - 6
                    - 12
                    time:
                      start: 31
                      end: 44
                    scenario: 8
                summary: Queue a data import for the specified connection with the following values
                description: "| **Parameter** | **Type** | **Description** |\n|---|---|---|\n| dimensions | dictionary | Wrapper for dimensions data |\n| other | list of integers | Within the dimensions object, a list of cube dimension ids to use for unmapped source dimensions |\n| time | dictionary | Within the dimensions object, a dictionary representing the date range of the import |\n| start | integer | Within the time object, the id of the start time dimension |\n| end | integer | Within the time object, the id of the end time dimension |\n| scenario | integer | Within the dimensions object, the id of the scenario dimension |\n                "
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImportDataRequest'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImportDataRequest'
        required: true
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Import'
          description: The import was queued and a message was sent in the metadata.
  /connections/{connection_id}/imports/{import_id}:
    put:
      operationId: ImportDataCancel
      description: Cancel an active data import by providing the import ID and connection ID. This action immediately stops the import process and sends a cancellation email to the user who initiated the import. Accessible only to Finance and Admin users.
      summary: Cancel a Data Import
      parameters:
      - in: header
        name: HTTP_ACCEPT
        schema:
          type: string
          default: application/json; version=1.1
        description: Set the version of API the request is for
        required: true
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: connection_id
        schema:
          type: string
          format: uuid
        required: true
      - in: path
        name: import_id
        schema:
          type: integer
        required: true
      tags:
      - Connections
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportUpdateApiDocAttributes_1'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ImportUpdateApiDocAttributes_1'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ImportUpdateApiDocAttributes_1'
        required: true
      security:
      - OAuth2: []
      - {}
      deprecated: true
      responses:
        '200':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/Import'
          description: Attempt to cancel an active import.
        '403':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/Import'
          description: User is not at least a finance user.
        '400':
          content:
            application/json; version=1.0:
              schema:
                $ref: '#/components/schemas/Import'
          description: Indicates a race condition has occurred and the cancellation failed.
  /imports:
    get:
      operationId: ImportGetList
      description: "List all of a company's source data imports ordered by most recent to least.\n        Optionally filtered by a data table id."
      summary: Get Import History
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: query
        name: data_table_id
        schema:
          type: string
          format: uuid
        description: Filter imports related to a specific data table
      tags:
      - Connections
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Import'
          description: The import history list
components:
  schemas:
    RollupTypeEnum:
      enum:
      - SUM
      - AVERAGE
      - BALANCE
      - BEGINNING_BALANCE
      type: string
      description: '* `SUM` - Sum

        * `AVERAGE` - Average

        * `BALANCE` - Ending Balance

        * `BEGINNING_BALANCE` - Beginning Balance'
    IntegrationSourceEnum:
      enum:
      - METABASE
      - QUICKBOOKS
      - XERO
      - NETSUITE
      - SALESFORCE
      - SAGE_INTACCT
      - RILLET
      - CAMPFIRE
      - CHARTHOP
      - GOOGLE
      - OKTA
      - BOOMI
      - SAML
      - OPEN_EXCHANGE_RATES
      - NETSUITE_RATES
      - MERGE
      type: string
      description: '* `METABASE` - Metabase

        * `QUICKBOOKS` - QuickBooks

        * `XERO` - Xero

        * `NETSUITE` - NetSuite

        * `SALESFORCE` - Salesforce

        * `SAGE_INTACCT` - Sage Intacct

        * `RILLET` - Rillet

        * `CAMPFIRE` - Campfire

        * `CHARTHOP` - ChartHop

        * `GOOGLE` - Google SSO

        * `OKTA` - Okta (OIDC)

        * `BOOMI` - Boomi

        * `SAML` - SAML

        * `OPEN_EXCHANGE_RATES` - Open Exchange Rates

        * `NETSUITE_RATES` - NetSuite Saved Search

        * `MERGE` - Cube Universal Connect'
    FileNode:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
        size:
          type: integer
        modified_at:
          type: string
          format: date-time
          nullable: true
        relative_path:
          type: string
          nullable: true
        parent_id:
          type: string
          nullable: true
      required:
      - id
      - modified_at
      - name
      - parent_id
      - relative_path
      - size
      - type
    FileImports:
      type: object
      properties:
        last_updated:
          type: string
          format: date-time
        last_deleted:
          type: string
          format: date-time
      required:
      - last_deleted
      - last_updated
    NullEnum:
      enum:
      - null
    Transaction:
      type: object
      properties:
        num_transactions:
          type: integer
        file_imports:
          $ref: '#/components/schemas/FileImports'
      required:
      - file_imports
      - num_transactions
    FileUploadRequest:
      type: object
      properties:
        relative_path:
          type: string
        content_type:
          type: string
      required:
      - content_type
      - relative_path
    time_child:
      type: object
      properties:
        start:
          type: integer
        end:
          type: integer
      required:
      - end
      - start
    TimezoneEnum:
      enum:
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Ciudad_Juarez
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Coyhaique
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CET
      - CST6CDT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Kyiv
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - GB
      - GB-Eire
      - GMT
      - GMT+0
      - GMT-0
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NZ
      - NZ-CHAT
      - Navajo
      - PRC
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kanton
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROC
      - ROK
      - Singapore
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - W-SU
      - WET
      - Zulu
      type: string
      description: '* `Africa/Abidjan` - Africa/Abidjan

        * `Africa/Accra` - Africa/Accra

        * `Africa/Addis_Ababa` - Africa/Addis_Ababa

        * `Africa/Algiers` - Africa/Algiers

        * `Africa/Asmara` - Africa/Asmara

        * `Africa/Asmera` - Africa/Asmera

        * `Africa/Bamako` - Africa/Bamako

        * `Africa/Bangui` - Africa/Bangui

        * `Africa/Banjul` - Africa/Banjul

        * `Africa/Bissau` - Africa/Bissau

        * `Africa/Blantyre` - Africa/Blantyre

        * `Africa/Brazzaville` - Africa/Brazzaville

        * `Africa/Bujumbura` - Africa/Bujumbura

        * `Africa/Cairo` - Africa/Cairo

        * `Africa/Casablanca` - Africa/Casablanca

        * `Africa/Ceuta` - Africa/Ceuta

        * `Africa/Conakry` - Africa/Conakry

        * `Africa/Dakar` - Africa/Dakar

        * `Africa/Dar_es_Salaam` - Africa/Dar_es_Salaam

        * `Africa/Djibouti` - Africa/Djibouti

        * `Africa/Douala` - Africa/Douala

        * `Africa/El_Aaiun` - Africa/El_Aaiun

        * `Africa/Freetown` - Africa/Freetown

        * `Africa/Gaborone` - Africa/Gaborone

        * `Africa/Harare` - Africa/Harare

        * `Africa/Johannesburg` - Africa/Johannesburg

        * `Africa/Juba` - Africa/Juba

        * `Africa/Kampala` - Africa/Kampala

        * `Africa/Khartoum` - Africa/Khartoum

        * `Africa/Kigali` - Africa/Kigali

        * `Africa/Kinshasa` - Africa/Kinshasa

        * `Africa/Lagos` - Africa/Lagos

        * `Africa/Libreville` - Africa/Libreville

        * `Africa/Lome` - Africa/Lome

        * `Africa/Luanda` - Africa/Luanda

        * `Africa/Lubumbashi` - Africa/Lubumbashi

        * `Africa/Lusaka` - Africa/Lusaka

        * `Africa/Malabo` - Africa/Malabo

        * `Africa/Maputo` - Africa/Maputo

        * `Africa/Maseru` - Africa/Maseru

        * `Africa/Mbabane` - Africa/Mbabane

        * `Africa/Mogadishu` - Africa/Mogadishu

        * `Africa/Monrovia` - Africa/Monrovia

        * `Africa/Nairobi` - Africa/Nairobi

        * `Africa/Ndjamena` - Africa/Ndjamena

        * `Africa/Niamey` - Africa/Niamey

        * `Africa/Nouakchott` - Africa/Nouakchott

        * `Africa/Ouagadougou` - Africa/Ouagadougou

        * `Africa/Porto-Novo` - Africa/Porto-Novo

        * `Africa/Sao_Tome` - Africa/Sao_Tome

        * `Africa/Timbuktu` - Africa/Timbuktu

        * `Africa/Tripoli` - Africa/Tripoli

        * `Africa/Tunis` - Africa/Tunis

        * `Africa/Windhoek` - Africa/Windhoek

        * `America/Adak` - America/Adak

        * `America/Anchorage` - America/Anchorage

        * `America/Anguilla` - America/Anguilla

        * `America/Antigua` - America/Antigua

        * `America/Araguaina` - America/Araguaina

        * `America/Argentina/Buenos_Aires` - America/Argentina/Buenos_Aires

        * `America/Argentina/Catamarca` - America/Argentina/Catamarca

        * `America/Argentina/ComodRivadavia` - America/Argentina/ComodRivadavia

        * `America/Argentina/Cordoba` - America/Argentina/Cordoba

        * `America/Argentina/Jujuy` - America/Argentina/Jujuy

        * `America/Argentina/La_Rioja` - America/Argentina/La_Rioja

        * `America/Argentina/Mendoza` - America/Argentina/Mendoza

        * `America/Argentina/Rio_Gallegos` - America/Argentina/Rio_Gallegos

        * `America/Argentina/Salta` - America/Argentina/Salta

        * `America/Argentina/San_Juan` - America/Argentina/San_Juan

        * `America/Argentina/San_Luis` - America/Argentina/San_Luis

        * `America/Argentina/Tucuman` - America/Argentina/Tucuman

        * `America/Argentina/Ushuaia` - America/Argentina/Ushuaia

        * `America/Aruba` - America/Aruba

        * `America/Asuncion` - America/Asuncion

        * `America/Atikokan` - America/Atikokan

        * `America/Atka` - America/Atka

        * `America/Bahia` - America/Bahia

        * `America/Bahia_Banderas` - America/Bahia_Banderas

        * `America/Barbados` - America/Barbados

        * `America/Belem` - America/Belem

        * `America/Belize` - America/Belize

        * `America/Blanc-Sablon` - America/Blanc-Sablon

        * `America/Boa_Vista` - America/Boa_Vista

        * `America/Bogota` - America/Bogota

        * `America/Boise` - America/Boise

        * `America/Buenos_Aires` - America/Buenos_Aires

        * `America/Cambridge_Bay` - America/Cambridge_Bay

        * `America/Campo_Grande` - America/Campo_Grande

        * `America/Cancun` - America/Cancun

        * `America/Caracas` - America/Caracas

        * `America/Catamarca` - America/Catamarca

        * `America/Cayenne` - America/Cayenne

        * `America/Cayman` - America/Cayman

        * `America/Chicago` - America/Chicago

        * `America/Chihuahua` - America/Chihuahua

        * `America/Ciudad_Juarez` - America/Ciudad_Juarez

        * `America/Coral_Harbour` - America/Coral_Harbour

        * `America/Cordoba` - America/Cordoba

        * `America/Costa_Rica` - America/Costa_Rica

        * `America/Coyhaique` - America/Coyhaique

        * `America/Creston` - America/Creston

        * `America/Cuiaba` - America/Cuiaba

        * `America/Curacao` - America/Curacao

        * `America/Danmarkshavn` - America/Danmarkshavn

        * `America/Dawson` - America/Dawson

        * `America/Dawson_Creek` - America/Dawson_Creek

        * `America/Denver` - America/Denver

        * `America/Detroit` - America/Detroit

        * `America/Dominica` - America/Dominica

        * `America/Edmonton` - America/Edmonton

        * `America/Eirunepe` - America/Eirunepe

        * `America/El_Salvador` - America/El_Salvador

        * `America/Ensenada` - America/Ensenada

        * `America/Fort_Nelson` - America/Fort_Nelson

        * `America/Fort_Wayne` - America/Fort_Wayne

        * `America/Fortaleza` - America/Fortaleza

        * `America/Glace_Bay` - America/Glace_Bay

        * `America/Godthab` - America/Godthab

        * `America/Goose_Bay` - America/Goose_Bay

        * `America/Grand_Turk` - America/Grand_Turk

        * `America/Grenada` - America/Grenada

        * `America/Guadeloupe` - America/Guadeloupe

        * `America/Guatemala` - America/Guatemala

        * `America/Guayaquil` - America/Guayaquil

        * `America/Guyana` - America/Guyana

        * `America/Halifax` - America/Halifax

        * `America/Havana` - America/Havana

        * `America/Hermosillo` - America/Hermosillo

        * `America/Indiana/Indianapolis` - America/Indiana/Indianapolis

        * `America/Indiana/Knox` - America/Indiana/Knox

        * `America/Indiana/Marengo` - America/Indiana/Marengo

        * `America/Indiana/Petersburg` - America/Indiana/Petersburg

        * `America/Indiana/Tell_City` - America/Indiana/Tell_City

        * `America/Indiana/Vevay` - America/Indiana/Vevay

        * `America/Indiana/Vincennes` - America/Indiana/Vincennes

        * `America/Indiana/Winamac` - America/Indiana/Winamac

        * `America/Indianapolis` - America/Indianapolis

        * `America/Inuvik` - America/Inuvik

        * `America/Iqaluit` - America/Iqaluit

        * `America/Jamaica` - America/Jamaica

        * `America/Jujuy` - America/Jujuy

        * `America/Juneau` - America/Juneau

        * `America/Kentucky/Louisville` - America/Kentucky/Louisville

        * `America/Kentucky/Monticello` - America/Kentucky/Monticello

        * `America/Knox_IN` - America/Knox_IN

        * `America/Kralendijk` - America/Kralendijk

        * `America/La_Paz` - America/La_Paz

        * `America/Lima` - America/Lima

        * `America/Los_Angeles` - America/Los_Angeles

        * `America/Louisville` - America/Louisville

        * `America/Lower_Princes` - America/Lower_Princes

        * `America/Maceio` - America/Maceio

        * `America/Managua` - America/Managua

        * `America/Manaus` - America/Manaus

        * `America/Marigot` - America/Marigot

        * `America/Martinique` - America/Martinique

        * `America/Matamoros` - America/Matamoros

        * `America/Mazatlan` - America/Mazatlan

        * `America/Mendoza` - America/Mendoza

        * `America/Menominee` - America/Menominee

        * `America/Merida` - America/Merida

        * `America/Metlakatla` - America/Metlakatla

        * `America/Mexico_City` - America/Mexico_City

        * `America/Miquelon` - America/Miquelon

        * `America/Moncton` - America/Moncton

        * `America/Monterrey` - America/Monterrey

        * `America/Montevideo` - America/Montevideo

        * `America/Montreal` - America/Montreal

        * `America/Montserrat` - America/Montserrat

        * `America/Nassau` - America/Nassau

        * `America/New_York` - America/New_York

        * `America/Nipigon` - America/Nipigon

        * `America/Nome` - America/Nome

        * `America/Noronha` - America/Noronha

        * `America/North_Dakota/Beulah` - America/North_Dakota/Beulah

        * `America/North_Dakota/Center` - America/North_Dakota/Center

        * `America/North_Dakota/New_Salem` - America/North_Dakota/New_Salem

        * `America/Nuuk` - America/Nuuk

        * `America/Ojinaga` - America/Ojinaga

        * `America/Panama` - America/Panama

        * `America/Pangnirtung` - America/Pangnirtung

        * `America/Paramaribo` - America/Paramaribo

        * `America/Phoenix` - America/Phoenix

        * `America/Port-au-Prince` - America/Port-au-Prince

        * `America/Port_of_Spain` - America/Port_of_Spain

        * `America/Porto_Acre` - America/Porto_Acre

        * `America/Porto_Velho` - America/Porto_Velho

        * `America/Puerto_Rico` - America/Puerto_Rico

        * `America/Punta_Arenas` - America/Punta_Arenas

        * `America/Rainy_River` - America/Rainy_River

        * `America/Rankin_Inlet` - America/Rankin_Inlet

        * `America/Recife` - America/Recife

        * `America/Regina` - America/Regina

        * `America/Resolute` - America/Resolute

        * `America/Rio_Branco` - America/Rio_Branco

        * `America/Rosario` - America/Rosario

        * `America/Santa_Isabel` - America/Santa_Isabel

        * `America/Santarem` - America/Santarem

        * `America/Santiago` - America/Santiago

        * `America/Santo_Domingo` - America/Santo_Domingo

        * `America/Sao_Paulo` - America/Sao_Paulo

        * `America/Scoresbysund` - America/Scoresbysund

        * `America/Shiprock` - America/Shiprock

        * `America/Sitka` - America/Sitka

        * `America/St_Barthelemy` - America/St_Barthelemy

        * `America/St_Johns` - America/St_Johns

        * `America/St_Kitts` - America/St_Kitts

        * `America/St_Lucia` - America/St_Lucia

        * `America/St_Thomas` - America/St_Thomas

        * `America/St_Vincent` - America/St_Vincent

        * `America/Swift_Current` - America/Swift_Current

        * `America/Tegucigalpa` - America/Tegucigalpa

        * `America/Thule` - America/Thule

        * `America/Thunder_Bay` - America/Thunder_Bay

        * `America/Tijuana` - America/Tijuana

        * `America/Toronto` - America/Toronto

        * `America/Tortola` - America/Tortola

        * `America/Vancouver` - America/Vancouver

        * `America/Virgin` - America/Virgin

        * `America/Whitehorse` - America/Whitehorse

        * `America/Winnipeg` - America/Winnipeg

        * `America/Yakutat` - America/Yakutat

        * `America/Yellowknife` - America/Yellowknife

        * `Antarctica/Casey` - Antarctica/Casey

        * `Antarctica/Davis` - Antarctica/Davis

        * `Antarctica/DumontDUrville` - Antarctica/DumontDUrville

        * `Antarctica/Macquarie` - Antarctica/Macquarie

        * `Antarctica/Mawson` - Antarctica/Mawson

        * `Antarctica/McMurdo` - Antarctica/McMurdo

        * `Antarctica/Palmer` - Antarctica/Palmer

        * `Antarctica/Rothera` - Antarctica/Rothera

        * `Antarctica/South_Pole` - Antarctica/South_Pole

        * `Antarctica/Syowa` - Antarctica/Syowa

        * `Antarctica/Troll` - Antarctica/Troll

        * `Antarctica/Vostok` - Antarctica/Vostok

        * `Arctic/Longyearbyen` - Arctic/Longyearbyen

        * `Asia/Aden` - Asia/Aden

        * `Asia/Almaty` - Asia/Almaty

        * `Asia/Amman` - Asia/Amman

        * `Asia/Anadyr` - Asia/Anadyr

        * `Asia/Aqtau` - Asia/Aqtau

        * `Asia/Aqtobe` - Asia/Aqtobe

        * `Asia/Ashgabat` - Asia/Ashgabat

        * `Asia/Ashkhabad` - Asia/Ashkhabad

        * `Asia/Atyrau` - Asia/Atyrau

        * `Asia/Baghdad` - Asia/Baghdad

        * `Asia/Bahrain` - Asia/Bahrain

        * `Asia/Baku` - Asia/Baku

        * `Asia/Bangkok` - Asia/Bangkok

        * `Asia/Barnaul` - Asia/Barnaul

        * `Asia/Beirut` - Asia/Beirut

        * `Asia/Bishkek` - Asia/Bishkek

        * `Asia/Brunei` - Asia/Brunei

        * `Asia/Calcutta` - Asia/Calcutta

        * `Asia/Chita` - Asia/Chita

        * `Asia/Choibalsan` - Asia/Choibalsan

        * `Asia/Chongqing` - Asia/Chongqing

        * `Asia/Chungking` - Asia/Chungking

        * `Asia/Colombo` - Asia/Colombo

        * `Asia/Dacca` - Asia/Dacca

        * `Asia/Damascus` - Asia/Damascus

        * `Asia/Dhaka` - Asia/Dhaka

        * `Asia/Dili` - Asia/Dili

        * `Asia/Dubai` - Asia/Dubai

        * `Asia/Dushanbe` - Asia/Dushanbe

        * `Asia/Famagusta` - Asia/Famagusta

        * `Asia/Gaza` - Asia/Gaza

        * `Asia/Harbin` - Asia/Harbin

        * `Asia/Hebron` - Asia/Hebron

        * `Asia/Ho_Chi_Minh` - Asia/Ho_Chi_Minh

        * `Asia/Hong_Kong` - Asia/Hong_Kong

        * `Asia/Hovd` - Asia/Hovd

        * `Asia/Irkutsk` - Asia/Irkutsk

        * `Asia/Istanbul` - Asia/Istanbul

        * `Asia/Jakarta` - Asia/Jakarta

        * `Asia/Jayapura` - Asia/Jayapura

        * `Asia/Jerusalem` - Asia/Jerusalem

        * `Asia/Kabul` - Asia/Kabul

        * `Asia/Kamchatka` - Asia/Kamchatka

        * `Asia/Karachi` - Asia/Karachi

        * `Asia/Kashgar` - Asia/Kashgar

        * `Asia/Kathmandu` - Asia/Kathmandu

        * `Asia/Katmandu` - Asia/Katmandu

        * `Asia/Khandyga` - Asia/Khandyga

        * `Asia/Kolkata` - Asia/Kolkata

        * `Asia/Krasnoyarsk` - Asia/Krasnoyarsk

        * `Asia/Kuala_Lumpur` - Asia/Kuala_Lumpur

        * `Asia/Kuching` - Asia/Kuching

        * `Asia/Kuwait` - Asia/Kuwait

        * `Asia/Macao` - Asia/Macao

        * `Asia/Macau` - Asia/Macau

        * `Asia/Magadan` - Asia/Magadan

        * `Asia/Makassar` - Asia/Makassar

        * `Asia/Manila` - Asia/Manila

        * `Asia/Muscat` - Asia/Muscat

        * `Asia/Nicosia` - Asia/Nicosia

        * `Asia/Novokuznetsk` - Asia/Novokuznetsk

        * `Asia/Novosibirsk` - Asia/Novosibirsk

        * `Asia/Omsk` - Asia/Omsk

        * `Asia/Oral` - Asia/Oral

        * `Asia/Phnom_Penh` - Asia/Phnom_Penh

        * `Asia/Pontianak` - Asia/Pontianak

        * `Asia/Pyongyang` - Asia/Pyongyang

        * `Asia/Qatar` - Asia/Qatar

        * `Asia/Qostanay` - Asia/Qostanay

        * `Asia/Qyzylorda` - Asia/Qyzylorda

        * `Asia/Rangoon` - Asia/Rangoon

        * `Asia/Riyadh` - Asia/Riyadh

        * `Asia/Saigon` - Asia/Saigon

        * `Asia/Sakhalin` - Asia/Sakhalin

        * `Asia/Samarkand` - Asia/Samarkand

        * `Asia/Seoul` - Asia/Seoul

        * `Asia/Shanghai` - Asia/Shanghai

        * `Asia/Singapore` - Asia/Singapore

        * `Asia/Srednekolymsk` - Asia/Srednekolymsk

        * `Asia/Taipei` - Asia/Taipei

        * `Asia/Tashkent` - Asia/Tashkent

        * `Asia/Tbilisi` - Asia/Tbilisi

        * `Asia/Tehran` - Asia/Tehran

        * `Asia/Tel_Aviv` - Asia/Tel_Aviv

        * `Asia/Thimbu` - Asia/Thimbu

        * `Asia/Thimphu` - Asia/Thimphu

        * `Asia/Tokyo` - Asia/Tokyo

        * `Asia/Tomsk` - Asia/Tomsk

        * `Asia/Ujung_Pandang` - Asia/Ujung_Pandang

        * `Asia/Ulaanbaatar` - Asia/Ulaanbaatar

        * `Asia/Ulan_Bator` - Asia/Ulan_Bator

        * `Asia/Urumqi` - Asia/Urumqi

        * `Asia/Ust-Nera` - Asia/Ust-Nera

        * `Asia/Vientiane` - Asia/Vientiane

        * `Asia/Vladivostok` - Asia/Vladivostok

        * `Asia/Yakutsk` - Asia/Yakutsk

        * `Asia/Yangon` - Asia/Yangon

        * `Asia/Yekaterinburg` - Asia/Yekaterinburg

        * `Asia/Yerevan` - Asia/Yerevan

        * `Atlantic/Azores` - Atlantic/Azores

        * `Atlantic/Bermuda` - Atlantic/Bermuda

        * `Atlantic/Canary` - Atlantic/Canary

        * `Atlantic/Cape_Verde` - Atlantic/Cape_Verde

        * `Atlantic/Faeroe` - Atlantic/Faeroe

        * `Atlantic/Faroe` - Atlantic/Faroe

        * `Atlantic/Jan_Mayen` - Atlantic/Jan_Mayen

        * `Atlantic/Madeira` - Atlantic/Madeira

        * `Atlantic/Reykjavik` - Atlantic/Reykjavik

        * `Atlantic/South_Georgia` - Atlantic/South_Georgia

        * `Atlantic/St_Helena` - Atlantic/St_Helena

        * `Atlantic/Stanley` - Atlantic/Stanley

        * `Australia/ACT` - Australia/ACT

        * `Australia/Adelaide` - Australia/Adelaide

        * `Australia/Brisbane` - Australia/Brisbane

        * `Australia/Broken_Hill` - Australia/Broken_Hill

        * `Australia/Canberra` - Australia/Canberra

        * `Australia/Currie` - Australia/Currie

        * `Australia/Darwin` - Australia/Darwin

        * `Australia/Eucla` - Australia/Eucla

        * `Australia/Hobart` - Australia/Hobart

        * `Australia/LHI` - Australia/LHI

        * `Australia/Lindeman` - Australia/Lindeman

        * `Australia/Lord_Howe` - Australia/Lord_Howe

        * `Australia/Melbourne` - Australia/Melbourne

        * `Australia/NSW` - Australia/NSW

        * `Australia/North` - Australia/North

        * `Australia/Perth` - Australia/Perth

        * `Australia/Queensland` - Australia/Queensland

        * `Australia/South` - Australia/South

        * `Australia/Sydney` - Australia/Sydney

        * `Australia/Tasmania` - Australia/Tasmania

        * `Australia/Victoria` - Australia/Victoria

        * `Australia/West` - Australia/West

        * `Australia/Yancowinna` - Australia/Yancowinna

        * `Brazil/Acre` - Brazil/Acre

        * `Brazil/DeNoronha` - Brazil/DeNoronha

        * `Brazil/East` - Brazil/East

        * `Brazil/West` - Brazil/West

        * `CET` - CET

        * `CST6CDT` - CST6CDT

        * `Canada/Atlantic` - Canada/Atlantic

        * `Canada/Central` - Canada/Central

        * `Canada/Eastern` - Canada/Eastern

        * `Canada/Mountain` - Canada/Mountain

        * `Canada/Newfoundland` - Canada/Newfoundland

        * `Canada/Pacific` - Canada/Pacific

        * `Canada/Saskatchewan` - Canada/Saskatchewan

        * `Canada/Yukon` - Canada/Yukon

        * `Chile/Continental` - Chile/Continental

        * `Chile/EasterIsland` - Chile/EasterIsland

        * `Cuba` - Cuba

        * `EET` - EET

        * `EST` - EST

        * `EST5EDT` - EST5EDT

        * `Egypt` - Egypt

        * `Eire` - Eire

        * `Etc/GMT` - Etc/GMT

        * `Etc/GMT+0` - Etc/GMT+0

        * `Etc/GMT+1` - Etc/GMT+1

        * `Etc/GMT+10` - Etc/GMT+10

        * `Etc/GMT+11` - Etc/GMT+11

        * `Etc/GMT+12` - Etc/GMT+12

        * `Etc/GMT+2` - Etc/GMT+2

        * `Etc/GMT+3` - Etc/GMT+3

        * `Etc/GMT+4` - Etc/GMT+4

        * `Etc/GMT+5` - Etc/GMT+5

        * `Etc/GMT+6` - Etc/GMT+6

        * `Etc/GMT+7` - Etc/GMT+7

        * `Etc/GMT+8` - Etc/GMT+8

        * `Etc/GMT+9` - Etc/GMT+9

        * `Etc/GMT-0` - Etc/GMT-0

        * `Etc/GMT-1` - Etc/GMT-1

        * `Etc/GMT-10` - Etc/GMT-10

        * `Etc/GMT-11` - Etc/GMT-11

        * `Etc/GMT-12` - Etc/GMT-12

        * `Etc/GMT-13` - Etc/GMT-13

        * `Etc/GMT-14` - Etc/GMT-14

        * `Etc/GMT-2` - Etc/GMT-2

        * `Etc/GMT-3` - Etc/GMT-3

        * `Etc/GMT-4` - Etc/GMT-4

        * `Etc/GMT-5` - Etc/GMT-5

        * `Etc/GMT-6` - Etc/GMT-6

        * `Etc/GMT-7` - Etc/GMT-7

        * `Etc/GMT-8` - Etc/GMT-8

        * `Etc/GMT-9` - Etc/GMT-9

        * `Etc/GMT0` - Etc/GMT0

        * `Etc/Greenwich` - Etc/Greenwich

        * `Etc/UCT` - Etc/UCT

        * `Etc/UTC` - Etc/UTC

        * `Etc/Universal` - Etc/Universal

        * `Etc/Zulu` - Etc/Zulu

        * `Europe/Amsterdam` - Europe/Amsterdam

        * `Europe/Andorra` - Europe/Andorra

        * `Europe/Astrakhan` - Europe/Astrakhan

        * `Europe/Athens` - Europe/Athens

        * `Europe/Belfast` - Europe/Belfast

        * `Europe/Belgrade` - Europe/Belgrade

        * `Europe/Berlin` - Europe/Berlin

        * `Europe/Bratislava` - Europe/Bratislava

        * `Europe/Brussels` - Europe/Brussels

        * `Europe/Bucharest` - Europe/Bucharest

        * `Europe/Budapest` - Europe/Budapest

        * `Europe/Busingen` - Europe/Busingen

        * `Europe/Chisinau` - Europe/Chisinau

        * `Europe/Copenhagen` - Europe/Copenhagen

        * `Europe/Dublin` - Europe/Dublin

        * `Europe/Gibraltar` - Europe/Gibraltar

        * `Europe/Guernsey` - Europe/Guernsey

        * `Europe/Helsinki` - Europe/Helsinki

        * `Europe/Isle_of_Man` - Europe/Isle_of_Man

        * `Europe/Istanbul` - Europe/Istanbul

        * `Europe/Jersey` - Europe/Jersey

        * `Europe/Kaliningrad` - Europe/Kaliningrad

        * `Europe/Kiev` - Europe/Kiev

        * `Europe/Kirov` - Europe/Kirov

        * `Europe/Kyiv` - Europe/Kyiv

        * `Europe/Lisbon` - Europe/Lisbon

        * `Europe/Ljubljana` - Europe/Ljubljana

        * `Europe/London` - Europe/London

        * `Europe/Luxembourg` - Europe/Luxembourg

        * `Europe/Madrid` - Europe/Madrid

        * `Europe/Malta` - Europe/Malta

        * `Europe/Mariehamn` - Europe/Mariehamn

        * `Europe/Minsk` - Europe/Minsk

        * `Europe/Monaco` - Europe/Monaco

        * `Europe/Moscow` - Europe/Moscow

        * `Europe/Nicosia` - Europe/Nicosia

        * `Europe/Oslo` - Europe/Oslo

        * `Europe/Paris` - Europe/Paris

        * `Europe/Podgorica` - Europe/Podgorica

        * `Europe/Prague` - Europe/Prague

        * `Europe/Riga` - Europe/Riga

        * `Europe/Rome` - Europe/Rome

        * `Europe/Samara` - Europe/Samara

        * `Europe/San_Marino` - Europe/San_Marino

        * `Europe/Sarajevo` - Europe/Sarajevo

        * `Europe/Saratov` - Europe/Saratov

        * `Europe/Simferopol` - Europe/Simferopol

        * `Europe/Skopje` - Europe/Skopje

        * `Europe/Sofia` - Europe/Sofia

        * `Europe/Stockholm` - Europe/Stockholm

        * `Europe/Tallinn` - Europe/Tallinn

        * `Europe/Tirane` - Europe/Tirane

        * `Europe/Tiraspol` - Europe/Tiraspol

        * `Europe/Ulyanovsk` - Europe/Ulyanovsk

        * `Europe/Uzhgorod` - Europe/Uzhgorod

        * `Europe/Vaduz` - Europe/Vaduz

        * `Europe/Vatican` - Europe/Vatican

        * `Europe/Vienna` - Europe/Vienna

        * `Europe/Vilnius` - Europe/Vilnius

        * `Europe/Volgograd` - Europe/Volgograd

        * `Europe/Warsaw` - Europe/Warsaw

        * `Europe/Zagreb` - Europe/Zagreb

        * `Europe/Zaporozhye` - Europe/Zaporozhye

        * `Europe/Zurich` - Europe/Zurich

        * `GB` - GB

        * `GB-Eire` - GB-Eire

        * `GMT` - GMT

        * `GMT+0` - GMT+0

        * `GMT-0` - GMT-0

        * `GMT0` - GMT0

        * `Greenwich` - Greenwich

        * `HST` - HST

        * `Hongkong` - Hongkong

        * `Iceland` - Iceland

        * `Indian/Antananarivo` - Indian/Antananarivo

        * `Indian/Chagos` - Indian/Chagos

        * `Indian/Christmas` - Indian/Christmas

        * `Indian/Cocos` - Indian/Cocos

        * `Indian/Comoro` - Indian/Comoro

        * `Indian/Kerguelen` - Indian/Kerguelen

        * `Indian/Mahe` - Indian/Mahe

        * `Indian/Maldives` - Indian/Maldives

        * `Indian/Mauritius` - Indian/Mauritius

        * `Indian/Mayotte` - Indian/Mayotte

        * `Indian/Reunion` - Indian/Reunion

        * `Iran` - Iran

        * `Israel` - Israel

        * `Jamaica` - Jamaica

        * `Japan` - Japan

        * `Kwajalein` - Kwajalein

        * `Libya` - Libya

        * `MET` - MET

        * `MST` - MST

        * `MST7MDT` - MST7MDT

        * `Mexico/BajaNorte` - Mexico/BajaNorte

        * `Mexico/BajaSur` - Mexico/BajaSur

        * `Mexico/General` - Mexico/General

        * `NZ` - NZ

        * `NZ-CHAT` - NZ-CHAT

        * `Navajo` - Navajo

        * `PRC` - PRC

        * `PST8PDT` - PST8PDT

        * `Pacific/Apia` - Pacific/Apia

        * `Pacific/Auckland` - Pacific/Auckland

        * `Pacific/Bougainville` - Pacific/Bougainville

        * `Pacific/Chatham` - Pacific/Chatham

        * `Pacific/Chuuk` - Pacific/Chuuk

        * `Pacific/Easter` - Pacific/Easter

        * `Pacific/Efate` - Pacific/Efate

        * `Pacific/Enderbury` - Pacific/Enderbury

        * `Pacific/Fakaofo` - Pacific/Fakaofo

        * `Pacific/Fiji` - Pacific/Fiji

        * `Pacific/Funafuti` - Pacific/Funafuti

        * `Pacific/Galapagos` - Pacific/Galapagos

        * `Pacific/Gambier` - Pacific/Gambier

        * `Pacific/Guadalcanal` - Pacific/Guadalcanal

        * `Pacific/Guam` - Pacific/Guam

        * `Pacific/Honolulu` - Pacific/Honolulu

        * `Pacific/Johnston` - Pacific/Johnston

        * `Pacific/Kanton` - Pacific/Kanton

        * `Pacific/Kiritimati` - Pacific/Kiritimati

        * `Pacific/Kosrae` - Pacific/Kosrae

        * `Pacific/Kwajalein` - Pacific/Kwajalein

        * `Pacific/Majuro` - Pacific/Majuro

        * `Pacific/Marquesas` - Pacific/Marquesas

        * `Pacific/Midway` - Pacific/Midway

        * `Pacific/Nauru` - Pacific/Nauru

        * `Pacific/Niue` - Pacific/Niue

        * `Pacific/Norfolk` - Pacific/Norfolk

        * `Pacific/Noumea` - Pacific/Noumea

        * `Pacific/Pago_Pago` - Pacific/Pago_Pago

        * `Pacific/Palau` - Pacific/Palau

        * `Pacific/Pitcairn` - Pacific/Pitcairn

        * `Pacific/Pohnpei` - Pacific/Pohnpei

        * `Pacific/Ponape` - Pacific/Ponape

        * `Pacific/Port_Moresby` - Pacific/Port_Moresby

        * `Pacific/Rarotonga` - Pacific/Rarotonga

        * `Pacific/Saipan` - Pacific/Saipan

        * `Pacific/Samoa` - Pacific/Samoa

        * `Pacific/Tahiti` - Pacific/Tahiti

        * `Pacific/Tarawa` - Pacific/Tarawa

        * `Pacific/Tongatapu` - Pacific/Tongatapu

        * `Pacific/Truk` - Pacific/Truk

        * `Pacific/Wake` - Pacific/Wake

        * `Pacific/Wallis` - Pacific/Wallis

        * `Pacific/Yap` - Pacific/Yap

        * `Poland` - Poland

        * `Portugal` - Portugal

        * `ROC` - ROC

        * `ROK` - ROK

        * `Singapore` - Singapore

        * `Turkey` - Turkey

        * `UCT` - UCT

        * `US/Alaska` - US/Alaska

        * `US/Aleutian` - US/Aleutian

        * `US/Arizona` - US/Arizona

        * `US/Central` - US/Central

        * `US/East-Indiana` - US/East-Indiana

        * `US/Eastern` - US/Eastern

        * `US/Hawaii` - US/Hawaii

        * `US/Indiana-Starke` - US/Indiana-Starke

        * `US/Michigan` - US/Michigan

        * `US/Mountain` - US/Mountain

        * `US/Pacific` - US/Pacific

        * `US/Samoa` - US/Samoa

        * `UTC` - UTC

        * `Universal` - Universal

        * `W-SU` - W-SU

        * `WET` - WET

        * `Zulu` - Zulu'
    OlapCubeChangeStatusEnum:
      enum:
      - PENDING
      - COMPLETED
      - FAILED
      type: string
      description: '* `PENDING` - Pending

        * `COMPLETED` - Completed

        * `FAILED` - Failed'
    WriteProtectionEnum:
      enum:
      - NONE
      - BLOCK
      - ACTUALS
      - AI
      type: string
      description: '* `NONE` - None

        * `BLOCK` - Block

        * `ACTUALS` - Actuals

        * `AI` - AI'
    PatchedEditFile:
      type: object
      properties:
        current_relative_path:
          type: string
        new_relative_path:
          type: string
    Integration:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        source:
          $ref: '#/components/schemas/IntegrationSourceEnum'
        category:
          $ref: '#/components/schemas/CategoryEnum'
        name:
          type: string
          maxLength: 100
        logo_url:
          type: string
          nullable: true
          readOnly: true
      required:
      - category
      - id
      - logo_url
      - name
      - source
    SourceFileDownload:
      type: object
      properties:
        download_url:
          type: string
          format: uri
      required:
      - download_url
    OlapCubeChangeTypeEnum:
      enum:
      - USER
      - AI
      - USER_REVERT
      - TBI
      - EXTERNAL_SOURCE
      - EMPLOYEE_ROSTER
      - DATA_IMPORT
      - FORMULA
      - DISABLED
      - MERGE
      - DUPLICATION
      type: string
      description: '* `USER` - User

        * `AI` - AI

        * `USER_REVERT` - Revert

        * `TBI` - Trial Balance

        * `EXTERNAL_SOURCE` - External Source

        * `EMPLOYEE_ROSTER` - Employee Roster

        * `DATA_IMPORT` - Data

        * `FORMULA` - Formula

        * `DISABLED` - Disabled

        * `MERGE` - Merge

        * `DUPLICATION` - Duplication'
    DeleteBatch:
      type: object
      properties:
        relative_paths:
          type: array
          items:
            type: string
      required:
      - relative_paths
    RelationshipTypeEnum:
      enum:
      - EMPLOYEE
      - PARTNER
      type: string
      description: '* `EMPLOYEE` - Employee

        * `PARTNER` - Partner'
    OlapCubeChange:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        message:
          type: string
          nullable: true
          maxLength: 1024
        created_at:
          type: string
          format: date-time
          readOnly: true
        metadata:
          nullable: true
        type:
          $ref: '#/components/schemas/OlapCubeChangeTypeEnum'
        friendly_type:
          type: string
          readOnly: true
        created_by:
          $ref: '#/components/schemas/User'
        user:
          allOf:
          - $ref: '#/components/schemas/User'
          readOnly: true
        num_changes:
          type: integer
          maximum: 4294967295
          minimum: 0
          format: int64
          nullable: true
        url:
          type: string
          readOnly: true
        status:
          $ref: '#/components/schemas/OlapCubeChangeStatusEnum'
        batch_id:
          type: string
          readOnly: true
          nullable: true
      required:
      - batch_id
      - created_at
      - created_by
      - friendly_type
      - id
      - url
      - user
    ImportDataRequest:
      type: object
      properties:
        dimensions:
          type: object
          additionalProperties: {}
        other:
          type: array
          items:
            type: integer
        time:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/time_child'
        scenario:
          type: integer
      required:
      - dimensions
      - other
      - scenario
      - time
    SourceDataTable:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        created_at:
          type: string
          format: date-time
          readOnly: true
        connection:
          allOf:
          - $ref: '#/components/schemas/Connection'
          readOnly: true
        type:
          allOf:
          - $ref: '#/components/schemas/SourceDataTableTypeEnum'
          readOnly: true
        type_friendly:
          type: string
          readOnly: true
        last_import:
          type: object
          additionalProperties: {}
          readOnly: true
        last_successful_import:
          type: object
          additionalProperties: {}
          readOnly: true
        source_type:
          type: string
          description: "Returns the human-friendly category of the connection's Integration, if the table has\na connection. Otherwise, returns 'Data Table'.\n\nReturns:\n    The human-friendly source category"
          readOnly: true
        mapping_data:
          type: object
          additionalProperties: {}
          readOnly: true
        description:
          type: string
      required:
      - active
      - connection
      - created_at
      - id
      - last_import
      - last_successful_import
      - mapping_data
      - name
      - settings
      - source_type
      - type
      - type_friendly
    SalesforceSoQLResponse:
      type: object
      properties:
        response:
          type: array
          items: {}
        option_response:
          type: array
          items: {}
      required:
      - option_response
      - response
    CategoryEnum:
      enum:
      - BI
      - GL
      - HRIS
      - SSO
      - CRM
      - OTHER
      - UAP
      type: string
      description: '* `BI` - Business Intelligence

        * `GL` - General Ledger

        * `HRIS` - Human Resource Information Service

        * `SSO` - Single Sign On

        * `CRM` - Customer Relationship Management

        * `OTHER` - Other

        * `UAP` - Unified API Platform'
    Connection:
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        active:
          type: boolean
          readOnly: true
        type:
          type: string
          nullable: true
          description: "Return the category of the associated Integration model for backwards compatibility\n\nReturns:\n    The integration category (See Integration.CATEGORIES)"
          readOnly: true
        friendly_source:
          type: string
          readOnly: true
        integration:
          allOf:
          - $ref: '#/components/schemas/Integration'
          readOnly: true
        settings:
          type: object
          additionalProperties: {}
        metadata:
          type: object
          additionalProperties: {}
          readOnly: true
      required:
      - active
      - friendly_source
      - id
      - integration
      - metadata
      - settings
      - type
    ResyncResponse:
      type: object
      properties:
        num_unmapped:
          type: integer
        audit_log_event_id:
          type: string
          format: uuid
        auth_redirect_url:
          type: string
          format: uri
      required:
      - audit_log_event_id
      - auth_redirect_url
      - num_unmapped
    Import:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        created_at:
          type: string
          format: date-time
          readOnly: true
        completed_at:
          type: string
          format: date-time
          nullable: true
        user:
          $ref: '#/components/schemas/User'
        status:
          $ref: '#/components/schemas/Status6a6Enum'
        scenario_dimension:
          $ref: '#/components/schemas/Dimension'
        start_time_dimension:
          $ref: '#/components/schemas/Dimension'
        end_time_dimension:
          $ref: '#/components/schemas/Dimension'
        data_table:
          $ref: '#/components/schemas/SourceDataTable'
        status_message:
          type: string
          nullable: true
        olap_cube_change:
          $ref: '#/components/schemas/OlapCubeChange'
        source_import_type:
          allOf:
          - $ref: '#/components/schemas/SourceImportTypeEnum'
          readOnly: true
      required:
      - created_at
      - data_table
      - end_time_dimension
      - id
      - olap_cube_change
      - scenario_dimension
      - source_import_type
      - start_time_dimension
      - status
      - user
    DownloadFile:
      type: object
      properties:
        relative_path:
          type: string
      required:
      - relative_path
    User:
      type: object
      description: 'A serializer mixin that allows dynamic inclusion or exclusion of serializer fields by

        passing `fields=[...]` or `exclude_fields=[...]` when initializing.'
      properties:
        id:
          type: integer
          readOnly: true
        first_name:
          type: string
          maxLength: 100
        last_name:
          type: string
          maxLength: 100
        created_at:
          type: string
          format: date-time
          readOnly: true
        email:
          type: string
          format: email
          maxLength: 254
        is_staff:
          type: boolean
          readOnly: true
        is_cube_staff:
          type: boolean
          readOnly: true
        relationship_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RelationshipTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        timezone:
          $ref: '#/components/schemas/TimezoneEnum'
      required:
      - created_at
      - email
      - id
      - is_cube_staff
      - is_staff
    ImportUpdateApiDocAttributes_1:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/Status6a6Enum'
        status_message:
          type: string
      required:
      - status
    ConnectionImportSettingsResponse:
      type: object
      properties:
        block_reason:
          type: string
        tlds_needed:
          type: object
          additionalProperties: {}
        scenarios:
          type: object
          additionalProperties: {}
        num_unmapped:
          type: integer
        defaults:
          type: array
          items: {}
        transactions:
          $ref: '#/components/schemas/Transaction'
      required:
      - block_reason
      - defaults
      - num_unmapped
      - scenarios
      - tlds_needed
      - transactions
    SourceDataTableTypeEnum:
      enum:
      - AD_HOC
      - ERP_CONNECTION
      - GENERIC
      - EMPLOYEE_ROSTER
      - HRIS
      type: string
      description: '* `AD_HOC` - Ad Hoc

        * `ERP_CONNECTION` - ERP Connection

        * `GENERIC` - Generic

        * `EMPLOYEE_ROSTER` - Employee Roster

        * `HRIS` - HRIS Connection'
    SourceFileUpload:
      type: object
      properties:
        upload_urls:
          type: array
          items:
            type: string
            format: uri
      required:
      - upload_urls
    ResyncRequest:
      type: object
      properties:
        start_time_dimension_id:
          type: integer
          minimum: 1
          description: The time dimension ID for the beginning of the date range to sync (for supported Integrations).
        end_time_dimension_id:
          type: integer
          minimum: 1
          description: The time dimension ID for the end of the date range to sync (for supported Integrations).
    Status6a6Enum:
      enum:
      - CANCELLED
      type: string
      description: '* `CANCELLED` - Cancelled'
    Type95aEnum:
      enum:
      - BASIC
      - FORMULA
      - TAG
      type: string
      description: '* `BASIC` - Basic

        * `FORMULA` - Formula

        * `TAG` - Tag'
    SourceImportTypeEnum:
      enum:
      - USER
      - SCHEDULED
      type: string
      description: '* `USER` - User

        * `SCHEDULED` - Scheduled'
    BlankEnum:
      enum:
      - ''
    Status2c8Enum:
      enum:
      - ENABLED
      - DISABLING_VALUES
      - CLEARING_VALUES
      - VALUES_CLEARED
      - DISABLED
      type: string
      description: '* `ENABLED` - Enabled

        * `DISABLING_VALUES` - Disabling Values

        * `CLEARING_VALUES` - Clearing Values

        * `VALUES_CLEARED` - Values Cleared

        * `DISABLED` - Disabled'
    Dimension:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        parent_id:
          type: integer
          nullable: true
          readOnly: true
        name:
          type: string
          maxLength: 255
        active:
          type: boolean
          readOnly: true
        status:
          $ref: '#/components/schemas/Status2c8Enum'
        type:
          $ref: '#/components/schemas/Type95aEnum'
        rollup_type:
          nullable: true
          oneOf:
          - $ref: '#/components/schemas/RollupTypeEnum'
          - $ref: '#/components/schemas/BlankEnum'
          - $ref: '#/components/schemas/NullEnum'
        formula:
          type: string
          readOnly: true
        write_protection:
          $ref: '#/components/schemas/WriteProtectionEnum'
        position:
          type: integer
          maximum: 9223372036854775807
          minimum: -9223372036854775808
          format: int64
        special_case_id:
          type: string
          nullable: true
          maxLength: 100
        date:
          type: string
          format: date
          nullable: true
        has_children:
          type: boolean
        write_block_reason:
          type: string
          description: "If the dimension cannot be written to, return the reason why. Otherwise, return nothing.\n\nArgs:\n    obj: The model object to be checked if can be written to.\n\nReturns:\n    str (Optional): The error blocking the dimension from being written to, if one exists"
          readOnly: true
        metadata:
          type: string
          nullable: true
      required:
      - active
      - formula
      - id
      - name
      - parent_id
      - write_block_reason
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
