openapi: 3.2.0
info:
  title: Cube Authentication API
  version: 1.0.0 (1.0)
  description: '#### General Description

    An API to access underlying Cube functionality.'
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: Authentication
  description: 'The Cube API supports user authentication via OAuth2 using the OAuth2 Authorization Code Flow.

    To authenticate via OAuth2, an application must first be registered.'
paths:
  /auth/access_token:
    post:
      operationId: auth_access_token_create
      description: Do not use this endpoint, use the standard OAuth 2.0 PKCE flow instead
      summary: Get an Access Token
      tags:
      - Authentication
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenView'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthTokenView'
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AuthTokenView'
        required: true
      security:
      - {}
      deprecated: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenView'
          description: ''
  /auth/permissions/{group_id}:
    get:
      operationId: auth_permissions_retrieve
      description: Retrieves details for a given permissions group
      summary: Retrieve a Permission Group
      parameters:
      - in: header
        name: X-Company-ID
        schema:
          type: string
        description: Associates request with company
        required: true
      - in: path
        name: group_id
        schema:
          type: integer
        description: The ID of the permissions group
        required: true
      tags:
      - Authentication
      security:
      - OAuth2: []
      - {}
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthGroupPermissions'
          description: ''
components:
  schemas:
    AuthTokenView:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
      required:
      - email
      - password
    AuthGroupPermissions:
      type: object
      properties:
        id:
          type: integer
          readOnly: true
        name:
          type: string
          maxLength: 150
      required:
      - id
      - name
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
