openapi: 3.0.3
info:
  title: Cube Agents ChatMessages API
  version: 1.0.0 (1.0)
  description: "#### General Description\nAn API to access underlying Cube functionality. These endpoints are the same endpoints\nthat support Cube's universal add-ons and a plethora of integrations meaning you'll be able to interact with your\nCube data in many powerful ways. Visit the API section of Cube's [Help Center](https://help.cubesoftware.com/hc/en-us/sections/18205290556180-Custom-Integrations)\nfor more usage guides on how you can use this API to integrate with Cube to accomplish various tasks!\n\n#### Versioning\nAll requests to the API require a version to be configured via an `Accept` Header. The value of this Header should look like this:\n```\nAccept: application/json; version=1.0\n```\nNote that the version number may differ depending on which version of the endpoint is needed.\n\n#### Response Structure\nThe general response structure of Cube's API endpoints will contain a `\"data\"` and `\"metadata\"` root level key:\n```json\n{\n    \"data\": { ... object data or list of objects ... },\n    \"metadata\": {\n        \"status\": 200,\n        \"message\": \"Potential message with additional context\",\n        \"error\": false,\n        \"code\": \"\"\n    }\n}\n```\n\n#### Rate Limiting\nAll endpoints have a rate limit configured, most of them default to 5/s.\nWhen the rate limit is encountered, a 429 HTTP code will be returned.\n\n#### Error Handling\nIn the event an error occurs, the response will typically look like this:\n```json\n{\n    \"data\": {},\n    \"metadata\": {\n        \"status\": 400,\n        \"message\": \"Some error message\",\n        \"error\": true,\n        \"code\": \"SOME_ERROR_CODE\"\n    }\n}\n```\n"
  termsOfService: https://www.cubesoftware.com/terms-of-service
servers:
- url: https://api.cubesoftware.com
  description: Production API URL
tags:
- name: ChatMessages
paths:
  /agents/chat/messages:
    get:
      operationId: agents_chat_messages_retrieve
      description: List chat messages for a specific session. Supports filtering by session ID using the "session" query parameter.
      summary: List Chat Messages
      tags:
      - ChatMessages
      security:
      - OAuth2: []
      responses:
        '200':
          description: No response body
    post:
      operationId: agents_chat_messages_create
      description: Create a new chat message in a session
      summary: Create Chat Message
      tags:
      - ChatMessages
      security:
      - OAuth2: []
      responses:
        '201':
          description: No response body
  /agents/chat/messages/{id}:
    get:
      operationId: agents_chat_messages_retrieve_2
      description: Retrieve a specific chat message by ID
      summary: Retrieve Chat Message
      parameters:
      - in: path
        name: id
        schema:
          type: string
        required: true
      tags:
      - ChatMessages
      security:
      - OAuth2: []
      responses:
        '200':
          description: No response body
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://portal.cubesoftware.com/o/authorize/
          tokenUrl: https://api.cubesoftware.com/o/token/
          scopes: {}
      description: Standard Cube OAuth 2.0 flow
